<div class="ast-container">


  <div id="primary" class="content-area primary">


    <main id="main" class="site-main" role="main">


      <div data-elementor-type="single" data-elementor-id="580"
           class="elementor elementor-580 elementor-bc-flex-widget elementor-location-single post-370 post type-post status-publish format-standard has-post-thumbnail hentry category-cong-nghe ast-article-single"
           data-elementor-settings="[]">
        <div class="elementor-inner">
          <div class="elementor-section-wrap">
            <section
              class="elementor-element elementor-element-a033db1 elementor-section-full_width elementor-section-height-min-height elementor-section-height-default elementor-section-items-middle elementor-section elementor-top-section"
              data-id="a033db1" data-element_type="section"
              data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
              <div class="elementor-container elementor-column-gap-default">
                <div class="elementor-row">
                  <div
                    class="elementor-element elementor-element-d350124 elementor-column elementor-col-100 elementor-top-column"
                    data-id="d350124" data-element_type="column">
                    <div class="elementor-column-wrap">
                      <div class="elementor-widget-wrap">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <section
              class="elementor-element elementor-element-632174e3 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
              data-id="632174e3" data-element_type="section">
              <div class="elementor-container elementor-column-gap-default">
                <div class="elementor-row">
                  <div
                    class="elementor-element elementor-element-6fad0fdb elementor-column elementor-col-100 elementor-top-column"
                    data-id="6fad0fdb" data-element_type="column">
                    <div class="elementor-column-wrap  elementor-element-populated">
                      <div class="elementor-widget-wrap">
                        <div
                          class="elementor-element elementor-element-189a2b97 elementor-widget elementor-widget-theme-post-title elementor-page-title elementor-widget-heading"
                          data-id="189a2b97" data-element_type="widget" data-widget_type="theme-post-title.default">
                          <div class="elementor-widget-container">
                            <h1 class="elementor-heading-title elementor-size-default">Nhà máy sản xuất VLXD Sông Đáy
                              2</h1></div>
                        </div>

                        <div
                          class="elementor-element elementor-element-649ba7b1 elementor-widget elementor-widget-theme-post-content"
                          data-id="649ba7b1" data-element_type="widget" data-widget_type="theme-post-content.default">
                          <div class="elementor-widget-container">
                            <p>Nhà máy sản xuất VLXD Sông Đáy 2 được xây dựng trên diện tích 9.5 ha tại Cụm Công nghiệp
                              Hà Mãn &#8211; Trí Quả, Thuận Thành, Bắc Ninh.</p>
                            <p>Nhà máy Sông Đáy II được đầu tư đồng bộ và hiện đại gồm 6 dây chuyền sản xuất cống tròn
                              và cống hộp theo tiêu chuẩn ASTM C76 của Hoa Kỳ và TCVN 9113-2012, TCVN 9116-2012. Nhà máy
                              chính thức đi vào hoạt động từ đầu năm 2009.</p>
                            <p>Để biết thêm thông tin về nhà máy và các sản phẩm <a
                              href="https://caukienbetongmienbac.com/danh-muc-san-pham/" target="_blank"
                              rel="noopener noreferrer">cấu kiện bê tông đúc sẵn</a> Sông Đáy vui lòng LH Mr Hoàng:
                              0944997194</p>
                            <figure id="attachment_872" aria-describedby="caption-attachment-872" style="width: 730px"
                                    class="wp-caption aligncenter"><a href="https://caukienbetongmienbac.com/"
                                                                      target="_blank"
                                                                      rel="https://caukienbetongmienbac.com/ noopener noreferrer"><img
                              class="wp-image-872 size-full"
                              src="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-tron-2.jpg"
                              alt="Nhà máy cấu kiến bê tông đúc sẵn Sông Đáy" width="730" height="548"
                              srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-tron-2.jpg 730w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-tron-2-300x225.jpg 300w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-tron-2-600x450.jpg 600w"
                              sizes="(max-width: 730px) 100vw, 730px"/></a>
                              <figcaption id="caption-attachment-872" class="wp-caption-text">Nhà máy cấu kiến bê
                                tông đúc sẵn Sông Đáy
                              </figcaption>
                            </figure>
                            <figure id="attachment_873" aria-describedby="caption-attachment-873" style="width: 775px"
                                    class="wp-caption aligncenter"><a
                              href="https://caukienbetongmienbac.com/danh-muc-san-pham/cong-hop-doi/" target="_blank"
                              rel="https://caukienbetongmienbac.com/danh-muc-san-pham/cong-hop-doi/ noopener noreferrer"><img
                              class="wp-image-873 size-full"
                              src="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/Bai-cong-SD-2-3.jpg"
                              alt="Bãi tập kết cống hộp đúc sẵn" width="775" height="519"
                              srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/Bai-cong-SD-2-3.jpg 775w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/Bai-cong-SD-2-3-300x201.jpg 300w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/Bai-cong-SD-2-3-768x514.jpg 768w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/Bai-cong-SD-2-3-600x402.jpg 600w"
                              sizes="(max-width: 775px) 100vw, 775px"/></a>
                              <figcaption id="caption-attachment-873" class="wp-caption-text">Bãi tập kết cống hộp
                                đúc sẵn
                              </figcaption>
                            </figure>
                            <figure id="attachment_875" aria-describedby="caption-attachment-875" style="width: 798px"
                                    class="wp-caption aligncenter"><a
                              href="https://caukienbetongmienbac.com/san-pham/cong-hop-be-tong-duc-san-h3000x3000/"
                              target="_blank"
                              rel="https://caukienbetongmienbac.com/san-pham/cong-hop-be-tong-duc-san-h3000x3000/ noopener noreferrer"><img
                              class="wp-image-875 size-full"
                              src="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/hop.jpg"
                              alt="Cống hộp đơn đúc sẵn H3mx3m" width="798" height="545"
                              srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/hop.jpg 798w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/hop-300x205.jpg 300w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/hop-768x525.jpg 768w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/hop-600x410.jpg 600w"
                              sizes="(max-width: 798px) 100vw, 798px"/></a>
                              <figcaption id="caption-attachment-875" class="wp-caption-text">Cống hộp đơn đúc sẵn
                                H3mx3m
                              </figcaption>
                            </figure>
                            <figure id="attachment_876" aria-describedby="caption-attachment-876" style="width: 960px"
                                    class="wp-caption aligncenter"><a
                              href="https://caukienbetongmienbac.com/danh-muc-san-pham/cong-tron/" target="_blank"
                              rel="https://caukienbetongmienbac.com/danh-muc-san-pham/cong-tron/ noopener noreferrer"><img
                              class="wp-image-876 size-full"
                              src="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/tron.jpg"
                              alt="Kho cống tròn đúc sẵn Sông Đáy" width="960" height="640"
                              srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/tron.jpg 960w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/tron-300x200.jpg 300w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/tron-768x512.jpg 768w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/tron-600x400.jpg 600w"
                              sizes="(max-width: 960px) 100vw, 960px"/></a>
                              <figcaption id="caption-attachment-876" class="wp-caption-text">Kho cống tròn đúc sẵn
                                Sông Đáy
                              </figcaption>
                            </figure>
                            <p><img class="aligncenter size-full wp-image-874"
                                    src="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/Day-chuyen-vihy-Maste-2.jpg"
                                    alt="" width="615" height="461"
                                    srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/Day-chuyen-vihy-Maste-2.jpg 615w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/Day-chuyen-vihy-Maste-2-300x225.jpg 300w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/Day-chuyen-vihy-Maste-2-600x450.jpg 600w"
                                    sizes="(max-width: 615px) 100vw, 615px"/></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>


    </main><!-- #main -->


  </div><!-- #primary -->


</div>
