<div class="ast-container">


  <div id="primary" class="content-area primary">


    <main id="main" class="site-main" role="main">


      <div data-elementor-type="single" data-elementor-id="580"
           class="elementor elementor-580 elementor-bc-flex-widget elementor-location-single post-1537 post type-post status-publish format-standard has-post-thumbnail hentry category-tin-tuc ast-article-single"
           data-elementor-settings="[]">
        <div class="elementor-inner">
          <div class="elementor-section-wrap">
            <section
              class="elementor-element elementor-element-a033db1 elementor-section-full_width elementor-section-height-min-height elementor-section-height-default elementor-section-items-middle elementor-section elementor-top-section"
              data-id="a033db1" data-element_type="section"
              data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
              <div class="elementor-container elementor-column-gap-default">
                <div class="elementor-row">
                  <div
                    class="elementor-element elementor-element-d350124 elementor-column elementor-col-100 elementor-top-column"
                    data-id="d350124" data-element_type="column">
                    <div class="elementor-column-wrap">
                      <div class="elementor-widget-wrap">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <section
              class="elementor-element elementor-element-632174e3 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
              data-id="632174e3" data-element_type="section">
              <div class="elementor-container elementor-column-gap-default">
                <div class="elementor-row">
                  <div
                    class="elementor-element elementor-element-6fad0fdb elementor-column elementor-col-100 elementor-top-column"
                    data-id="6fad0fdb" data-element_type="column">
                    <div class="elementor-column-wrap  elementor-element-populated">
                      <div class="elementor-widget-wrap">
                        <div
                          class="elementor-element elementor-element-189a2b97 elementor-widget elementor-widget-theme-post-title elementor-page-title elementor-widget-heading"
                          data-id="189a2b97" data-element_type="widget" data-widget_type="theme-post-title.default">
                          <div class="elementor-widget-container">
                            <h1 class="elementor-heading-title elementor-size-default">Bản vẽ thiết kế ống cống tròn,
                              cống hộp đơn, cống hộp đôi công ty Sông Đáy</h1></div>
                        </div>
                        <div
                          class="elementor-element elementor-element-649ba7b1 elementor-widget elementor-widget-theme-post-content"
                          data-id="649ba7b1" data-element_type="widget" data-widget_type="theme-post-content.default">
                          <div class="elementor-widget-container">
                            <h1>Bản vẽ thiết kế ống cống Sông Đáy</h1>
                            <p>Công ty CP VLXD Sông Đáy trân trọng gửi tới quý khách hàng thiết kế ống cống tròn ,
                              cống hộp đơn, cống hộp đôi công ty Sông Đáy :</p>
                            <h2>Bản vẽ thiết kế ống cống tròn bê tông cốt thép <a
                              href="https://drive.google.com/file/d/1wJQm88zSUUjjODEfhv_5xq2Pz_VGju5y/view">Tại đây</a>
                            </h2>
                            <h2>Bản vẽ thiết kế ống cống tròn tải cao bê tông cốt thép <a
                              href="https://drive.google.com/file/d/1E3JLUO35_nCYRqa-pfvBG7nxJkxyOLwD/view">Tại đây</a>
                            </h2>
                            <h2>Bản vẽ thiết kế ống cống hộp đơn bê tông cốt thép <a
                              href="https://drive.google.com/file/d/1iFWkUWsuFtGGlSujt_voWOmqQLW0SDWE/view">Tại đây</a>
                            </h2>
                            <h2>Bản vẽ thiết kế ống cống hộp đôi bê tông cốt thép <a
                              href="https://drive.google.com/file/d/1suybN2P3NxOI4_sgmzYwCtwSgPR5Y3DQ/view">Tại đây</a>
                            </h2>
                            <p>Công ty Sông Đáy xin chân thành cám ơn bạn đã đọc đã quan tâm đến sản phẩm Sông Đáy, bổ
                              sung thông tin nhận biết hữu ích cũng như có phương án tìm cho công trình của mình đơn vị
                              cung cấp ống cóng hộp đúc sẵn chất lượng nhất.</p>
                            <p>Đặc biệt, bạn hãy liên hệ Hotline của Sông Đáy để được Tư vấn viên đến trực tiếp sau 20
                              phút hoặc bất kì thời gian nào bạn thấy tiện.</p>
                            <p>Công ty Sông Đáy luôn mong muốn bạn có được sản phẩm cấu kiên bê tông cốt thép chất
                              lượng cho công trình của mình</p>
                            <p><strong>Mọi chi tiết xin liên hệ trực tiếp hoặc gọi điện</strong></p>
                            <p><strong>Công ty Cp VLXD Sông Đáy</strong></p>
                            <p><strong>Văn phòng GD: Tầng 4 tòa nhà Hà Thành Plaza, 102 Thái Thịnh, Đống Đa,
                              Hà Nội</strong></p>
                            <p><strong>Nhà máy sản xuất:</strong></p>
                            <ul>
                              <li>Nhà máy 1: Cụm công nghiệp Phú Nghĩa, huyện Chương Mỹ, Hà Nội.</li>
                              <li>Nhà máy 2: Cụm công nghiệp Hà Mãn, Trí Quả, Thuận Thành, Bắc Ninh</li>
                            </ul>
                            <p><strong>Hotline: 0944997194</strong></p>
                            <p><strong>Mail: hoangtran.songday@gmail.com</strong></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>


    </main><!-- #main -->


  </div><!-- #primary -->


</div>
