<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">
    <img src="../../../assets/images_Quang/logo-1.png" width="40" height="40" class="d-inline-block align-top" alt="">
    <span style="font-size: 24px">BÊ TÔNG SÔNG ĐÁY</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown" style="font-size: 1rem">
    <ul class="navbar-nav">
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="gioiThieu" role="button" data-toggle="dropdown" aria-haspopup="true">
          Giới thiệu
        </a>
        <div class="dropdown-menu" aria-labelledby="gioiThieu" style="font-size: 1rem">
          <a class="dropdown-item" href="#">Lịch sử phát triển</a>
          <a class="dropdown-item" href="#">Cơ cấu tổ chức</a>
          <a class="dropdown-item" href="#">Hồ sơ pháp lý</a>
          <a class="dropdown-item" href="#">Năng lực sản xuất</a>
          <a class="dropdown-item" href="#">Chứng chỉ chất lượng</a>
        </div>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Cống tròn</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Cống hộp</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Hào kỹ thuật</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Hố ga</a>
      </li>
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="sanPham" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sản phẩm
        </a>
        <div class="dropdown-menu" aria-labelledby="sanPham" style="font-size: 1rem">
          <a class="dropdown-item" href="#">Cống tròn</a>
          <a class="dropdown-item" href="#">Cống hộp đơn</a>
          <a class="dropdown-item" href="#">Cống hộp đôi</a>
          <a class="dropdown-item" href="#">Hào kỹ thuật</a>
          <a class="dropdown-item" href="#">Hố ga đúc sẵn</a>
          <a class="dropdown-item" href="#">Cống kích ngầm</a>
          <a class="dropdown-item" href="#">Bê tông vòm</a>
        </div>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Nhà máy</a>
      </li>
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="tinTuc" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Tin tức
        </a>
        <div class="dropdown-menu" aria-labelledby="tinTuc" style="font-size: 1rem">
          <a class="dropdown-item" href="#">Cống tròn</a>
          <a class="dropdown-item" href="#">Cống hộp đơn</a>
          <a class="dropdown-item" href="#">Cống hộp đôi</a>
          <a class="dropdown-item" href="#">Hào kỹ thuật</a>
          <a class="dropdown-item" href="#">Hố ga đúc sẵn</a>
          <a class="dropdown-item" href="#">Cống kích ngầm</a>
          <a class="dropdown-item" href="#">Bê tông vòm</a>
        </div>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Liên hệ</a>
      </li>
    </ul>
  </div>
</nav>
