<div class="ast-container">


  <div id="primary" class="content-area primary">


    <main id="main" class="site-main" role="main">


      <div data-elementor-type="single" data-elementor-id="580"
           class="elementor elementor-580 elementor-bc-flex-widget elementor-location-single post-1245 post type-post status-publish format-standard has-post-thumbnail hentry category-tin-tuc ast-article-single"
           data-elementor-settings="[]">
        <div class="elementor-inner">
          <div class="elementor-section-wrap">
            <section
              class="elementor-element elementor-element-a033db1 elementor-section-full_width elementor-section-height-min-height elementor-section-height-default elementor-section-items-middle elementor-section elementor-top-section"
              data-id="a033db1" data-element_type="section"
              data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
              <div class="elementor-container elementor-column-gap-default">
                <div class="elementor-row">
                  <div
                    class="elementor-element elementor-element-d350124 elementor-column elementor-col-100 elementor-top-column"
                    data-id="d350124" data-element_type="column">
                    <div class="elementor-column-wrap">
                      <div class="elementor-widget-wrap">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <section
              class="elementor-element elementor-element-632174e3 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
              data-id="632174e3" data-element_type="section">
              <div class="elementor-container elementor-column-gap-default">
                <div class="elementor-row">
                  <div
                    class="elementor-element elementor-element-6fad0fdb elementor-column elementor-col-100 elementor-top-column"
                    data-id="6fad0fdb" data-element_type="column">
                    <div class="elementor-column-wrap  elementor-element-populated">
                      <div class="elementor-widget-wrap">
                        <div
                          class="elementor-element elementor-element-189a2b97 elementor-widget elementor-widget-theme-post-title elementor-page-title elementor-widget-heading"
                          data-id="189a2b97" data-element_type="widget" data-widget_type="theme-post-title.default">
                          <div class="elementor-widget-container">
                            <h1 class="elementor-heading-title elementor-size-default">Hướng dẫn thi công cống tròn
                              đúc sẵn</h1></div>
                        </div>
                        <div
                          class="elementor-element elementor-element-649ba7b1 elementor-widget elementor-widget-theme-post-content"
                          data-id="649ba7b1" data-element_type="widget" data-widget_type="theme-post-content.default">
                          <div class="elementor-widget-container">
                            <h1 style="text-align: center;"><strong>Hướng dẫn thi công cống tròn đúc sẵn</strong>
                            </h1>
                            <ul>
                              <li>
                                <h2 style="text-align: justify;"><strong>Chỉ dẫn lắp đặt cống tròn đúc sẵn</strong>
                                </h2>
                              </li>
                            </ul>
                            <p style="text-align: justify;"><em>Bước 1: Làm sạch bụi bẩn và các tạp chất phần đầu loe và
                              phần đầu nối của cống</em></p>
                            <p style="text-align: justify;"><em>Bước 2: Làm trơn bề mặt đầu loe và phần đầu nối: sử dụng
                              bàn chải, vải, xốp hoặc găng tay làm sạch tại bề mặt lắp đặt cống</em></p>
                            <p style="text-align: justify;"><em>Bước 3: Làm sạch joint cao su trước khi lắp vào phần đầu
                              nối. Lắp đặt cho joint cao su căng đều trên toàn bộ đầu nối.</em></p>
                            <ul>
                              <li>
                                <p>
                                  <figure id="attachment_1555" aria-describedby="caption-attachment-1555"
                                          style="width: 400px" class="wp-caption aligncenter"><img class="wp-image-1555"
                                                                                                   src="https://caukienbetongmienbac.com/wp-content/uploads/2019/05/Hương-dẫn-thi-công-lắp-đặt-cống-tròn-đúc-sẵn-M1.png"
                                                                                                   alt="huong dan thi cong lap dat cong tron duc san M1"
                                                                                                   width="400"
                                                                                                   height="417"/>
                                    <figcaption id="caption-attachment-1555" class="wp-caption-text">Hương dẫn thi công
                                      lắp đặt cống tròn đúc sẵn M1
                                    </figcaption>
                                  </figure>
                              </li>
                            </ul>
                            <div class="mceTemp"></div>
                            <p style="text-align: justify;"><em>Bước 4: Đặt đầu loe và đầu nối thẳng tim. Trước khi lắp
                              đặt cần chú ý căn chỉnh joint cao su cẩn thận để không bị nghiêng lệch sau lắp đặt</em>
                            </p>
                            <ul style="text-align: justify;">
                              <li>
                                <h2><strong>Các loại vật liệu kết nối</strong></h2>
                              </li>
                            </ul>
                            <p style="text-align: justify;"><em>2.1 Mastic hoặc sợi đay tẩm nhựa đường</em></p>
                            <p style="text-align: justify;">Bề mặt liên kết sẽ được làm sạch một cách tỉ mỉ, khô ráo và
                              phù hợp với chỉ dẫn tại nhà máy. Một số lượng vừa đủ chất bịt kín sẽ được lấp đầy khoảng
                              nối hình vành khuyên với một chút bị ép ra. Đối với thời tiết lạnh, khả năng làm việc của
                              chất bịt kín mastic hoặc đay sẽ vẫn làm việc nếu đảm bảo mastic và bề mặt kết nối vẫn đủ
                              nhiệt độ.</p>
                            <p style="text-align: justify;"><em>2.2. Vữa xi măng</em></p>
                            <p style="text-align: justify;">Bề mặt liên kết sẽ được làm sạch một cách tỉ mỉ, làm ẩm trực
                              tiếp bằng nước trước khi lắp đặt cống, một lớp vữa được đổ vào phần thấp hơn của đầu loe
                              hoặc phần có rãnh và phần trên của phần đầu nối của đoạn cống lắp đặt. Sau đó phần đầu nối
                              sẽ được chèn vào phần đầu loe cho đến khi vữa bị ép ra ngoài. Tại mỗi khoảng nối vành
                              khuyên của đoạn cuối cống sẽ được lấp đầy bằng vữa hoặc vữa thừa trong ống cống, sau đó
                              được lau sạch và làm phẳng bề mặt.</p>
                            <ul style="text-align: justify;">
                              <li>
                                <h2><strong>Thi công.</strong></h2>
                              </li>
                            </ul>
                            <p style="text-align: justify;"> Đối với các loại cống có đường kính nhỏ hơn 600mm có thể
                              lắp ráp bởi một thanh bar và một miếng gỗ. Đặt thanh gỗ tại mặt cắt tim cống, dùng thanh
                              bar cắm xuống đẩy về phía trước (hình 3.1). Để quá trình lắp đặt cống được thuận tiện có
                              thể dùng các dây xích hoặc cáp buộc xung quanh các ống cống sau đó dùng móc để liên kết 2
                              ống cống lại với nhau (hình 3.2). Một đầu kết nối vào thanh bar, khi đó chỉ cần kéo thanh
                              bar ngược lại là có thể lắp đặt cống dễ dàng.</p>
                            <ul>
                              <li style="list-style-type: none;">
                                <ul>
                                  <li>
                                    <p>
                                      <figure id="attachment_1556" aria-describedby="caption-attachment-1556"
                                              style="width: 600px" class="wp-caption aligncenter"><img
                                        class="wp-image-1556"
                                        src="https://caukienbetongmienbac.com/wp-content/uploads/2019/05/8-1.png"
                                        alt="huong dan thi cong lap dat cong tron duc san M1" width="600" height="466"
                                        srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/05/8-1.png 540w, https://caukienbetongmienbac.com/wp-content/uploads/2019/05/8-1-300x233.png 300w"
                                        sizes="(max-width: 600px) 100vw, 600px"/>
                                        <figcaption id="caption-attachment-1556" class="wp-caption-text">Hướng dẫn thi
                                          công lắp đặt cống tròn đúc sẵn M2
                                        </figcaption>
                                      </figure>
                                  </li>
                                  <li>
                                    <p>
                                      <figure id="attachment_1557" aria-describedby="caption-attachment-1557"
                                              style="width: 588px" class="wp-caption aligncenter"><img
                                        class="Hướng dẫn thi công lắp đặt cống tròn đúc sẵn M4 wp-image-1557 size-full"
                                        title="Hướng dẫn thi công lắp đặt cống tròn đúc sẵn M4"
                                        src="https://caukienbetongmienbac.com/wp-content/uploads/2019/05/9-1.png"
                                        alt="huong dan thi cong lap dat cong tron duc san M4" width="588" height="184"
                                        srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/05/9-1.png 588w, https://caukienbetongmienbac.com/wp-content/uploads/2019/05/9-1-300x94.png 300w"
                                        sizes="(max-width: 588px) 100vw, 588px"/>
                                        <figcaption id="caption-attachment-1557" class="wp-caption-text">Hướng dẫn thi
                                          công lắp đặt cống tròn đúc sẵn M4
                                        </figcaption>
                                      </figure>
                                  </li>
                                </ul>
                              </li>
                            </ul>
                            <p style="text-align: justify;">Để quá trình lắp đặt cống được thuận tiện có thể dùng các
                              dây xích hoặc cáp buộc xung quanh các ống cống sau đó dùng móc để liên kết 2 ống cống lại
                              với nhau (hình 3.2).</p>
                            <p style="text-align: justify;">Một đầu kết nối vào thanh bar, khi đó chỉ cần kéo thanh bar
                              ngược lại là có thể lắp đặt cống dễ dàng.</p>
                            <p style="text-align: justify;">Đối với cống đường kính lớn (D&gt;600mm) khi lớp dăm đệm
                              được sử dụng, sẽ sử dụng các thiết bị kéo bằng máy. Và để lắp đặt cống đường kính lớn có
                              thể dùng bộ ròng rọc cọc neo (hình 3.3) ở bên trong ống cống để thi công.</p>
                            <p style="text-align: justify;">Cố định các thanh gỗ và liên kết chúng bằng dây xích hoặc
                              cáp. Sau đó dùng máy kéo một đầu của bộ ròng rọc để lắp đặt cống</p>
                            <ul>
                              <li>
                                <p>
                                  <figure id="attachment_1558" aria-describedby="caption-attachment-1558"
                                          style="width: 590px" class="wp-caption aligncenter"><img
                                    class="Hướng dẫn thi công lắp đặt cống tròn đúc sẵn M5 wp-image-1558 size-full"
                                    title="Hướng dẫn thi công lắp đặt cống tròn đúc sẵn M5"
                                    src="https://caukienbetongmienbac.com/wp-content/uploads/2019/05/10-1.png"
                                    alt="huong dan thi cong lap dat cong tron duc san M5" width="590" height="168"
                                    srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/05/10-1.png 590w, https://caukienbetongmienbac.com/wp-content/uploads/2019/05/10-1-300x85.png 300w"
                                    sizes="(max-width: 590px) 100vw, 590px"/>
                                    <figcaption id="caption-attachment-1558" class="wp-caption-text">Hướng dẫn thi
                                      công lắp đặt cống tròn đúc sẵn M5
                                    </figcaption>
                                  </figure>
                              </li>
                            </ul>
                            <p style="text-align: justify;"><strong><em>Lưu ý: </em></strong>Dùng các thiết bị đào đất
                              (như máy đào, máy xúc…) để đẩy ống cống có thể gây nguy hiểm vì có thể gây vỡ cống. Sự
                              tiếp xúc trực tiếp của thiết bị này với cống bị ngăn cấm, cần sử dụng miếng đệm giữa cống
                              và máy để tránh sự nứt vỡ này.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>


    </main><!-- #main -->


  </div><!-- #primary -->


</div>
