<div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--description panel entry-content wc-tab" id="tab-description"
     role="tabpanel" aria-labelledby="tab-title-description" style="display: block;">


  <h1><span style="font-family: 'Arial',sans-serif; background: #FBFBFB;">&nbsp; Tấm vòm bê tông</span></h1>
  <p><span style="font-family: 'Arial',sans-serif; background: #FBFBFB;">Công ty CPVLXD Sông Đáy đã mạnh dạn tiên phong trong việc đầu tư Nhà máy sản xuất tấm vòm bê tông cho dự án tàu điện ngầm đầu tiên tại Việt Nam.</span><span
    style="font-family: 'Arial',sans-serif;"><br
    style="font-variant-ligatures: normal; font-variant-caps: normal; orphans: 2; widows: 2; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; word-spacing: 0px;"><span
    style="background: #FBFBFB;">&nbsp; &nbsp;Sử dụng công nghệ hiện đại của Châu Âu và Nhật Bản – Đang được triển khai ở hầu hết các đô thị lớn khu vực Châu Á</span></span><br
    style="font-variant-ligatures: normal; font-variant-caps: normal; orphans: 2; widows: 2; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; word-spacing: 0px;"><span
    style="background: #FBFBFB;"><span
    style="font-variant-ligatures: normal; font-variant-caps: normal; orphans: 2; widows: 2; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; float: none; word-spacing: 0px;">&nbsp; &nbsp;Cung cấp tấm vòm bê tông hoàn hảo về chất lượng, cũng như tiến độ.</span></span><br
    style="font-variant-ligatures: normal; font-variant-caps: normal; orphans: 2; widows: 2; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; word-spacing: 0px;"><span
    style="background: #FBFBFB;"><span
    style="font-variant-ligatures: normal; font-variant-caps: normal; orphans: 2; widows: 2; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; float: none; word-spacing: 0px;">&nbsp; &nbsp;Sản xuất trên dây chuyền hoàn toàn tự động</span></span><br
    style="font-variant-ligatures: normal; font-variant-caps: normal; orphans: 2; widows: 2; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; word-spacing: 0px;"><span
    style="background: #FBFBFB;"><span
    style="font-variant-ligatures: normal; font-variant-caps: normal; orphans: 2; widows: 2; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; float: none; word-spacing: 0px;">&nbsp; &nbsp;Chất lượng được kiểm soát chặt chẽ ở mọi khâu của quá trình sản xuất.</span></span>
  </p>
  <p><span style="font-family: 'Arial',sans-serif;">&nbsp; &nbsp;Sản phẩm <a>tấm vòm bê tông</a> gồm một vòng tròn đường hầm bao gồm 6 tấm bê tong cốt thép ghép lại với nhau, trong đó thông số kỹ thuật của 1 tấm bê tong vòm tàu điện ngầm như sau:</span>
  </p>
  <p><span style="font-family: 'Arial',sans-serif;">– Khối lượng tối đa của tấm bê tông:&nbsp; 3700 kg<br>
– Đường kính ngoài:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 6300 mm<br>
– Đường kính trong:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 5700 mm<br>
– Chiều rộng của tấm bê tông: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 1400 mm<br>
– Độ dày của tấm bê tông:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; 300 mm</span>
  </p>
  <p><span style="font-family: 'Arial',sans-serif;">&nbsp; &nbsp;Để biết thêm thông tin chi tiết về sản phẩm <a>tấm vòm bê tông</a> và các <a>cấu kiện bê tông đúc sẵn</a> vui lòng liên hệ Mr Quang 0968979040.</span>
  </p>
  <figure id="attachment_946" aria-describedby="caption-attachment-946" style="width: 600px"
          class="wp-caption aligncenter"><a
    rel="https://caukienbetongmienbac.com/san-pham/tam-vom-be-tong/ noopener noreferrer"><img
    class="wp-image-946 size-full" src="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/be-tong-1.jpg"
    alt="Tấm vòm bê tông" width="600" height="400"
    srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/be-tong-1.jpg 615w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/be-tong-1-300x199.jpg 300w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/be-tong-1-600x398.jpg 600w"
    sizes="(max-width: 615px) 100vw, 615px"></a>
    <figcaption id="caption-attachment-946" class="wp-caption-text">Tấm vòm bê tông</figcaption>
  </figure>
  <figure id="attachment_947" aria-describedby="caption-attachment-947" style="width: 600px"
          class="wp-caption aligncenter"><a
                                            rel="https://caukienbetongmienbac.com/san-pham/tam-vom-be-tong/ noopener noreferrer"><img
    class="wp-image-947 size-full" src="../../../assets/Congsongday_File_Pictures/TAM VOM BE TONG/2.jpg"
    alt="Một vòng tròn đường hầm" width="600" height="400"></a>
    <figcaption id="caption-attachment-947" class="wp-caption-text">Một vòng tròn đường hầm</figcaption>
  </figure>
</div>
<div class="fb-comments" data-width="" data-numposts="5"></div>
