<div class="ast-container">


  <div id="primary" class="content-area primary">


    <main id="main" class="site-main" role="main">


      <div data-elementor-type="single" data-elementor-id="580"
           class="elementor elementor-580 elementor-bc-flex-widget elementor-location-single post-646 post type-post status-publish format-standard has-post-thumbnail hentry category-tin-tuc ast-article-single"
           data-elementor-settings="[]">
        <div class="elementor-inner">
          <div class="elementor-section-wrap">
            <section
              class="elementor-element elementor-element-a033db1 elementor-section-full_width elementor-section-height-min-height elementor-section-height-default elementor-section-items-middle elementor-section elementor-top-section"
              data-id="a033db1" data-element_type="section"
              data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
              <div class="elementor-container elementor-column-gap-default">
                <div class="elementor-row">
                  <div
                    class="elementor-element elementor-element-d350124 elementor-column elementor-col-100 elementor-top-column"
                    data-id="d350124" data-element_type="column">
                    <div class="elementor-column-wrap">
                      <div class="elementor-widget-wrap">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <section
              class="elementor-element elementor-element-632174e3 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
              data-id="632174e3" data-element_type="section">
              <div class="elementor-container elementor-column-gap-default">
                <div class="elementor-row">
                  <div
                    class="elementor-element elementor-element-6fad0fdb elementor-column elementor-col-100 elementor-top-column"
                    data-id="6fad0fdb" data-element_type="column">
                    <div class="elementor-column-wrap  elementor-element-populated">
                      <div class="elementor-widget-wrap">
                        <div
                          class="elementor-element elementor-element-189a2b97 elementor-widget elementor-widget-theme-post-title elementor-page-title elementor-widget-heading"
                          data-id="189a2b97" data-element_type="widget" data-widget_type="theme-post-title.default">
                          <div class="elementor-widget-container">
                            <h1 class="elementor-heading-title elementor-size-default">Hội thi nấu ăn mừng ngày
                              20-10</h1></div>
                        </div>
                        <div
                          class="elementor-element elementor-element-649ba7b1 elementor-widget elementor-widget-theme-post-content"
                          data-id="649ba7b1" data-element_type="widget" data-widget_type="theme-post-content.default">
                          <div class="elementor-widget-container">
                            <p style="margin: 0in 0in 0.0001pt; background: #fbfbfb;"><span
                              style="font-family: 'Arial',sans-serif; color: black;">Với sự tham gia của toàn thể lao động nữ trong Công ty. Giải thi được chia thành 4 đội gồm 2 đội khối văn phòng và 02 đội khối nhà máy với nhiều thực đơn đa dagj, phong phú và có độ khó cao nhằm thử thách kỹ năng cũng như khả năng nội trợ của các chị em trong Công ty tại gia đình.</span>
                            </p>
                            <p
                              style="margin: 0in 0in 0.0001pt; background: #fbfbfb; font-variant-ligatures: normal; font-variant-caps: normal; orphans: 2; widows: 2; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; word-spacing: 0px;">
                              <span style="font-family: 'Arial',sans-serif; color: black;">Kết thúc hội thi, Ban giám khảo đã tiến hành chấm điểm và Giải nhất thuộc về đội liên phòng HCNS và TCKT. </span>
                            </p>
                            <p
                              style="margin: 0in 0in 0.0001pt; background: #fbfbfb; font-variant-ligatures: normal; font-variant-caps: normal; orphans: 2; widows: 2; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; word-spacing: 0px;">
                              <span style="font-family: 'Arial',sans-serif; color: black;">Đây sẽ là một trong những hoạt động thường niên tại Công ty CP VLXD Sông Đáy. </span>
                            </p>
                            <p
                              style="margin: 0in 0in 0.0001pt; background: #fbfbfb; font-variant-ligatures: normal; font-variant-caps: normal; orphans: 2; widows: 2; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; word-spacing: 0px;">
                              <span style="font-family: 'Arial',sans-serif; color: black;">Dưới đây là một số hình ảnh ngày hội</span>
                            </p>
                            <p><img class="aligncenter wp-image-837"
                                    src="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-be-tong.jpg"
                                    alt="" width="840" height="630"
                                    srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-be-tong.jpg 960w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-be-tong-300x225.jpg 300w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-be-tong-768x576.jpg 768w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-be-tong-600x450.jpg 600w"
                                    sizes="(max-width: 840px) 100vw, 840px"/> <img class="aligncenter wp-image-838"
                                                                                   src="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-cong.jpg"
                                                                                   alt="" width="840" height="1120"
                                                                                   srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-cong.jpg 720w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-cong-225x300.jpg 225w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-cong-600x800.jpg 600w"
                                                                                   sizes="(max-width: 840px) 100vw, 840px"/>
                              <img class="aligncenter wp-image-839"
                                   src="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-duc-san-mien-bac.jpg"
                                   alt="" width="840" height="1120"
                                   srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-duc-san-mien-bac.jpg 720w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-duc-san-mien-bac-225x300.jpg 225w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-duc-san-mien-bac-600x800.jpg 600w"
                                   sizes="(max-width: 840px) 100vw, 840px"/> <img class="aligncenter wp-image-840"
                                                                                  src="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-hop-doi.jpg"
                                                                                  alt="" width="840" height="630"
                                                                                  srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-hop-doi.jpg 960w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-hop-doi-300x225.jpg 300w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-hop-doi-768x576.jpg 768w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-hop-doi-600x450.jpg 600w"
                                                                                  sizes="(max-width: 840px) 100vw, 840px"/>
                              <img class="aligncenter wp-image-841"
                                   src="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-hop.jpg" alt=""
                                   width="840" height="630"
                                   srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-hop.jpg 960w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-hop-300x225.jpg 300w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-hop-768x576.jpg 768w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-hop-600x450.jpg 600w"
                                   sizes="(max-width: 840px) 100vw, 840px"/> <img class="aligncenter wp-image-842"
                                                                                  src="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-song-day.jpg"
                                                                                  alt="" width="840" height="630"
                                                                                  srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-song-day.jpg 960w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-song-day-300x225.jpg 300w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-song-day-768x576.jpg 768w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-song-day-600x450.jpg 600w"
                                                                                  sizes="(max-width: 840px) 100vw, 840px"/>
                              <img class="aligncenter wp-image-843"
                                   src="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-tron-duc-san.jpg"
                                   alt="" width="840" height="1120"
                                   srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-tron-duc-san.jpg 720w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-tron-duc-san-225x300.jpg 225w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-tron-duc-san-600x800.jpg 600w"
                                   sizes="(max-width: 840px) 100vw, 840px"/> <img class="aligncenter wp-image-844"
                                                                                  src="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-tron.jpg"
                                                                                  alt="" width="840" height="630"
                                                                                  srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-tron.jpg 960w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-tron-300x225.jpg 300w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-tron-768x576.jpg 768w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-tron-600x450.jpg 600w"
                                                                                  sizes="(max-width: 840px) 100vw, 840px"/>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>


    </main><!-- #main -->


  </div><!-- #primary -->


</div>
