<div class="ast-container">

  <div data-elementor-type="post" data-elementor-id="464" class="elementor elementor-464" data-elementor-settings="[]">
    <div class="elementor-inner">
      <div class="elementor-section-wrap">
        <section
          class="elementor-element elementor-element-eb734ef elementor-section-height-min-height elementor-section-full_width elementor-section-height-default elementor-section-items-middle elementor-section elementor-top-section"
          data-id="eb734ef" data-element_type="section"
          data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
          <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-row">
              <div
                class="elementor-element elementor-element-df4b634 elementor-column elementor-col-100 elementor-top-column"
                data-id="df4b634" data-element_type="column">
                <div class="elementor-column-wrap">
                  <div class="elementor-widget-wrap">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section
          class="elementor-element elementor-element-6881b76 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
          data-id="6881b76" data-element_type="section">
          <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-row">
              <div
                class=" col-md-3 elementor-element elementor-element-34eaf7d elementor-column elementor-col-50 elementor-top-column"
                data-id="34eaf7d" data-element_type="column">
                <div class="elementor-column-wrap  elementor-element-populated">
                  <div class="elementor-widget-wrap">
                    <div
                      class="elementor-element elementor-element-85e9c9a elementor-widget elementor-widget-text-editor"
                      data-id="85e9c9a" data-element_type="widget" data-widget_type="text-editor.default">
                      <div class="elementor-widget-container">
                        <div class="elementor-text-editor elementor-clearfix">
                          <div class="sidebar-left"><h4><span style="color: #000000;"><a style="color: #000000;">Giới thiệu</a></span>
                          </h4>
                            <ul>
                              <li><a (click)="routerLinkLichSu()">Lịch sử phát
                                triển</a></li>
                              <li><a (click)="routerLinkCoCau()">Cơ cấu tổ
                                chức</a></li>
                              <li><a (click)="routerLinkHoso()">Hồ sơ pháp lý</a>
                              </li>
                              <li><a (click)="routerLinkNangLuc()">Năng lực sản
                                xuất</a></li>
                              <li><a (click)="routerLinkChungChi()">Chứng chỉ
                                chất lượng</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      class="elementor-element elementor-element-7fdee39 elementor-widget elementor-widget-text-editor"
                      data-id="7fdee39" data-element_type="widget" data-widget_type="text-editor.default">
                      <div class="elementor-widget-container">
                        <div class="elementor-text-editor elementor-clearfix">
                          <div class="support">
                            <h4>Hỗ trợ khách hàng</h4>
                            <i class="glyphicon glyphicon-earphone"></i> Hotline: 0944 997 194
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-234f5adb elementor-column elementor-col-50 elementor-top-column col-md-9"
                data-id="234f5adb" data-element_type="column">
                <router-outlet></router-outlet>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>

</div> <!-- ast-container -->
