<div class="ast-container">


  <div id="primary" class="content-area primary">


    <main id="main" class="site-main" role="main">


      <div data-elementor-type="single" data-elementor-id="580"
           class="elementor elementor-580 elementor-bc-flex-widget elementor-location-single post-1232 post type-post status-publish format-standard has-post-thumbnail hentry category-tin-tuc ast-article-single"
           data-elementor-settings="[]">
        <div class="elementor-inner">
          <div class="elementor-section-wrap">
            <section
              class="elementor-element elementor-element-a033db1 elementor-section-full_width elementor-section-height-min-height elementor-section-height-default elementor-section-items-middle elementor-section elementor-top-section"
              data-id="a033db1" data-element_type="section"
              data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
              <div class="elementor-container elementor-column-gap-default">
                <div class="elementor-row">
                  <div
                    class="elementor-element elementor-element-d350124 elementor-column elementor-col-100 elementor-top-column"
                    data-id="d350124" data-element_type="column">
                    <div class="elementor-column-wrap">
                      <div class="elementor-widget-wrap">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <section
              class="elementor-element elementor-element-632174e3 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
              data-id="632174e3" data-element_type="section">
              <div class="elementor-container elementor-column-gap-default">
                <div class="elementor-row">
                  <div
                    class="elementor-element elementor-element-6fad0fdb elementor-column elementor-col-100 elementor-top-column"
                    data-id="6fad0fdb" data-element_type="column">
                    <div class="elementor-column-wrap  elementor-element-populated">
                      <div class="elementor-widget-wrap">
                        <div
                          class="elementor-element elementor-element-189a2b97 elementor-widget elementor-widget-theme-post-title elementor-page-title elementor-widget-heading"
                          data-id="189a2b97" data-element_type="widget" data-widget_type="theme-post-title.default">
                          <div class="elementor-widget-container">
                            <h1 class="elementor-heading-title elementor-size-default">Tiêu chuẩn vật liệu sản xuất
                              cống hộp đúc sẵn</h1></div>
                        </div>
                        <div
                          class="elementor-element elementor-element-649ba7b1 elementor-widget elementor-widget-theme-post-content"
                          data-id="649ba7b1" data-element_type="widget" data-widget_type="theme-post-content.default">
                          <div class="elementor-widget-container">
                            <h1 style="text-align: center;">Tiêu chuẩn vật liệu sản xuất <a>cống
                              hộp đúc sẵn</a></h1>
                            <p>Khi nghiệm thu sản phẩm <a>cống
                              hộp đúc sẵn sản</a> xuất tại Công ty Cổ phần Vật liệu Xây dựng Sông Đáy, ngoài việc tuân
                              thủ các tiêu chuẩn ngành 20 TCN 60-84, quy phạm thi công và nghiệm thu kết cấu bê tông và
                              BTCT toàn khối TCVN 4453-87, cần áp dụng các tiêu chuẩn cụ thể về vật liệu làm cống và sai
                              số kích thước cho phép của kết cấu cống như sau:</p>
                            <figure id="attachment_1235" aria-describedby="caption-attachment-1235"
                                    style="width: 1024px" class="wp-caption aligncenter"><a
                              rel="https://caukienbetongmienbac.com/tieu-chuan-vat-lieu-san-xuat-cong-hop-duc-san/ noopener noreferrer"><img
                              class="wp-image-1235 size-large"
                              src="https://caukienbetongmienbac.com/wp-content/uploads/2019/05/Cấp-phối-đầu-vào-sản-xuất-cống-hộp-đúc-sẵn-1024x685.jpg"
                              alt="Cấp phối đầu vào sản xuất cống hộp đúc sẵn" width="1024" height="685"
                              srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/05/Cấp-phối-đầu-vào-sản-xuất-cống-hộp-đúc-sẵn-1024x685.jpg 1024w, https://caukienbetongmienbac.com/wp-content/uploads/2019/05/Cấp-phối-đầu-vào-sản-xuất-cống-hộp-đúc-sẵn-300x201.jpg 300w, https://caukienbetongmienbac.com/wp-content/uploads/2019/05/Cấp-phối-đầu-vào-sản-xuất-cống-hộp-đúc-sẵn-768x514.jpg 768w, https://caukienbetongmienbac.com/wp-content/uploads/2019/05/Cấp-phối-đầu-vào-sản-xuất-cống-hộp-đúc-sẵn-600x402.jpg 600w"
                              sizes="(max-width: 1024px) 100vw, 1024px"/></a>
                              <figcaption id="caption-attachment-1235" class="wp-caption-text">Cấp phối đầu vào sản
                                xuất cống hộp đúc sẵn
                              </figcaption>
                            </figure>
                            <h2><strong>1- </strong><strong>Xi măng</strong>:</h2>
                            <p>Xi măng dùng cho sản xuất cống là xi măng pooclăng (PC) theo tiêu chuẩn TCVN 2682: 1999
                              hoặc dùng xi măng pooclăng hỗn hợp (PCB), theo tiêu chuẩn TCVN 6260:199, cũng có thể sử
                              dụng các loại xi măng khác nhưng phải phù hợp với các tiêu chuẩn tương ứng.</p>
                            <h2><b style="font-style: inherit;">2. cốt liệu</b></h2>
                            <h3><strong><em>2.1- Đá:</em></strong></h3>
                            <p>Đá dùng đổ bê tông cho cống hộp công nghệ rung bàn phù hợp với các quy định của TCVN
                              1770-86 đến 1772-86, có thể là đá dăm, sỏi hoặc sỏi dăm, nếu dùng loại đá khác để nghiền
                              thì phải thí nghiệm. Điều kiện kỹ thuật của đá dăm như sau:</p>
                            <ol>
                              <li>Kích cỡ: Kích thước viên đá lớn nhất không được vượt quá 1/4 kích thước mặt cắt của
                                cấu kiện và không quá 3/4 khoảng cách nhỏ nhất giữa các thanh cốt thép.
                              </li>
                              <li>Kích cỡ đá dăm: Kích thước đá dăm lớn nhất là 1&#215;1 (1&#215;2) cm.</li>
                              <li>Hàm lượng đá dẹt : không quá 25% trọng lượng.</li>
                              <li>Hàm lượng các loại tạp chất có hại :</li>
                            </ol>
                            <p>&#8211; Hàm lượng các tạp chất Sun-phua và Sun-phat (<em>tính theo SO<sub>3</sub></em>)
                              không quá 1% trọng lượng.</p>
                            <p>&#8211; Hàm lượng đất bùn (<em>thí nghiệm bằng phương pháp rửa</em>) không quá 1% trọng
                              lượng.</p>
                            <p>&#8211; Không có đá phong hoá.</p>
                            <ol>
                              <li>Tạp chất: thí nghiệm bằng phương pháp Sun-phat, Sun-phit Natri, trọng lượng giảm đi
                                không quá 1%.
                              </li>
                              <li>Điều kiện kỹ thuật của đá: Mẫu đá thí nghiệm ở trạng thái bão hoà, cường độ chịu nén
                                phải đạt ³ 800 kg/cm<sup>2</sup>.
                              </li>
                            </ol>
                            <h3><strong><em>2.2- Cốt liệu mịn:</em></strong></h3>
                            <p>Dùng cát phù hợp với các quy định của TCVN 337-86 đến TCVN 346-86, có các tiêu chuẩn sau
                              đây:</p>
                            <p>a- Cát: là cát sông thiên nhiên sạch cứng.</p>
                            <p>b- Cấp phối hạt:</p>
                            <p>&#8211; Hàm lượng dưới 0,15 mm không được quá 3%.</p>
                            <p>&#8211; Hàm lượng từ 0,15 mm đến 0,3 mm không được quá 15%.</p>
                            <p>&#8211; Hàm lượng hạt từ 5 mm đến 10 mm không được quá 5%.</p>
                            <h2><strong>3- Hàm lượng chất có hại :</strong></h2>
                            <p>&#8211; Hàm lượng đất bùn không quá 3% trọng lượng (thí nghiệm theo phương pháp rửa).</p>
                            <p>&#8211; Hàm lượng mica không quá 1% trọng lượng.</p>
                            <p>&#8211; Hàm lượng các tạp chất Sun-phua và Sun-phat (tính theo SO<sub>3</sub>) không quá
                              1% trọng lượng.</p>
                            <h2><strong>4- Nước trộn bê tông</strong> :</h2>
                            <p>Nước dùng cho bê tông phù hợp với quy định của TCXDVN 324:2004. Trong nước không có tạp
                              chất ảnh hưởng đến độ ninh kết và hoá cứng bình thường của xi măng.</p>
                            <p>Các loại nước bẩn, có dầu, mỡ, đường,…, nước có trị số pH &lt; 4, nước có hàm lượng
                              Sun-phat (tính theo lượng SO<sub>4</sub>) vượt quá 1% đều không được dùng để trộn bê tông,
                              không dùng nước biển để trộn bê tông</p>
                            <p>Trước khi đổ bê tông ít nhất phải thử một mẫu nước tại nguồn nước cung cấp.</p>
                            <h2><strong>5- Chất phụ gia :</strong></h2>
                            <p>&#8211; Cho phép dùng phụ gia phù hợp với tiêu chuẩn hiện hành.</p>
                            <p>&#8211; Chất phụ gia trong bê tông phải thoả mãn các điều kiện sau:</p>
                            <ol>
                              <li>Không ăn mòn cốt thép.</li>
                              <li>Liều lượng phụ gia tuỳ thuộc theo loại xi măng và phải qua thí nghiệm xác định.</li>
                              <li>Khi dùng phụ gia phải pha thành dung dịch trước với nước.</li>
                            </ol>
                            <p>Các yêu cầu kỹ thuật khác của phụ gia có thể tham khảo tiêu chuẩn TCXDVN 325:2004.</p>
                            <h2><strong>6- Liều lượng pha trộn bê tông</strong> :</h2>
                            <ol>
                              <li>Trước khi đổ 01 lô sản phẩm cống hộp đều phải thiết kế cấp phối theo loại ximăng và
                                cốt liệu thực tế; làm 3 mẫu thí nghiệm có tăng và giảm 10% ximăng và cốt liệu là 5%.
                              </li>
                            </ol>
                            <p>&#8211; Khống chế độ sụt khi không có phụ gia Ah £ 3 cm.</p>
                            <p>&#8211; Khống chế độ sụt khi có phụ gia Ah £ 6 cm.</p>
                            <p>&#8211; Tỷ lệ nước trên ximăng N/X = 0.39 ÷ 0.43.</p>
                            <p>b- Khống chế sai số liều lượng :</p>
                            <p>&#8211; Nước và ximăng sai số 1%.</p>
                            <p>&#8211; Cốt liệu đá, cát sai số 2%.</p>
                            <p>c- Nếu thay đổi loại, lô ximăng và mỏ cấp phối thô và mịn, cần phải thiết kế lại cấp
                              phối.</p>
                            <h2><strong>7- Cốt thép :</strong></h2>
                            <p>&#8211; Dùng cốt thép cacbon kéo nguội cường độ cao, đường kính từ 4-12 mm, phù hợp với
                              yêu cầu trong bảng sau (TCVN 6288:1997):</p>
                            <table>
                              <tbody>
                              <tr>
                                <td width="85">Đường kính D</td>
                                <td width="161">Giới hạn chảy cực tiểu R<sub>po,2</sub></td>
                                <td width="132">Giới hạn bền kéo R<sub>m</sub></td>
                                <td width="170">Độ dãn dài tương đối</td>
                                <td width="85">Uốn nguội</td>
                              </tr>
                              <tr>
                                <td width="85">(mm)</td>
                                <td width="161">(N/mm<sup>2</sup>)</td>
                                <td width="132">(N/mm<sup>2</sup>)</td>
                                <td width="170">(%)</td>
                                <td width="85"></td>
                              </tr>
                              <tr>
                                <td width="85">4 – 12</td>
                                <td width="161">500</td>
                                <td width="132">550</td>
                                <td width="170">12</td>
                                <td width="85">180<sup>0</sup> d=a</td>
                              </tr>
                              </tbody>
                            </table>
                            <p>a- Trên mặt cốt thép không có vết nứt, dập, xoắn, vẩy sắt, dầu mỡ.</p>
                            <p>b- Sai số đường kính của cốt thép ± 0.2 mm, kiểm tra có tính chất đại diện.</p>
                            <p>c- Diện tích của cốt thép không được nhỏ hơn so với thiết kế 5%.</p>
                            <p>d- Cường độ của cốt thép không được nhỏ hơn so với thiết kế 5%.</p>
                            <ul>
                              <li>Cứ 20 tấn thép cần thí nghiệm 3 tổ mẫu gồm :</li>
                            </ul>
                            <p>+ 3 mẫu kéo (ISO 6892).</p>
                            <p>+ 3 mẫu uốn nguội (TCVN 6287:1997).</p>
                            <p>+ 3 mẫu hàn (TCVN 5403:1991).</p>
                            <p>Trong mẫu kéo cần phải có các chỉ tiêu sau đây :</p>
                            <ul>
                              <li>Giới hạn chảy cực tiểu R<sub>po,2</sub>.</li>
                              <li>Giới hạn bền kéo R<sub>m</sub></li>
                              <li>Độ dãn dài tương đối.</li>
                            </ul>
                            <p>Cho phép nghiệm thu có giới hạn chảy thấp hơn 5% so với cường độ thiết kế.</p>
                            <p>Hàn nối cốt thép: trên một mặt cắt của <a>cống hộp đúc sẵn</a> không được hàn nối quá
                              25% tổng số thép tại 1 mặt cắt</p>
                            <p>&#8211; Hàn đối đầu 2 thanh thép không được sai số 0,1 đường kính.</p>
                            <p>&#8211; Nếu hàn 2 thanh thép sole phải uốn thép cho trùng tim thanh thép, đường hàn một
                              bên dài 10d (d là đường kính thanh), nếu hàn hai bên chiều dài hàn là 5d, chiều cao của
                              mối hàn theo qui định của quy trình hàn.</p>
                            <p>&#8211; Khoảng cách của cốt thép dọc sai số với thiết kế £ 10 mm.</p>
                            <p>&#8211; Khoảng cách của cốt thép đai sai số với thết kế £ 10 mm.</p>
                            <p>&#8211; Lớp bảo vệ sai số với thiết kế ± 5 mm.</p>
                            <p>&nbsp;</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>


    </main><!-- #main -->


  </div><!-- #primary -->


</div>
