<div class="ast-container">

  <div data-elementor-type="product-archive" data-elementor-id="543"
       class="elementor elementor-543 elementor-bc-flex-widget elementor-location-archive product"
       data-elementor-settings="[]">
    <div class="elementor-inner">
      <div class="elementor-section-wrap">
        <section
          class="elementor-element elementor-element-850cfb6 elementor-section-height-min-height elementor-section-full_width elementor-section-height-default elementor-section-items-middle elementor-section elementor-top-section"
          data-id="850cfb6" data-element_type="section"
          data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
          <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-row">
              <div
                class="elementor-element elementor-element-b3b2159 elementor-column elementor-col-100 elementor-top-column"
                data-id="b3b2159" data-element_type="column">
                <div class="elementor-column-wrap">
                  <div class="elementor-widget-wrap">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section
          class="elementor-element elementor-element-0bd3a7b elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
          data-id="0bd3a7b" data-element_type="section">
          <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-row">
              <div
                class="col-md-3 elementor-element elementor-element-f165848 elementor-column elementor-col-50 elementor-top-column"
                data-id="f165848" data-element_type="column">
                <div class="elementor-column-wrap  elementor-element-populated">
                  <div class="elementor-widget-wrap">
                    <div
                      class="elementor-element elementor-element-e83f302 elementor-widget elementor-widget-text-editor"
                      data-id="e83f302" data-element_type="widget" data-widget_type="text-editor.default">
                      <div class="elementor-widget-container">
                        <div class="elementor-text-editor elementor-clearfix">
                          <div class="sidebar-left"><h4>Sản phẩm</h4>
                            <ul>
                              <li><a (click)="routerCongTron()">Cống tròn</a>
                              </li>
                              <li><a (click)="routerCongHopDon()">Cống hộp
                                đơn</a></li>
                              <li><a (click)="routerCongHopDoi()">Cống hộp
                                đôi</a></li>
                              <li><a (click)="routerHaoKyThuat()">Hào kỹ
                                thuật</a></li>
                              <li><a (click)="routerHoGaDucSan()">Hố ga đúc
                                sẵn</a></li>
                              <li><a (click)="routerCongKichNgam()">Cống kích
                                ngầm</a></li>
                              <li><a (click)="routerBeTongVom()">Bê tông
                                vòm</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      class="elementor-element elementor-element-3eace44 elementor-widget elementor-widget-text-editor"
                      data-id="3eace44" data-element_type="widget" data-widget_type="text-editor.default">
                      <div class="elementor-widget-container">
                        <div class="elementor-text-editor elementor-clearfix">
                          <div class="support">
                            <h4>Hỗ trợ khách hàng</h4>
                            <i class="glyphicon glyphicon-earphone"></i> Hotline: 0968979040 – 0826258686
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="col-md-9 elementor-element elementor-element-95811a8 elementor-column elementor-col-50 elementor-top-column"
                data-id="95811a8" data-element_type="column">
                <router-outlet></router-outlet>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>

</div> <!-- ast-container -->

