<div class="ast-container">

  <div data-elementor-type="post" data-elementor-id="556" class="elementor elementor-556 elementor-bc-flex-widget"
       data-elementor-settings="[]">
    <div class="elementor-inner">
      <div class="elementor-section-wrap">
        <section
          class="elementor-element elementor-element-e578ce4 elementor-section-height-min-height elementor-section-full_width elementor-section-height-default elementor-section-items-middle elementor-section elementor-top-section"
          data-id="e578ce4" data-element_type="section"
          data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
          <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-row">
              <div
                class="elementor-element elementor-element-68ca31d elementor-column elementor-col-100 elementor-top-column"
                data-id="68ca31d" data-element_type="column">
                <div class="elementor-column-wrap">
                  <div class="elementor-widget-wrap">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section
          class="elementor-element elementor-element-3494160 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
          data-id="3494160" data-element_type="section">
          <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-row">
              <div
                class="col-md-3 elementor-element elementor-element-1d2791f elementor-column elementor-col-50 elementor-top-column"
                data-id="1d2791f" data-element_type="column">
                <div class="elementor-column-wrap  elementor-element-populated">
                  <div class="elementor-widget-wrap">
                    <div
                      class="elementor-element elementor-element-6850188 elementor-widget elementor-widget-text-editor"
                      data-id="6850188" data-element_type="widget" data-widget_type="text-editor.default">
                      <div class="elementor-widget-container">
                        <div class="elementor-text-editor elementor-clearfix">
                          <div class="sidebar-left"><h4>Dịch vụ</h4>
                            <ul>
                              <li><a (click)="dichVuVanChuyen()">Dịch vụ vận chuyển</a>
                              </li>
                              <li><a (click)="dichVuThiNghiem()">Dịch vụ thí nghiệm</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      class="elementor-element elementor-element-79e8e01 elementor-widget elementor-widget-text-editor"
                      data-id="79e8e01" data-element_type="widget" data-widget_type="text-editor.default">
                      <div class="elementor-widget-container">
                        <div class="elementor-text-editor elementor-clearfix">
                          <div class="support">
                            <h4>Hỗ trợ khách hàng</h4>
                            <i class="glyphicon glyphicon-earphone"></i> Hotline: 0968979040
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="col-md-9 elementor-element elementor-element-17f9620 elementor-column elementor-col-50 elementor-top-column"
                data-id="17f9620" data-element_type="column">
                <router-outlet></router-outlet>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>

</div>
