<div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--description panel entry-content wc-tab" id="tab-description"
     role="tabpanel" aria-labelledby="tab-title-description" style="display: block;">


  <h1>Cống tròn loe đúc sẵn D800</h1>
  <p><span style="font-family: 'Arial','sans-serif';"><a>Cống tròn loe đúc sẵn</a> sản xuất trên nghệ Rung lõi được thiết kế dùng cho đường ô tô.</span>
  </p>
  <p><span style="font-family: 'Arial','sans-serif';">Chủng loại: Cống tròn loe đúc sẵn D800VH (Tải T), Cống tròn loe đúc sẵn D800HL-93 (Tải TC)</span>
  </p>
  <h2><strong><span style="font-family: 'Arial','sans-serif';">Đặc điểm kỹ thuật:</span></strong></h2>
  <h3><strong><span style="font-family: 'Arial','sans-serif';">Kích thước:</span></strong></h3>
  <p><span style="font-family: 'Arial','sans-serif';">+ Chiêu dài cống : 2500 mm</span></p>
  <p><span style="font-family: 'Arial','sans-serif';">+ Đường kính trong : 800mm</span></p>
  <p><span style="font-family: 'Arial','sans-serif';">+ Độ dày : 80 mm</span></p>
  <p><span style="font-family: 'Arial','sans-serif';">+ Khối lượng cống : 1535 kg</span></p>
  <h3><strong><span style="font-family: 'Arial','sans-serif';">Vật liệu chế tạo </span></strong><span
    style="font-family: 'Arial','sans-serif';"><a><strong>cống tròn loe đúc sẵn D800 </strong></a><strong>là:</strong></span>
  </h3>
  <p><span style="font-family: 'Arial','sans-serif';">+ Bê tông: Bê tông C25 tương đương mac bê tông M300</span></p>
  <p><span style="font-family: 'Arial','sans-serif';">+ Cốt thép: Thép kéo nguội D5</span></p>
  <p><span style="font-family: 'Arial','sans-serif';">+ Mối nối các ống cống tròn loe đúc sẵn được thực hiện bằng sự lắp ráp giữa đầu dương và đầu âm của các đốt cống. Vật liệu dùng để làm mối nối là các Joint cao su; vữa xi măng mác cao; hoặc sợi đay tẩm nhựa đường.</span>
  </p>
  <h3><strong><span
    style="font-family: 'Arial','sans-serif';">Đánh giá chất lượng cống tròn loe cốt thép đúc sẵn :</span></strong></h3>
  <p><span style="font-family: 'Arial','sans-serif';">– Bề mặt bên trong và bên ngoài của cống tròn phẳng đều, các điểm gồ lên hoặc lõm xuống không quá 5mm;</span>
  </p>
  <p><span style="font-family: 'Arial','sans-serif';">– Bê tông cống đồng nhất, đặc chắc;</span></p>
  <p><span style="font-family: 'Arial','sans-serif';">– Khả năng chịu tải của cống tròn loe đúc sẵn tuân theo tiêu chuẩn thiết kế về chịu tải, đạt yêu cầu cấp tải TC theo TCVN 9113:2012</span>
  </p>
  <p><span style="font-family: 'Arial','sans-serif';">– Khả năng chống thấm của ống cống đạt theo TCVN 9113:2012</span>
  </p>
  <p><span style="font-family: 'Arial','sans-serif';"><a><em><b><span
    style="font-family: 'Arial','sans-serif'; text-decoration: none; text-underline: none;">Giá bán cống tròn loe đúc sẵn D</span></b></em><em><b>8</b></em><em><b><span
    style="font-family: 'Arial','sans-serif'; text-decoration: none; text-underline: none;">00 VH</span></b></em></a><em><b>: 760.000 Vnđ/m</b></em></span>
  </p>
  <p><em><b><span
    style="font-family: 'Arial','sans-serif';">Giá bán cống tròn loe đúc sẵn D800 HL93: 790.000 Vnđ/m</span></b></em>
  </p>
  <p><em><b><span style="font-family: 'Arial','sans-serif';">Ngoài ra công ty nhận đặt hàng sản xuất cống bê tông cốt thép đúc sẵn với các kích thước khác tiêu chuẩn. LH Mr Hoàng : 0944997194</span></b></em>
  </p>
  <p>&nbsp;</p>
  <figure id="attachment_929" aria-describedby="caption-attachment-929" style="width: 600px"
          class="wp-caption aligncenter"><a
                                            rel="https://caukienbetongmienbac.com/san-pham/cong-tron-loe-duc-san-d800/ noopener noreferrer"><img
    class="wp-image-929 size-full" src="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-tron-5.jpg"
    alt="Cống tròn loe đúc sẵn D800" width="6000" height="4000"
    srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-tron-5.jpg 6000w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-tron-5-300x200.jpg 300w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-tron-5-768x512.jpg 768w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-tron-5-1024x683.jpg 1024w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-tron-5-600x400.jpg 600w"
    sizes="(max-width: 6000px) 100vw, 6000px"></a>
    <figcaption id="caption-attachment-929" class="wp-caption-text">Cống tròn loe đúc sẵn D800</figcaption>
  </figure>
</div>
<iframe name="f18d046cfa8194" width="1000px" height="100px" title="fb:comments Facebook Social Plugin" frameborder="0"
        allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media"
        src="https://www.facebook.com/v2.10/plugins/comments.php?app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D46%23cb%3Df3edbfa46f0f73%26domain%3Dcaukienbetongmienbac.com%26origin%3Dhttps%253A%252F%252Fcaukienbetongmienbac.com%252Ff92ba516ad3bd%26relation%3Dparent.parent&amp;container_width=849&amp;height=100&amp;href=https%3A%2F%2Fcaukienbetongmienbac.com%2F%3Fp%3D1481&amp;locale=en_US&amp;numposts=5&amp;order_by=social&amp;sdk=joey&amp;version=v2.10"
        style="border: none; visibility: visible; width: 100%; height: 178px;" class=""></iframe>
