<div id="content" class="site-content">

  <div class="ast-container">

    <div class="woocommerce-notices-wrapper"></div>
    <div data-elementor-type="product" data-elementor-id="1371"
         class="elementor elementor-1371 elementor-location-single post-1335 product type-product status-publish has-post-thumbnail product_cat-cong-tron ast-article-single ast-woo-product-no-review first instock shipping-taxable product-type-simple product"
         data-elementor-settings="[]">
      <div class="elementor-inner">
        <div class="elementor-section-wrap">
          <section
            class="elementor-element elementor-element-f8e7b50 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
            data-id="f8e7b50" data-element_type="section">
            <div class="elementor-container elementor-column-gap-default">
              <div class="elementor-row">
                <div
                  class="col-md-9 elementor-element elementor-element-6551c93 elementor-column elementor-col-50 elementor-top-column"
                  data-id="6551c93" data-element_type="column">
                  <router-outlet></router-outlet>
                </div>
                <div
                  class="col-md-3 elementor-element elementor-element-1d8be20 elementor-column elementor-col-50 elementor-top-column"
                  data-id="1d8be20" data-element_type="column">
                  <div class="elementor-column-wrap  elementor-element-populated">
                    <div class="elementor-widget-wrap">
                      <div class="elementor-element elementor-element-e02db9c elementor-widget elementor-widget-heading"
                           data-id="e02db9c" data-element_type="widget" data-widget_type="heading.default">
                        <div class="elementor-widget-container">
                          <p class="elementor-heading-title elementor-size-default">Tin mới nhất</p></div>
                      </div>
                      <div
                        class="elementor-element elementor-element-931f3d8 elementor-grid-1 elementor-grid-tablet-1 elementor-posts--thumbnail-left elementor-grid-mobile-1 elementor-widget elementor-widget-posts"
                        data-id="931f3d8" data-element_type="widget"
                        data-settings="{&quot;classic_columns&quot;:&quot;1&quot;,&quot;classic_columns_tablet&quot;:&quot;1&quot;,&quot;classic_row_gap&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:30,&quot;sizes&quot;:[]},&quot;classic_columns_mobile&quot;:&quot;1&quot;}"
                        data-widget_type="posts.classic">
                        <div class="elementor-widget-container">
                          <div
                            class="elementor-posts-container elementor-posts elementor-grid elementor-posts--skin-classic">
                            <article
                              class="elementor-post elementor-grid-item post-1645 post type-post status-publish format-standard has-post-thumbnail hentry category-tin-tuc ast-woo-product-no-review">
                              <a class="elementor-post__thumbnail__link"
                                 (click)="tieuChuanQuocGiaOngBeTongCotThepThoatNuoc()" routerLink="">
                                <div class="elementor-post__thumbnail"><img width="300" height="200"
                                                                            src="https://caukienbetongmienbac.com/wp-content/uploads/2019/11/tieu-chuan-quoc-gia-TCVN-9113-2012-300x200.jpg"
                                                                            class="attachment-medium size-medium"
                                                                            alt="tieu chuan quoc gia TCVN 9113 2012"
                                                                            srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/11/tieu-chuan-quoc-gia-TCVN-9113-2012-300x200.jpg 300w, https://caukienbetongmienbac.com/wp-content/uploads/2019/11/tieu-chuan-quoc-gia-TCVN-9113-2012-768x512.jpg 768w, https://caukienbetongmienbac.com/wp-content/uploads/2019/11/tieu-chuan-quoc-gia-TCVN-9113-2012-600x400.jpg 600w, https://caukienbetongmienbac.com/wp-content/uploads/2019/11/tieu-chuan-quoc-gia-TCVN-9113-2012.jpg 800w"
                                                                            sizes="(max-width: 300px) 100vw, 300px"/>
                                </div>
                              </a>
                              <div class="elementor-post__text">
                                <p class="elementor-post__title">
                                  <a
                                    (click)="tieuChuanQuocGiaOngBeTongCotThepThoatNuoc()" routerLink="">
                                    Tiêu chuẩn quốc gia ống cống bê tông cốt thép thoát nước &#8211; TCVN 9113:2012 </a>
                                </p>
                                <a class="elementor-post__read-more"
                                   (click)="tieuChuanQuocGiaOngBeTongCotThepThoatNuoc()" routerLink="">
                                  Đọc Tiếp » </a>
                              </div>
                            </article>
                            <article
                              class="elementor-post elementor-grid-item post-1619 post type-post status-publish format-standard has-post-thumbnail hentry category-tin-tuc ast-woo-product-no-review">
                              <a class="elementor-post__thumbnail__link"
                                 (click)="thiCongCongHopDucSan()" routerLink="">
                                <div class="elementor-post__thumbnail"><img width="300" height="226"
                                                                            src="https://caukienbetongmienbac.com/wp-content/uploads/2019/10/thi-cong-cong-hop-duc-san-tai-du-an-vincity-Ocean-Park-300x226.jpg"
                                                                            class="attachment-medium size-medium"
                                                                            alt="thi cong cong hop duc san tai du an Vincity Ocean Park"
                                                                            srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/10/thi-cong-cong-hop-duc-san-tai-du-an-vincity-Ocean-Park-300x226.jpg 300w, https://caukienbetongmienbac.com/wp-content/uploads/2019/10/thi-cong-cong-hop-duc-san-tai-du-an-vincity-Ocean-Park-768x580.jpg 768w, https://caukienbetongmienbac.com/wp-content/uploads/2019/10/thi-cong-cong-hop-duc-san-tai-du-an-vincity-Ocean-Park-600x453.jpg 600w, https://caukienbetongmienbac.com/wp-content/uploads/2019/10/thi-cong-cong-hop-duc-san-tai-du-an-vincity-Ocean-Park.jpg 856w"
                                                                            sizes="(max-width: 300px) 100vw, 300px"/>
                                </div>
                              </a>
                              <div class="elementor-post__text">
                                <p class="elementor-post__title">
                                  <a (click)="thiCongCongHopDucSan()" routerLink="">
                                    Thuyết minh thi công cống hộp đúc sẵn &#8211; mối nối đay tẩm nhựa đường </a>
                                </p>
                                <a class="elementor-post__read-more"
                                   (click)="thiCongCongHopDucSan()" routerLink="">
                                  Đọc Tiếp » </a>
                              </div>
                            </article>
                            <article
                              class="elementor-post elementor-grid-item post-1604 post type-post status-publish format-standard has-post-thumbnail hentry category-tin-tuc ast-woo-product-no-review">
                              <a class="elementor-post__thumbnail__link"
                                 (click)="tuoiThoCuaBeTongCotThep()" routerLink="">
                                <div class="elementor-post__thumbnail"><img width="300" height="254"
                                                                            src="https://caukienbetongmienbac.com/wp-content/uploads/2019/10/Be-tong-cot-thep-La-Ma-tuoi-tho-2000-nam-300x254.jpg"
                                                                            class="attachment-medium size-medium"
                                                                            alt="Be tong cot thep La Ma tuoi tho 2000 nam"
                                                                            srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/10/Be-tong-cot-thep-La-Ma-tuoi-tho-2000-nam-300x254.jpg 300w, https://caukienbetongmienbac.com/wp-content/uploads/2019/10/Be-tong-cot-thep-La-Ma-tuoi-tho-2000-nam-768x649.jpg 768w, https://caukienbetongmienbac.com/wp-content/uploads/2019/10/Be-tong-cot-thep-La-Ma-tuoi-tho-2000-nam-1024x865.jpg 1024w, https://caukienbetongmienbac.com/wp-content/uploads/2019/10/Be-tong-cot-thep-La-Ma-tuoi-tho-2000-nam-600x507.jpg 600w, https://caukienbetongmienbac.com/wp-content/uploads/2019/10/Be-tong-cot-thep-La-Ma-tuoi-tho-2000-nam.jpg 1350w"
                                                                            sizes="(max-width: 300px) 100vw, 300px"/>
                                </div>
                              </a>
                              <div class="elementor-post__text">
                                <p class="elementor-post__title">
                                  <a (click)="tuoiThoCuaBeTongCotThep()" routerLink="">
                                    Tuổi thọ của bê tông cốt thép </a>
                                </p>
                                <a class="elementor-post__read-more"
                                   (click)="tuoiThoCuaBeTongCotThep()" routerLink="">
                                  Đọc Tiếp » </a>
                              </div>
                            </article>
                            <article
                              class="elementor-post elementor-grid-item post-1576 post type-post status-publish format-standard has-post-thumbnail hentry category-tin-tuc ast-woo-product-no-review">
                              <a class="elementor-post__thumbnail__link"
                                 (click)="beTongCotThepLaGi()" routerLink="">
                                <div class="elementor-post__thumbnail"><img width="300" height="174"
                                                                            src="https://caukienbetongmienbac.com/wp-content/uploads/2019/10/Be-tong-cot-thep-300x174.jpg"
                                                                            class="attachment-medium size-medium" alt=""
                                                                            srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/10/Be-tong-cot-thep-300x174.jpg 300w, https://caukienbetongmienbac.com/wp-content/uploads/2019/10/Be-tong-cot-thep-600x349.jpg 600w, https://caukienbetongmienbac.com/wp-content/uploads/2019/10/Be-tong-cot-thep.jpg 700w"
                                                                            sizes="(max-width: 300px) 100vw, 300px"/>
                                </div>
                              </a>
                              <div class="elementor-post__text">
                                <p class="elementor-post__title">
                                  <a (click)="beTongCotThepLaGi()" routerLink="">
                                    Bê tông cốt thép là gì? </a>
                                </p>
                                <a class="elementor-post__read-more"
                                   (click)="beTongCotThepLaGi()" routerLink="">
                                  Đọc Tiếp » </a>
                              </div>
                            </article>
                            <article
                              class="elementor-post elementor-grid-item post-1569 post type-post status-publish format-standard has-post-thumbnail hentry category-tin-tuc ast-woo-product-no-review">
                              <a class="elementor-post__thumbnail__link"
                                 (click)="congTronCongHopQuangNinh()" routerLink="">
                                <div class="elementor-post__thumbnail"><img width="300" height="195"
                                                                            src="https://caukienbetongmienbac.com/wp-content/uploads/2019/09/Cong-tron-cong-hop-Quang-Ninh-300x195.jpg"
                                                                            class="attachment-medium size-medium"
                                                                            alt="Cong tron cong hop Quang Ninh"
                                                                            srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/09/Cong-tron-cong-hop-Quang-Ninh-300x195.jpg 300w, https://caukienbetongmienbac.com/wp-content/uploads/2019/09/Cong-tron-cong-hop-Quang-Ninh-600x391.jpg 600w, https://caukienbetongmienbac.com/wp-content/uploads/2019/09/Cong-tron-cong-hop-Quang-Ninh.jpg 700w"
                                                                            sizes="(max-width: 300px) 100vw, 300px"/>
                                </div>
                              </a>
                              <div class="elementor-post__text">
                                <p class="elementor-post__title">
                                  <a (click)="congTronCongHopQuangNinh()" routerLink="">
                                    Vân Đồn Quảng Ninh &#8211; Sihanoukville của Việt Nam </a>
                                </p>
                                <a class="elementor-post__read-more"
                                   (click)="congTronCongHopQuangNinh()" routerLink="">
                                  Đọc Tiếp » </a>
                              </div>
                            </article>
                          </div>
                        </div>
                      </div>
                      <div class="elementor-element elementor-element-310ac2e elementor-widget elementor-widget-divider"
                           data-id="310ac2e" data-element_type="widget" data-widget_type="divider.default">
                        <div class="elementor-widget-container">
                          <div class="elementor-divider">
                            <span class="elementor-divider-separator"></span>
                          </div>
                        </div>
                      </div>
                      <div class="elementor-element elementor-element-74c9585 elementor-widget elementor-widget-heading"
                           data-id="74c9585" data-element_type="widget" data-widget_type="heading.default">
                        <div class="elementor-widget-container">
                          <p class="elementor-heading-title elementor-size-default">Sản phẩm tương tự</p></div>
                      </div>
                      <div
                        class="elementor-element elementor-element-edbc114 elementor-grid-1 elementor-grid-tablet-1 elementor-posts--thumbnail-left elementor-grid-mobile-1 elementor-widget elementor-widget-posts"
                        data-id="edbc114" data-element_type="widget"
                        data-settings="{&quot;classic_columns&quot;:&quot;1&quot;,&quot;classic_columns_tablet&quot;:&quot;1&quot;,&quot;classic_row_gap&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:30,&quot;sizes&quot;:[]},&quot;classic_columns_mobile&quot;:&quot;1&quot;}"
                        data-widget_type="posts.classic">
                        <div class="elementor-widget-container">
                          <div
                            class="elementor-posts-container elementor-posts elementor-grid elementor-posts--skin-classic">
                            <article
                              class="elementor-post elementor-grid-item post-1175 product type-product status-publish has-post-thumbnail product_cat-cong-hop-doi ast-woo-product-no-review  instock shipping-taxable product-type-simple">
                              <a class="elementor-post__thumbnail__link"
                                 (click)="congHopDoiDucSan()" routerLink="">
                                <div class="elementor-post__thumbnail"><img width="300" height="225"
                                                                            src="https://caukienbetongmienbac.com/wp-content/uploads/2019/04/d53b9543102bf375aa3a-300x225.jpg"
                                                                            class="attachment-medium size-medium"
                                                                            alt="Cống hộp đôi đúc sẵn"
                                                                            srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/04/d53b9543102bf375aa3a-300x225.jpg 300w, https://caukienbetongmienbac.com/wp-content/uploads/2019/04/d53b9543102bf375aa3a-768x576.jpg 768w, https://caukienbetongmienbac.com/wp-content/uploads/2019/04/d53b9543102bf375aa3a-1024x768.jpg 1024w, https://caukienbetongmienbac.com/wp-content/uploads/2019/04/d53b9543102bf375aa3a-600x450.jpg 600w"
                                                                            sizes="(max-width: 300px) 100vw, 300px"/>
                                </div>
                              </a>
                              <div class="elementor-post__text">
                                <p class="elementor-post__title">
                                  <a (click)="congHopDoiDucSan()" routerLink="">
                                    Cống hộp đôi đúc sẵn </a>
                                </p>
                                <a class="elementor-post__read-more"
                                   (click)="congHopDoiDucSan()" routerLink="">
                                  Đọc Tiếp » </a>
                              </div>
                            </article>
                            <article
                              class="elementor-post elementor-grid-item post-1008 product type-product status-publish has-post-thumbnail product_cat-cong-hop-don ast-woo-product-no-review  instock shipping-taxable product-type-simple">
                              <a class="elementor-post__thumbnail__link"
                                 (click)="congHopBeTongDucSanH2000x2000()" routerLink="">
                                <div class="elementor-post__thumbnail"><img width="300" height="169"
                                                                            src="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/H2000x2000-300x169.jpg"
                                                                            class="attachment-medium size-medium" alt=""
                                                                            srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/H2000x2000-300x169.jpg 300w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/H2000x2000-768x432.jpg 768w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/H2000x2000-1024x576.jpg 1024w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/H2000x2000-600x338.jpg 600w"
                                                                            sizes="(max-width: 300px) 100vw, 300px"/>
                                </div>
                              </a>
                              <div class="elementor-post__text">
                                <p class="elementor-post__title">
                                  <a
                                    (click)="congHopBeTongDucSanH2000x2000()" routerLink="">
                                    Cống hộp bê tông đúc sẵn H2000x2000 </a>
                                </p>
                                <a class="elementor-post__read-more"
                                   (click)="congHopBeTongDucSanH2000x2000()" routerLink="">
                                  Đọc Tiếp » </a>
                              </div>
                            </article>
                            <article
                              class="elementor-post elementor-grid-item post-1038 product type-product status-publish has-post-thumbnail product_cat-cong-hop-doi ast-woo-product-no-review last instock shipping-taxable product-type-simple">
                              <a class="elementor-post__thumbnail__link"
                                 (click)="congHopBeTongDucSanH2000x2500()" routerLink="">
                                <div class="elementor-post__thumbnail"><img width="300" height="169"
                                                                            src="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/e89866fb05fae5a4bceb-300x169.jpg"
                                                                            class="attachment-medium size-medium" alt=""
                                                                            srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/e89866fb05fae5a4bceb-300x169.jpg 300w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/e89866fb05fae5a4bceb-768x432.jpg 768w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/e89866fb05fae5a4bceb-1024x576.jpg 1024w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/e89866fb05fae5a4bceb-600x338.jpg 600w"
                                                                            sizes="(max-width: 300px) 100vw, 300px"/>
                                </div>
                              </a>
                              <div class="elementor-post__text">
                                <p class="elementor-post__title">
                                  <a
                                    (click)="congHopBeTongDucSanH2000x2500()" routerLink="">
                                    Cống hộp đôi đúc sẵn H2x(2000&#215;2500) </a>
                                </p>
                                <a class="elementor-post__read-more"
                                   (click)="congHopBeTongDucSanH2000x2500()" routerLink="">
                                  Đọc Tiếp » </a>
                              </div>
                            </article>
                            <article
                              class="elementor-post elementor-grid-item post-1481 product type-product status-publish has-post-thumbnail product_cat-cong-hop-doi product_cat-cong-hop-don ast-woo-product-no-review first instock shipping-taxable product-type-simple">
                              <a class="elementor-post__thumbnail__link"
                                 (click)="baoGiaCongHop()" routerLink="">
                                <div class="elementor-post__thumbnail"><img width="300" height="274"
                                                                            src="https://caukienbetongmienbac.com/wp-content/uploads/2019/06/Cong-hop-Be-tong-Song-Day-300x274.jpg"
                                                                            class="attachment-medium size-medium"
                                                                            alt="cong hop Be tong Song Day"
                                                                            srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/06/Cong-hop-Be-tong-Song-Day-300x274.jpg 300w, https://caukienbetongmienbac.com/wp-content/uploads/2019/06/Cong-hop-Be-tong-Song-Day.jpg 595w"
                                                                            sizes="(max-width: 300px) 100vw, 300px"/>
                                </div>
                              </a>
                              <div class="elementor-post__text">
                                <p class="elementor-post__title">
                                  <a (click)="baoGiaCongHop()" routerLink="">
                                    Báo giá: Ống cống hộp bê tông cốt thép đúc sẵn </a>
                                </p>
                                <a class="elementor-post__read-more"
                                   (click)="baoGiaCongHop()" routerLink="">
                                  Đọc Tiếp » </a>
                              </div>
                            </article>
                            <article
                              class="elementor-post elementor-grid-item post-948 product type-product status-publish has-post-thumbnail product_cat-hao-ky-thuat ast-woo-product-no-review  instock shipping-taxable product-type-simple">
                              <a class="elementor-post__thumbnail__link"
                                 (click)="haoKyThuatDucSan()" routerLink="">
                                <div class="elementor-post__thumbnail"><img width="300" height="225"
                                                                            src="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/hao-ranh-300x225.jpg"
                                                                            class="attachment-medium size-medium" alt=""
                                                                            srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/hao-ranh-300x225.jpg 300w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/hao-ranh-768x576.jpg 768w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/hao-ranh-1024x768.jpg 1024w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/hao-ranh-600x450.jpg 600w"
                                                                            sizes="(max-width: 300px) 100vw, 300px"/>
                                </div>
                              </a>
                              <div class="elementor-post__text">
                                <p class="elementor-post__title">
                                  <a (click)="haoKyThuatDucSan()" routerLink="">
                                    Hào kỹ thuật đúc sẵn </a>
                                </p>
                                <a class="elementor-post__read-more"
                                   (click)="haoKyThuatDucSan()" routerLink="">
                                  Đọc Tiếp » </a>
                              </div>
                            </article>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>

  </div> <!-- ast-container -->

</div>
