<div class="ast-container">


  <div id="primary" class="content-area primary">


    <main id="main" class="site-main" role="main">


      <div data-elementor-type="single" data-elementor-id="580"
           class="elementor elementor-580 elementor-bc-flex-widget elementor-location-single post-656 post type-post status-publish format-standard has-post-thumbnail hentry category-tin-tuc ast-article-single"
           data-elementor-settings="[]">
        <div class="elementor-inner">
          <div class="elementor-section-wrap">
            <section
              class="elementor-element elementor-element-a033db1 elementor-section-full_width elementor-section-height-min-height elementor-section-height-default elementor-section-items-middle elementor-section elementor-top-section"
              data-id="a033db1" data-element_type="section"
              data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
              <div class="elementor-container elementor-column-gap-default">
                <div class="elementor-row">
                  <div
                    class="elementor-element elementor-element-d350124 elementor-column elementor-col-100 elementor-top-column"
                    data-id="d350124" data-element_type="column">
                    <div class="elementor-column-wrap">
                      <div class="elementor-widget-wrap">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <section
              class="elementor-element elementor-element-632174e3 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
              data-id="632174e3" data-element_type="section">
              <div class="elementor-container elementor-column-gap-default">
                <div class="elementor-row">
                  <div
                    class="elementor-element elementor-element-6fad0fdb elementor-column elementor-col-100 elementor-top-column"
                    data-id="6fad0fdb" data-element_type="column">
                    <div class="elementor-column-wrap  elementor-element-populated">
                      <div class="elementor-widget-wrap">
                        <div
                          class="elementor-element elementor-element-189a2b97 elementor-widget elementor-widget-theme-post-title elementor-page-title elementor-widget-heading"
                          data-id="189a2b97" data-element_type="widget" data-widget_type="theme-post-title.default">
                          <div class="elementor-widget-container">
                            <h1 class="elementor-heading-title elementor-size-default">Kỷ niệm 12 năm thành lập công ty
                              Cống bê tông đúc sẵn Sông Đáy</h1></div>
                        </div>
                        <div
                          class="elementor-element elementor-element-649ba7b1 elementor-widget elementor-widget-theme-post-content"
                          data-id="649ba7b1" data-element_type="widget" data-widget_type="theme-post-content.default">
                          <div class="elementor-widget-container">
                            <h1 style="text-align: justify;">Cống bê tông đúc sẵn Sông Đáy</h1>
                            <p style="text-align: justify;">Để kỷ niệm 12 năm thành lập, từ cuối tháng 5 năm 2017, Công
                              ty CP VLXD Sông Đáy đã tiến hành chạy thử dây chuyền sản xuất cống kích ngầm được đầu tư
                              bởi liên doanh Công ty TNHH NITTA_SONG DAY.</p>
                            <p style="text-align: justify;">Với công nghệ vượt trội, thiết bị hiện đại được nhập từ Nhật
                              Bản và tính ưu việt trong sản phẩm cống kích ngầm sẽ tạo nên một bước ngoạt mới trong quá
                              trình xây dựng và phát triển của Công ty cống bê tông đúc sẵn Sông Đáy.</p>
                            <figure id="attachment_849" aria-describedby="caption-attachment-849" style="width: 840px"
                                    class="wp-caption aligncenter"><img
                              class="Cống bê tông đúc sẵn Sông Đáy wp-image-849"
                              title="Cống bê tông đúc sẵn Sông Đáy"
                              src="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-hop-kho-lon.jpg"
                              alt="Cong be tong duc san Song Day" width="840" height="1189"
                              srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-hop-kho-lon.jpg 626w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-hop-kho-lon-212x300.jpg 212w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-hop-kho-lon-600x849.jpg 600w"
                              sizes="(max-width: 840px) 100vw, 840px"/>
                              <figcaption id="caption-attachment-849" class="wp-caption-text">Cống bê tông đúc sẵn
                                Sông Đáy
                              </figcaption>
                            </figure>
                            <figure id="attachment_852" aria-describedby="caption-attachment-852" style="width: 840px"
                                    class="wp-caption aligncenter"><img
                              class="Cống bê tông đúc sẵn Sông Đáy M2 wp-image-852"
                              title="Cống bê tông đúc sẵn Sông Đáy M2"
                              src="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-hop-2000x2000.jpg"
                              alt="Cong be tong duc san Song Day M2" width="840" height="560"
                              srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-hop-2000x2000.jpg 960w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-hop-2000x2000-300x200.jpg 300w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-hop-2000x2000-768x512.jpg 768w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-hop-2000x2000-600x400.jpg 600w"
                              sizes="(max-width: 840px) 100vw, 840px"/>
                              <figcaption id="caption-attachment-852" class="wp-caption-text">Cống bê tông đúc sẵn
                                Sông Đáy M2
                              </figcaption>
                            </figure>
                            <h2 style="text-align: justify;">12 năm xây dựng và phát triển</h2>
                            <p style="text-align: justify;">Cống bê tông đúc sẵn Sông Đáy <span
                              class="text_exposed_show">đã rành được nhiều thành công. Sản phẩm cống bê tông đúc sẵn nói riêng và cấu kiện bê tông nói chung của Cống Sông Đáy đã trở thành một thương hiệu lớn và uy tín trên thị trường. Nói đến Cống Bê Tông thì khách hàng nhắc ngay đến Cống Sông Đáy.</span>
                            </p>
                            <blockquote>
                              <p style="text-align: justify;">Xem ngay báo giá cống hộp bê tông cốt thép <a
                                routerLink="" (click)="baoGiaCongHop()">tại đây</a> để có cơ
                                hội nhận được ưu đãi 3%.</p>
                            </blockquote>
                            <figure id="attachment_851" aria-describedby="caption-attachment-851" style="width: 840px"
                                    class="wp-caption aligncenter"><img
                              class="Cống bê tông đúc sẵn Sông Đáy M3 wp-image-851"
                              title="Cống bê tông đúc sẵn Sông Đáy M3"
                              src="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/congtron.jpg"
                              alt="Cong be tong duc san Song Day M3" width="840" height="560"
                              srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/congtron.jpg 600w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/congtron-300x200.jpg 300w"
                              sizes="(max-width: 840px) 100vw, 840px"/>
                              <figcaption id="caption-attachment-851" class="wp-caption-text">Cống bê tông đúc sẵn
                                Sông Đáy M3
                              </figcaption>
                            </figure>
                            <figure id="attachment_850" aria-describedby="caption-attachment-850" style="width: 840px"
                                    class="wp-caption aligncenter"><img
                              class="Cống bê tông đúc sẵn Sông Đáy M4 wp-image-850"
                              title="Cống bê tông đúc sẵn Sông Đáy M4"
                              src="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-hop-1.jpg"
                              alt="Cong be tong duc san Song Day M4" width="840" height="557"
                              srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-hop-1.jpg 960w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-hop-1-300x199.jpg 300w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-hop-1-768x510.jpg 768w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-hop-1-600x398.jpg 600w"
                              sizes="(max-width: 840px) 100vw, 840px"/>
                              <figcaption id="caption-attachment-850" class="wp-caption-text">Cống bê tông đúc sẵn
                                Sông Đáy M4
                              </figcaption>
                            </figure>
                            <p style="text-align: justify;"><span class="text_exposed_show"><br/>
Với việc kiểm soát chất lượng sản phẩm bằng hệ thống tiêu chuẩn ISO 9001 &#8211; 2015, Cống Sông Đáy đã loại bỏ hầu hết các sản phẩm kém chất lượng trước khi xuất xưởng.<br/>
Công tác bán hàng cũng được Công ty đặc biệt trú trọng. Toàn bộ sản phẩm trước khi khi được đem đến công trình đều phải qua một bước kiểm tra chặt chẽ bởi bộ phận KCS. </span>
                            </p>
                            <p style="text-align: justify;"><span class="text_exposed_show">Quá trình cẩu cống từ bãi lên xe vận chuyển cũng được áp dụng nhiều biện pháp chống va đập, sứt vỡ; </span>
                            </p>
                            <p style="text-align: justify;"><span class="text_exposed_show">Các đơn vị vận chuyển được yêu cầu phải có các miếng lót cống nhằm tránh va đập trực tiếp sản phẩm với sàn xe và các sản phẩm với nhau. </span>
                            </p>
                            <p style="text-align: justify;"><span class="text_exposed_show">Cho nên mỗi sản phẩm của Công ty khi được đem đến công trường đều đảm bảo đúng yêu cầu về chất lượng và thẩm mỹ.<br/>
Với đội ngũ cán bộ công nhân viên giàu kinh nghiệm trong sản xuất ống cống, cùng hàng ngũ cán bộ kỹ sư có trình độ cao về vật liệu đã và đang góp phần biến ước mơ thành nhà sản xuất cấu kiện bê tông cốt thép đúc sẵn hàng đầu Việt nam thành hiện thực.</span>
                            </p>
                            <blockquote><p><strong>Sông Đáy đang có chương trình ưu đãi Giảm 3% cho 5 khách hàng đầu
                              tiên và 2% cho 10 khách hàng mỗi tháng. Bạn sẽ tiết kiệm được từ 20 triệu – 50 triệu đồng.
                              Thật tuyệt phải không ạ, bạn hãy gọi ngay cho Sông Đáy nhé.</strong></p></blockquote>
                            <p style="text-align: justify;">Để biết thêm thông tin về sản phẩm và công ty <a
                              routerLink="" (click)="baoGiaCongHop()"
                              rel="noopener noreferrer">cống bê tông Sông Đáy</a> vui lòng LH Quang: 0968979040 – 0826258686.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>


    </main><!-- #main -->


  </div><!-- #primary -->


</div>
