<div class="ast-container">


  <div id="primary" class="content-area primary">


    <main id="main" class="site-main" role="main">


      <div data-elementor-type="single" data-elementor-id="580"
           class="elementor elementor-580 elementor-bc-flex-widget elementor-location-single post-1619 post type-post status-publish format-standard has-post-thumbnail hentry category-tin-tuc ast-article-single"
           data-elementor-settings="[]">
        <div class="elementor-inner">
          <div class="elementor-section-wrap">
            <section
              class="elementor-element elementor-element-a033db1 elementor-section-full_width elementor-section-height-min-height elementor-section-height-default elementor-section-items-middle elementor-section elementor-top-section"
              data-id="a033db1" data-element_type="section"
              data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
              <div class="elementor-container elementor-column-gap-default">
                <div class="elementor-row">
                  <div
                    class="elementor-element elementor-element-d350124 elementor-column elementor-col-100 elementor-top-column"
                    data-id="d350124" data-element_type="column">
                    <div class="elementor-column-wrap">
                      <div class="elementor-widget-wrap">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <section
              class="elementor-element elementor-element-632174e3 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
              data-id="632174e3" data-element_type="section">
              <div class="elementor-container elementor-column-gap-default">
                <div class="elementor-row">
                  <div
                    class="elementor-element elementor-element-6fad0fdb elementor-column elementor-col-100 elementor-top-column"
                    data-id="6fad0fdb" data-element_type="column">
                    <div class="elementor-column-wrap  elementor-element-populated">
                      <div class="elementor-widget-wrap">
                        <div
                          class="elementor-element elementor-element-189a2b97 elementor-widget elementor-widget-theme-post-title elementor-page-title elementor-widget-heading"
                          data-id="189a2b97" data-element_type="widget" data-widget_type="theme-post-title.default">
                          <div class="elementor-widget-container">
                            <h1 class="elementor-heading-title elementor-size-default">Thuyết minh thi công cống hộp đúc
                              sẵn &#8211; mối nối đay tẩm nhựa đường</h1></div>
                        </div>

                        <div
                          class="elementor-element elementor-element-649ba7b1 elementor-widget elementor-widget-theme-post-content"
                          data-id="649ba7b1" data-element_type="widget" data-widget_type="theme-post-content.default">
                          <div class="elementor-widget-container">
                            <h1>Thi công cống hộp đúc sẵn</h1>
                            <h2>P1: Chỉ dẫn lắp đặt công hộp</h2>
                            <figure id="attachment_1620" aria-describedby="caption-attachment-1620" style="width: 700px"
                                    class="wp-caption aligncenter"><img class="Cắt bao tải đay wp-image-1620 size-full"
                                                                        title="Cắt bao tải đay"
                                                                        src="https://caukienbetongmienbac.com/wp-content/uploads/2019/10/Cat-bao-tai-day.jpg"
                                                                        alt="Cat bao tai day" width="700" height="524"
                                                                        srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/10/Cat-bao-tai-day.jpg 700w, https://caukienbetongmienbac.com/wp-content/uploads/2019/10/Cat-bao-tai-day-300x225.jpg 300w, https://caukienbetongmienbac.com/wp-content/uploads/2019/10/Cat-bao-tai-day-600x449.jpg 600w"
                                                                        sizes="(max-width: 700px) 100vw, 700px"/>
                              <figcaption id="caption-attachment-1620" class="wp-caption-text">Cắt bao tải đay
                              </figcaption>
                            </figure>
                            <figure id="attachment_1621" aria-describedby="caption-attachment-1621" style="width: 700px"
                                    class="wp-caption aligncenter"><img
                              class="Nhúng bao tải đay nhựa đường wp-image-1621 size-full"
                              title="Nhúng bao tải đay nhựa đường"
                              src="https://caukienbetongmienbac.com/wp-content/uploads/2019/10/Nhung-bao-tai-day-nhua-duong.jpg"
                              alt="nhung bao tai day nhua duong" width="700" height="524"
                              srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/10/Nhung-bao-tai-day-nhua-duong.jpg 700w, https://caukienbetongmienbac.com/wp-content/uploads/2019/10/Nhung-bao-tai-day-nhua-duong-300x225.jpg 300w, https://caukienbetongmienbac.com/wp-content/uploads/2019/10/Nhung-bao-tai-day-nhua-duong-600x449.jpg 600w"
                              sizes="(max-width: 700px) 100vw, 700px"/>
                              <figcaption id="caption-attachment-1621" class="wp-caption-text">Nhúng bao tải đay nhựa
                                đường
                              </figcaption>
                            </figure>
                            <p>Bước 1: Cắt bao đay thành sợi,nấu nhựa đường và ngâm trong nhựa đường. Được đun sôi
                              khoảng 100<sup>0</sup>C đến 120 <sup>0</sup>C khoảng 5 đến 10 phút</p>
                            <figure id="attachment_1622" aria-describedby="caption-attachment-1622" style="width: 700px"
                                    class="wp-caption aligncenter"><img class="size-full wp-image-1622"
                                                                        src="https://caukienbetongmienbac.com/wp-content/uploads/2019/10/lam-sach-moi-noi-cong.jpg"
                                                                        alt="" width="700" height="524"
                                                                        srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/10/lam-sach-moi-noi-cong.jpg 700w, https://caukienbetongmienbac.com/wp-content/uploads/2019/10/lam-sach-moi-noi-cong-300x225.jpg 300w, https://caukienbetongmienbac.com/wp-content/uploads/2019/10/lam-sach-moi-noi-cong-600x449.jpg 600w"
                                                                        sizes="(max-width: 700px) 100vw, 700px"/>
                              <figcaption id="caption-attachment-1622" class="wp-caption-text">Làm sạch mối nối cống
                              </figcaption>
                            </figure>
                            <p>Bước 2:: Sử dụng bàn chải hoặc chổi que làm sạch mối nối lắp đặt cống.</p>
                            <figure id="attachment_1623" aria-describedby="caption-attachment-1623" style="width: 700px"
                                    class="wp-caption aligncenter"><img
                              class="Nhét bao tải đay tẩm nhựa vào mối nối wp-image-1623 size-full"
                              title="Nhét bao tải đay tẩm nhựa vào mối nối"
                              src="https://caukienbetongmienbac.com/wp-content/uploads/2019/10/nhet-bao-tai-day-tam-nhua-vao-moi-noi.jpg"
                              alt="nhet bao tai day tam nhua vao moi noi" width="700" height="524"
                              srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/10/nhet-bao-tai-day-tam-nhua-vao-moi-noi.jpg 700w, https://caukienbetongmienbac.com/wp-content/uploads/2019/10/nhet-bao-tai-day-tam-nhua-vao-moi-noi-300x225.jpg 300w, https://caukienbetongmienbac.com/wp-content/uploads/2019/10/nhet-bao-tai-day-tam-nhua-vao-moi-noi-600x449.jpg 600w"
                              sizes="(max-width: 700px) 100vw, 700px"/>
                              <figcaption id="caption-attachment-1623" class="wp-caption-text">Nhét bao tải đay tẩm nhựa
                                vào mối nối
                              </figcaption>
                            </figure>
                            <p>Bước 3: Các công nhân dùng các loại dụng cụ như búa,dùi sắt,dùi tre nêm đóng chặt các
                              đoạn đay vào mối nối đến khi không đóng vào được nữa.</p>
                            <figure id="attachment_1624" aria-describedby="caption-attachment-1624" style="width: 700px"
                                    class="wp-caption aligncenter"><img class="size-full wp-image-1624"
                                                                        src="https://caukienbetongmienbac.com/wp-content/uploads/2019/10/Trat-vua-xi-mang-moi-noi-cong.jpg"
                                                                        alt="Trat vua xi mang moi noi cong" width="700"
                                                                        height="524"
                                                                        srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/10/Trat-vua-xi-mang-moi-noi-cong.jpg 700w, https://caukienbetongmienbac.com/wp-content/uploads/2019/10/Trat-vua-xi-mang-moi-noi-cong-300x225.jpg 300w, https://caukienbetongmienbac.com/wp-content/uploads/2019/10/Trat-vua-xi-mang-moi-noi-cong-600x449.jpg 600w"
                                                                        sizes="(max-width: 700px) 100vw, 700px"/>
                              <figcaption id="caption-attachment-1624" class="wp-caption-text">Trát vữa xi măng mối nối
                                cống
                              </figcaption>
                            </figure>
                            <blockquote><p>&gt;&gt;&gt; xem ngay báo giá cống hộp bê tông cốt thép cập nhật mới nhất <a
                              href="https://caukienbetongmienbac.com/san-pham/ong-cong-hop/">tại đây </a></p>
                            </blockquote>
                            <p>Bước 4: Sau khi lắp đặt đay tẩm nhựa công nhân sử dụng vữa xi măng cát vàng mác M150 trát
                              các mối nối hoàn thiện theo yêu cầu.</p>
                            <figure id="attachment_1625" aria-describedby="caption-attachment-1625" style="width: 700px"
                                    class="wp-caption aligncenter"><img class="size-full wp-image-1625"
                                                                        src="https://caukienbetongmienbac.com/wp-content/uploads/2019/10/moi-noi-hoan-thien.jpg"
                                                                        alt="moi noi hoan thien" width="700"
                                                                        height="524"
                                                                        srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/10/moi-noi-hoan-thien.jpg 700w, https://caukienbetongmienbac.com/wp-content/uploads/2019/10/moi-noi-hoan-thien-300x225.jpg 300w, https://caukienbetongmienbac.com/wp-content/uploads/2019/10/moi-noi-hoan-thien-600x449.jpg 600w"
                                                                        sizes="(max-width: 700px) 100vw, 700px"/>
                              <figcaption id="caption-attachment-1625" class="wp-caption-text">Mối nối hoàn thiện
                              </figcaption>
                            </figure>
                            <h2><strong>P2: Các loại vật liệu kết nối</strong></h2>
                            <h3><em>Mastic hoặc sợi đay tẩm nhựa đường</em></h3>
                            <p>Bề mặt liên kết sẽ được làm sạch một cách tỉ mỉ, khô ráo và phù hợp với chỉ dẫn tại nhà
                              máy. Một số lượng vừa đủ chất bịt kín sẽ được lấp đầy khoảng nối với một chút bị ép ra.
                              Đối với thời tiết lạnh, khả năng làm việc của chất bịt kín mastic hoặc đay sẽ vẫn làm việc
                              nếu đảm bảo mastic và bề mặt kết nối vẫn đủ nhiệt độ.</p>
                            <h3><em>Vữa <a href="https://vi.wikipedia.org/wiki/Xi_m%C4%83ng">xi măng</a></em></h3>
                            <p>Bề mặt liên kết sẽ được làm sạch một cách tỉ mỉ, làm ẩm trực tiếp bằng nước trước khi lắp
                              đặt cống, một lớp vữa được đổ vào phần cú rónh và phần trờn của phần đầu nối của đoạn cống
                              lắp đặt.sau đó làm phẳng bằng thiết bị như bay xoa…..</p>
                            <h2><strong>P3: Thi công cống hộp đúc sẵn</strong></h2>
                            <figure id="attachment_1626" aria-describedby="caption-attachment-1626" style="width: 700px"
                                    class="wp-caption aligncenter"><img class="size-full wp-image-1626"
                                                                        src="https://caukienbetongmienbac.com/wp-content/uploads/2019/10/Thi-cong-cong-hop-duc-san.jpg"
                                                                        alt="thi cong cong hop duc san" width="700"
                                                                        height="524"
                                                                        srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/10/Thi-cong-cong-hop-duc-san.jpg 700w, https://caukienbetongmienbac.com/wp-content/uploads/2019/10/Thi-cong-cong-hop-duc-san-300x225.jpg 300w, https://caukienbetongmienbac.com/wp-content/uploads/2019/10/Thi-cong-cong-hop-duc-san-600x449.jpg 600w"
                                                                        sizes="(max-width: 700px) 100vw, 700px"/>
                              <figcaption id="caption-attachment-1626" class="wp-caption-text">Thi công cống hộp đúc
                                sẵn
                              </figcaption>
                            </figure>
                            <h3><strong>Đào móng</strong></h3>
                            <p>&#8211; Công tác thi công cống hộp sẽ được tiến hành thi công theo tuyến đó định.</p>
                            <p>&#8211; Trước khi đào móng nhà thầucho trắc đạc lại toàn tuyến, xác định cao độ tuyến
                              cống, định vị trục tuyến cống và cao độ, các mốc gửi để kiểm tra khi cần thiết, định vị vị
                              trí các hố ga, các ga thu và bố trí hợp lý các đoạn nối cống.</p>
                            <p>&#8211; Định vị bề rộng mặt hố đào, đáy hố đào để máy xúc dễ thao tác khi đào đất.</p>
                            <p>&#8211; Trong trường hợp cần thiết, các vị trí móng cột điện hoặc các công trình liền kề
                              trong phạm vi trượt đất khi đào hố móng nhà thầu cho tiến hành xử lý cừ cót ép đóng cọc
                              tre trước khi đào.</p>
                            <p>&#8211; Dùng máy đào gầu nghịch có dung tích gầu phù hợp với điều kiện thi công, đất đào
                              được đổ sang bên cạnh hố đào về phía sát một bên đường, vỉa hè để thuận tiện cho công tác
                              lấp đất và đảm bảo không bị ảnh hưởng đến công tác thi công lắp đặt tuyến cống cũng như
                              giao thông của người dân (Kích thước hố đào được thể hiện trong bản vẽ thi công).</p>
                            <p>&#8211; Cân đối lượng đất dư thừa sau khi lấp để vận chuyển để vận chuyển đi nơi khác,
                              tránh lượng đất tập kết quá nhiều trên mặt bằng.</p>
                            <p>&#8211; Máy đào, đào đến đâu nhà thầu cho sửa bằng thủ công ngay đến đó, tạo rãnh thu, ga
                              thu nước để đảm bảo giữ cho đáy móng luôn khô, tránh hoá bùn đáy móng.</p>
                            <p>&#8211; Sau khi làm phẳng đáy móng, tiến hành đầm sơ bộ bề mặt đáy móng bằng đầm cóc,
                              kiểm tra cao độ, độ chặt đáy móng đảm bảo, tiến hành nghiệm thu trước khi trải đệm đá
                              base, hoặc bờ tụng múng đáy cống.</p>
                            <blockquote><p>&gt;&gt;&gt; Nhận ngay báo giá <a
                              href="https://caukienbetongmienbac.com/san-pham/ho-ga/">hố ga</a> đúc sẵn với triết khấu
                              lên đến 3%</p></blockquote>
                            <h3><strong>Lót base,hoặc bờ tụng múng đáy và hạ cống.</strong></h3>
                            <p>&#8211; Đá base lót đáy cống phải là đá base kích thước trung bỡnh hạt 2&#215;4 cm, sau
                              khi dải lớp lút được đầm chặt bằng đầm cóc hoặc máy lu rung loại nhỏ ( tùy điều kiện thi
                              công), hoặc đổ bê tông lót móng chiều dày phụ thuộc vào bản vẽ thiết kế.</p>
                            <p>&#8211; Độ dày lớp lót sau khi đầm xong khoảng 15cm đến 30 cm, hoặc bê tông móng cống hộp
                              có chiều dày khoảng 15cm đến 20cm tùy vào thiết kê.</p>
                            <p>&#8211; Đo lấy dấu vị trí miệng bát trên đáy cống.</p>
                            <p>&#8211; Tại vị trí đánh dấu, đào hố thao tác.</p>
                            <p>&#8211; Kiểm tra cốt của lớp lót bằng máy thuỷ bình sau khi đầm chặt</p>
                            <p>&#8211; Dùng xe tải có móc cẩu vận chuyển cống và phụ kiện đến công trình.</p>
                            <p>&#8211; Dùng xe tải có móc cẩu hoặc Palăng (tựy thuộc vào điều kiện nhà thầu để chọn máy
                              cẩu sau cho phù hợp) để hạ cống.</p>
                            <p>&#8211; Dây nâng hạ cống dùng cáp lụa, dây vải, tại vị trí buộc cáp dùng tấm đệm cao su
                              tránh làm hỏng lớp bảo vệ ống.</p>
                            <p>&#8211; Sau khi thi công đào đất hố móng và được nghiệm thu bởi tư vấn giám sát, dùng máy
                              xúc hoặc cẩu kato (tùy loại cống mà nhà thầu chọn cẩu hoặc mooc xích</p>
                            <p>&#8211; Tiến hành lắp ghép các ống cống bê tông với nhau sao cho khe hở giữa 2 đốt cống
                              là nhỏ nhất, vật liệu dùng làm mối nối là dây đay tốt. Sợi đay chính là vỏ của cây đay
                              được sản xuất sau khi ngâm nước vài tháng (3-6 tháng) và được rũ sạch, phơi khô, các sợi
                              đay này được bện chặt theo kiểu bên thừng với đường kính phù hợp khe mối nối cần lắp
                              ghép.</p>
                            <p>Nhựa đường được nấu sôi trong khoảng 100<sup>0</sup>C- 120<sup>0</sup> C. Rồi tiến hành
                              nhúng tẩm nhựa đường cho lô dây đay đã bện trong thời gian khoảng 5 phút cho nhựa đường
                              thấm kỹ vào đay. Sau đó tiến hành cắt các đoạn đay với chiều dài bằng chu vi cống hộp. Các
                              công nhân dùng các loại dụng cụ như búa, dùi che nêm đóng chặt các đoạn đay vào mối nối
                              đến khi không thể vào được nữa.</p>
                            <p>&#8211; Chỉnh lại tim cống , dùng vật liệu chèn để cống không bị chệch khỏi tim, trục</p>
                            <p>&#8211; Dùng xi măng cát vàng mác 150 trát các đầu mối nối hoàn thiện theo yêu cầu</p>
                            <p><u>Thi công đúng cao trình đặt cống</u><u> :</u></p>
                            <p>&#8211; Cao trình đặt cống tại hiện trường được xác định dựa vào các điểm mốc cao độ làm
                              chuẩn. Do Chủ đầu tư và Đơn vị Tư vấn thiết kế cấp trong quá trình bàn giao mặt bằng. Từ
                              các mốc cao độ chuẩn này, nhà thầu tiến hành xây dựng lưới truyền dẫn độ cao. Có các tuyến
                              truyền dẫn song song với các tuyến ống. Nhằm tạo ra nhiều điểm mốc chuẩn khác đủ để sử
                              dụng trong quá trình thi công.</p>
                            <p>&#8211; Trong quá trình thi công từ các điểm mốc trên lưới truyền dẫn nói trên nhà
                              thầuđặt máy thuỷ bình. Mặt khác lại dựng mia tại đầu mỗi ống đang lắp. Khi lắp ống xong sẽ
                              điều chỉnh cao độ đỉnh ống chính xác theo yêu cầu với công thức.</p>
                            <p>H<sub>1</sub> + h = H<sub>TK</sub> + M</p>
                            <p>H<sub>1</sub>: Cao độ điểm mốc đặt máy ; h : Chiều cao máy</p>
                            <p>H<sub>TK</sub>: Cao độ đỉnh ống thiết kế</p>
                            <p>M : Chiều cao mia (số dọc mia thuận)</p>
                            <p>H<sub>TK</sub> = H đỉnh ống + D + 2d</p>
                            <p>D : Đường kính ống; d : Chiều dày ống</p>
                            <p><u>Kiểm tra mối nối và công tác lắp đặt:</u></p>
                            <p>&#8211; Dùng máy kinh vĩ, thuỷ bình để kiểm tra cốt đặt ống, độ dốc thuỷ bình. Lập biên
                              bản nghiệm thu cùng chủ đầu tư xong mới được chuyển giai đoạn thi công.</p>
                            <h3><strong>Thi công lấp hoàn trả mặt bằng</strong></h3>
                            <p>&#8211; Việc san lấp mặt bằng chỉ được tiến hành sau khi hố ga và cống hộp đã được lắp
                              đặt và nghiệm thu đúng quy định.</p>
                            <p>&#8211; Phần lấp vật liệu 2 bên ống cống được san lấp bằng thủ công. Thành từng lớp dày
                              30 cm, san đều 2 bên đường cống, tưới ẩm. Tiến hành đầm bằng đầm cóc đến chiều dày tối
                              thiểu cao trình lấp vật liệu cao hơn mặt trên của cống là 50 cm.</p>
                            <p>&#8211; Phần lấp vật liệu phía trên được san gạt nhẹ nhàng bằng máy xúc. Dùng máy đầm cóc
                              đầm mặt đảm bảo độ chặt theo yêu cầu thiết kế cho từng lớp</p>
                            <p>Trên đây là thuyết minh thi công cống- mối nối đay tẩm nhựa đường. Hi vọng bài viết giúp
                              ích được phần nào cho quý khách hàng. Bạn có thể xem thêm nhiều bài viết hữu ích bằng cách
                              theo dõi website của Bê tông Sông Đáy:</p>
                            <p>Website: <a href="https://caukienbetongmienbac.com">https://caukienbetongmienbac.com</a>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>


    </main><!-- #main -->


  </div><!-- #primary -->


</div>
