<div class="ast-container">

  <div data-elementor-type="post" data-elementor-id="18" class="elementor elementor-18 elementor-bc-flex-widget"
       data-elementor-settings="[]">
    <div class="elementor-inner">
      <div class="elementor-section-wrap">
        <section
          class="elementor-element elementor-element-804d63f elementor-section-height-min-height elementor-section-full_width elementor-section-height-default elementor-section-items-middle elementor-section elementor-top-section"
          data-id="804d63f" data-element_type="section"
          data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
          <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-row">
              <div
                class="elementor-element elementor-element-ee1ed93 elementor-column elementor-col-100 elementor-top-column"
                data-id="ee1ed93" data-element_type="column">
                <div class="elementor-column-wrap">
                  <div class="elementor-widget-wrap">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section
          class="elementor-element elementor-element-1ee2749 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
          data-id="1ee2749" data-element_type="section">
          <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-row">
              <div
                class="elementor-element elementor-element-80f9dbc elementor-column elementor-col-100 elementor-top-column"
                data-id="80f9dbc" data-element_type="column">
                <div class="elementor-column-wrap  elementor-element-populated">
                  <div class="elementor-widget-wrap">
                    <div class="elementor-element elementor-element-0452494 elementor-widget elementor-widget-divider"
                         data-id="0452494" data-element_type="widget" data-widget_type="divider.default">
                      <div class="elementor-widget-container">
                        <div class="elementor-divider">
                          <span class="elementor-divider-separator"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section
          class="elementor-element elementor-element-2bf45e9 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
          data-id="2bf45e9" data-element_type="section">
          <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-row">
              <div
                class="col-md-3 elementor-element elementor-element-07cfb69 elementor-column elementor-col-50 elementor-top-column"
                data-id="07cfb69" data-element_type="column">
                <div class="elementor-column-wrap  elementor-element-populated">
                  <div class="elementor-widget-wrap">
                    <div
                      class="elementor-element elementor-element-cee2f6c elementor-widget elementor-widget-text-editor"
                      data-id="cee2f6c" data-element_type="widget" data-widget_type="text-editor.default">
                      <div class="elementor-widget-container">
                        <div class="elementor-text-editor elementor-clearfix">
                          <div class="sidebar-left"><h4>Nhà máy</h4></div>
                        </div>
                      </div>
                    </div>
                    <div
                      class="elementor-element elementor-element-ad82114 elementor-widget elementor-widget-text-editor"
                      data-id="ad82114" data-element_type="widget" data-widget_type="text-editor.default">
                      <div class="elementor-widget-container">
                        <div class="elementor-text-editor elementor-clearfix">
                          <div class="support"><h4>Hỗ trợ khách hàng</h4>
                            <p><i class="glyphicon glyphicon-earphone"></i> Hotline: 0944 997 194</p></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="col-md-9 elementor-element elementor-element-28baa84 elementor-column elementor-col-50 elementor-top-column"
                data-id="28baa84" data-element_type="column">
                <div class="elementor-column-wrap  elementor-element-populated">
                  <div class="elementor-widget-wrap">
                    <div class="elementor-element elementor-element-472fda8 elementor-widget elementor-widget-heading"
                         data-id="472fda8" data-element_type="widget" data-widget_type="heading.default">
                      <div class="elementor-widget-container">
                        <h2 class="elementor-heading-title elementor-size-default">Nhà Máy</h2></div>
                    </div>
                    <div
                      class="elementor-element elementor-element-8f3083c elementor-grid-1 elementor-posts--thumbnail-left elementor-grid-tablet-2 elementor-grid-mobile-1 elementor-widget elementor-widget-posts"
                      data-id="8f3083c" data-element_type="widget"
                      data-settings="{&quot;classic_columns&quot;:&quot;1&quot;,&quot;classic_row_gap&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:35,&quot;sizes&quot;:[]},&quot;classic_columns_tablet&quot;:&quot;2&quot;,&quot;classic_columns_mobile&quot;:&quot;1&quot;}"
                      data-widget_type="posts.classic">
                      <div class="elementor-widget-container">
                        <div
                          class="elementor-posts-container elementor-posts elementor-grid elementor-posts--skin-classic">
                          <article
                            class="elementor-post elementor-grid-item post-890 post type-post status-publish format-standard has-post-thumbnail hentry category-cong-nghe">
                            <a class="elementor-post__thumbnail__link"
                               (click)="phongThiNghiemLasXD1432()">
                              <div class="elementor-post__thumbnail"><img style="height: 200px; margin-bottom: 20px"
                                                                          src="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-2-225x300.jpg"
                                                                          class="attachment-medium size-medium" alt=""
                                                                          srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-2-225x300.jpg 225w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-2-600x800.jpg 600w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-2.jpg 720w"
                                                                          sizes="(max-width: 300px) 100vw, 300px"/>
                              </div>
                            </a>
                            <div class="elementor-post__text">
                              <h3 class="elementor-post__title">
                                <a (click)="phongThiNghiemLasXD1432()">
                                  Phòng thí nghiệm Las-XD 1432 </a>
                              </h3>
                              <div class="elementor-post__excerpt">
                                <p>Được thành lập và công nhận thẹo Quyết định số: 499/QĐ-BXD ngày 22/10/2014, Trung tâm
                                  Thí nghiệm và Kiểm định chất lượng công trình xây</p>
                              </div>
                            </div>
                          </article>
                          <article
                            class="elementor-post elementor-grid-item post-373 post type-post status-publish format-standard has-post-thumbnail hentry category-cong-nghe">
                            <a class="elementor-post__thumbnail__link"
                               (click)="nhaMaySanXuatCongKichNgamNittaSongDay()">
                              <div class="elementor-post__thumbnail"><img style="height: 200px; margin-bottom: 20px"
                                                                          src="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-hop-doi-3-300x200.jpg"
                                                                          class="attachment-medium size-medium" alt=""
                                                                          srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-hop-doi-3-300x200.jpg 300w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-hop-doi-3-768x512.jpg 768w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-hop-doi-3-600x400.jpg 600w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-hop-doi-3.jpg 960w"
                                                                          sizes="(max-width: 300px) 100vw, 300px"/>
                              </div>
                            </a>
                            <div class="elementor-post__text">
                              <h3 class="elementor-post__title">
                                <a
                                  (click)="nhaMaySanXuatCongKichNgamNittaSongDay()">
                                  Nhà máy sản xuất cống kích ngầm Nitta-Sông Đáy </a>
                              </h3>
                              <div class="elementor-post__excerpt">
                                <p>Dự án nhà máy sản xuất cống kích ngầm đặt tại Thuận Thành &#8211; Bắc Ninh trên diện
                                  tích là 2ha Được thực hiện sau</p>
                              </div>
                            </div>
                          </article>
                          <article
                            class="elementor-post elementor-grid-item post-370 post type-post status-publish format-standard has-post-thumbnail hentry category-cong-nghe">
                            <a class="elementor-post__thumbnail__link"
                               (click)="nhaMaySanXuatVLXDSongDay2()">
                              <div class="elementor-post__thumbnail"><img style="height: 200px; margin-bottom: 20px"
                                                                          src="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/tron-300x200.jpg"
                                                                          class="attachment-medium size-medium" alt=""
                                                                          srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/tron-300x200.jpg 300w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/tron-768x512.jpg 768w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/tron-600x400.jpg 600w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/tron.jpg 960w"
                                                                          sizes="(max-width: 300px) 100vw, 300px"/>
                              </div>
                            </a>
                            <div class="elementor-post__text">
                              <h3 class="elementor-post__title">
                                <a (click)="nhaMaySanXuatVLXDSongDay2()">
                                  Nhà máy sản xuất VLXD Sông Đáy 2 </a>
                              </h3>
                              <div class="elementor-post__excerpt">
                                <p>Nhà máy sản xuất VLXD Sông Đáy 2 được xây dựng trên diện tích 9.5 ha tại Cụm Công
                                  nghiệp Hà Mãn &#8211; Trí Quả,</p>
                              </div>
                            </div>
                          </article>
                          <article
                            class="elementor-post elementor-grid-item post-365 post type-post status-publish format-standard has-post-thumbnail hentry category-cong-nghe">
                            <a class="elementor-post__thumbnail__link"
                               (click)="nhaMaySanXuatVLXDSongDay1()">
                              <div class="elementor-post__thumbnail"><img style="height: 200px; margin-bottom: 20px"
                                                                          src="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-hop-3-300x200.jpg"
                                                                          class="attachment-medium size-medium" alt=""
                                                                          srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-hop-3-300x200.jpg 300w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-hop-3-768x512.jpg 768w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-hop-3-600x400.jpg 600w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-hop-3.jpg 960w"
                                                                          sizes="(max-width: 300px) 100vw, 300px"/>
                              </div>
                            </a>
                            <div class="elementor-post__text">
                              <h3 class="elementor-post__title">
                                <a (click)="nhaMaySanXuatVLXDSongDay1()">
                                  Nhà máy sản xuất VLXD Sông Đáy 1 </a>
                              </h3>
                              <div class="elementor-post__excerpt">
                                <p>Nhà máy sản xuất VLXD Sông Đáy 1 được khánh thành vào ngày 13/9/2006 trên diện tích
                                  2.6 ha tại cụm Công nghiệp Phú Nghĩa</p>
                              </div>
                            </div>
                          </article>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>

</div>
