<div class="ast-container">


  <div id="primary" class="content-area primary">


    <main id="main" class="site-main" role="main">


      <div data-elementor-type="single" data-elementor-id="580"
           class="elementor elementor-580 elementor-bc-flex-widget elementor-location-single post-890 post type-post status-publish format-standard has-post-thumbnail hentry category-cong-nghe ast-article-single"
           data-elementor-settings="[]">
        <div class="elementor-inner">
          <div class="elementor-section-wrap">
            <section
              class="elementor-element elementor-element-a033db1 elementor-section-full_width elementor-section-height-min-height elementor-section-height-default elementor-section-items-middle elementor-section elementor-top-section"
              data-id="a033db1" data-element_type="section"
              data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
              <div class="elementor-container elementor-column-gap-default">
                <div class="elementor-row">
                  <div
                    class="elementor-element elementor-element-d350124 elementor-column elementor-col-100 elementor-top-column"
                    data-id="d350124" data-element_type="column">
                    <div class="elementor-column-wrap">
                      <div class="elementor-widget-wrap">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <section
              class="elementor-element elementor-element-632174e3 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
              data-id="632174e3" data-element_type="section">
              <div class="elementor-container elementor-column-gap-default">
                <div class="elementor-row">
                  <div
                    class="elementor-element elementor-element-6fad0fdb elementor-column elementor-col-100 elementor-top-column"
                    data-id="6fad0fdb" data-element_type="column">
                    <div class="elementor-column-wrap  elementor-element-populated">
                      <div class="elementor-widget-wrap">
                        <div
                          class="elementor-element elementor-element-189a2b97 elementor-widget elementor-widget-theme-post-title elementor-page-title elementor-widget-heading"
                          data-id="189a2b97" data-element_type="widget" data-widget_type="theme-post-title.default">
                          <div class="elementor-widget-container">
                            <h1 class="elementor-heading-title elementor-size-default">Phòng thí nghiệm Las-XD 1432</h1>
                          </div>
                        </div>

                        <div
                          class="elementor-element elementor-element-649ba7b1 elementor-widget elementor-widget-theme-post-content"
                          data-id="649ba7b1" data-element_type="widget" data-widget_type="theme-post-content.default">
                          <div class="elementor-widget-container">
                            <p>Được thành lập và công nhận thẹo Quyết định số: 499/QĐ-BXD ngày 22/10/2014, Trung tâm Thí
                              nghiệm và Kiểm định chất lượng công trình xây dựng Las-XD 1432 ( LAS-XD1432) có khả năng
                              thực hiện 19 phép thử bao gồm 157 chỉ tiêu chuyên ngành xây dựng.</p>
                            <p>Hoạt động của Trung tâm bao trùm lên nhiều lĩnh vực như: xây dựng dận dụng, công nghiệp,
                              giao thông, hạ tầng kỹ thuật, thủy- nhiệt điện, thủy lợi, cấu kiện bê tông đúc sẵn&#8230;
                              Do các cán bộ có trình độ Thạc sỹ, kỹ sư đã có từ 5 đến 15 năm kinh nghiệm trong hoạt động
                              thí nghiệm và kiểm định, tư vấn, giám định phù hợp,&#8230; thực hiện.</p>
                            <p>Trung tâm được đầu tư trang bị đầy đủ các hệ thống thiết bị, máy thí nghiệm, thiết bị
                              kiểm định hiện đại với công nghệ tiên tiến nhất, đạt tiêu chuẩn của một phòng thí nghiệm
                              chuẩn quốc tế.</p>
                            <p>Với phương châm: Khách quan- Trung Thực- Chính xác &#8211; Nhanh chóng. Trung tâm cam kết
                              sẽ mang đến cho khách hàng một dịch vụ tốt nhất và luôn là chỗ dựa tin cậy của các nhà đầu
                              tư về chất lượng công trình, đáp ứng các yêu cầu của thực tế, vữn bước phát triển và hội
                              nhập cùng đất nước.</p>
                            <p>Để biết thêm thông tin về phòng thí nghiệm Las-XD 1432 và sản phẩm <a
                              href="https://caukienbetongmienbac.com/danh-muc-san-pham/">cấu kiện bê tông đúc sẵn</a>
                              vui lòng liên hệ:094997194</p>
                            <figure id="attachment_891" aria-describedby="caption-attachment-891" style="width: 720px"
                                    class="wp-caption aligncenter"><a
                              href="https://caukienbetongmienbac.com/phong-thi-nghiem-las-xd-1432/"
                              rel="https://caukienbetongmienbac.com/phong-thi-nghiem-las-xd-1432/"><img
                              class="wp-image-891 size-full"
                              src="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-2.jpg"
                              alt="Máy ép cống 40 Tấn" width="720" height="960"
                              srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-2.jpg 720w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-2-225x300.jpg 225w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-2-600x800.jpg 600w"
                              sizes="(max-width: 720px) 100vw, 720px"/></a>
                              <figcaption id="caption-attachment-891" class="wp-caption-text">Máy ép cống 40 Tấn
                              </figcaption>
                            </figure>
                            <figure id="attachment_892" aria-describedby="caption-attachment-892" style="width: 960px"
                                    class="wp-caption aligncenter"><a
                              href="https://caukienbetongmienbac.com/phong-thi-nghiem-las-xd-1432/" target="_blank"
                              rel="https://caukienbetongmienbac.com/phong-thi-nghiem-las-xd-1432/ noopener noreferrer"><img
                              class="wp-image-892 size-full"
                              src="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-hop-doi-4.jpg"
                              alt="Máy thí nghiệm phục vụ thí nghiệm bê tông cống " width="960" height="540"
                              srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-hop-doi-4.jpg 960w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-hop-doi-4-300x169.jpg 300w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-hop-doi-4-768x432.jpg 768w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-hop-doi-4-600x338.jpg 600w"
                              sizes="(max-width: 960px) 100vw, 960px"/></a>
                              <figcaption id="caption-attachment-892" class="wp-caption-text">Máy thí nghiệm phục vụ thí
                                nghiệm bê tông cống
                              </figcaption>
                            </figure>
                            <figure id="attachment_894" aria-describedby="caption-attachment-894" style="width: 540px"
                                    class="wp-caption aligncenter"><a
                              href="https://caukienbetongmienbac.com/phong-thi-nghiem-las-xd-1432/" target="_blank"
                              rel="https://caukienbetongmienbac.com/phong-thi-nghiem-las-xd-1432/ noopener noreferrer"><img
                              class="wp-image-894 size-full"
                              src="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-hop-duc-san.jpg"
                              alt="Máy nén mẫu cấu kiện bê tông đúc sẵn" width="540" height="960"
                              srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-hop-duc-san.jpg 540w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-hop-duc-san-169x300.jpg 169w"
                              sizes="(max-width: 540px) 100vw, 540px"/></a>
                              <figcaption id="caption-attachment-894" class="wp-caption-text">Máy nén mẫu cấu kiện bê
                                tông đúc sẵn
                              </figcaption>
                            </figure>
                            <figure id="attachment_895" aria-describedby="caption-attachment-895" style="width: 540px"
                                    class="wp-caption aligncenter"><a
                              href="https://caukienbetongmienbac.com/phong-thi-nghiem-las-xd-1432/" target="_blank"
                              rel="https://caukienbetongmienbac.com/phong-thi-nghiem-las-xd-1432/ noopener noreferrer"><img
                              class="wp-image-895 size-full"
                              src="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-hop-4.jpg"
                              alt="Máy nén mẫu thép cấu kiện bê tông đúc sẵn" width="540" height="960"
                              srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-hop-4.jpg 540w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-hop-4-169x300.jpg 169w"
                              sizes="(max-width: 540px) 100vw, 540px"/></a>
                              <figcaption id="caption-attachment-895" class="wp-caption-text">Máy nén mẫu thép cấu kiện
                                bê tông đúc sẵn
                              </figcaption>
                            </figure>
                            <p><img class="aligncenter size-full wp-image-893"
                                    src="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-hop-don.jpg"
                                    alt="" width="540" height="960"
                                    srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-hop-don.jpg 540w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-hop-don-169x300.jpg 169w"
                                    sizes="(max-width: 540px) 100vw, 540px"/> <img
                              class="aligncenter size-full wp-image-896"
                              src="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-tron-3.jpg" alt=""
                              width="960" height="540"
                              srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-tron-3.jpg 960w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-tron-3-300x169.jpg 300w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-tron-3-768x432.jpg 768w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-tron-3-600x338.jpg 600w"
                              sizes="(max-width: 960px) 100vw, 960px"/></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>


    </main><!-- #main -->


  </div><!-- #primary -->


</div>
