<br>
<div class="row" style="font-size: 1.2rem; color: white; margin: 10px">
  <div class="col-md-3">
    <span><b>LIÊN HỆ</b></span>
    <br>
    <br>
    <span class="glyphicon glyphicon-earphone"></span><span>  0968979040 – 0826258686</span>
    <br>
    <span class="glyphicon glyphicon-envelope"></span><span>  quangtran.songday@gmail.com</span>
    <br>
    <span class="glyphicon glyphicon-map-marker"></span><span>  102 Thái Thịnh, P. Ngã Tư Sở, Đống Đa, Hà Nội</span>
  </div>
  <div class="col-md-2">
    <span><b>LINK NHANH</b></span>
    <br>
    <br>
    <span routerLink="lien-he">Hướng dẫn đặt hàng</span>
    <br>
    <span routerLink="lien-he">Liên hệ</span>
  </div>
  <div class="col-md-2">
    <span><b>SẢN PHẨM</b></span>
    <br><br>
    <span routerLink="bao-gia-cong-tron">Cống tròn</span>
    <br>
    <span routerLink="bao-gia-cong-hop">Cống hộp</span>
    <br>
    <span routerLink="bao-gia-hao-ky-thuat">Hào kỹ thuật</span>
    <br>
    <span routerLink="bao-gia-ho-ga">Hố ga đúc sẵn</span>
    <br>
    <span routerLink="cong-kich-ngam">Cống kích ngầm</span>
    <br>
    <span routerLink="be-tong-vom">Bê tông vòm</span>
  </div>
  <div class="col-md-2">
    <span><b>DỊCH VỤ</b></span>
    <br><br>
    <span routerLink="dich-vu-thi-nghiem">Dịch vụ thí nghiệm</span>
    <br>
    <span routerLink="dich-vu-van-chuyen">Dịch vụ vận chuyển</span>
    <br>
    <img src="../../../assets/images_Quang/DMCA_logo-grn-btn200w.png" style="height: 50px">
  </div>
  <div class="col-md-3">
    <div class="elementor-widget-wrap">
      <div class="elementor-element elementor-element-5f3bc002 elementor-widget elementor-widget-heading"
           data-id="5f3bc002" data-element_type="widget" data-widget_type="heading.default">
        <div class="elementor-widget-container">
          <span><b>Zalo</b></span>
        </div>
      </div>
      <br>
      <img src="../../../assets/images_after/91208502_255983815564165_6200886263692656640_n.jpg" style="width: 70%">
    </div>
  </div>
</div>

