<div class="ast-container">


  <div id="primary" class="content-area primary">


    <main id="main" class="site-main" role="main">


      <div data-elementor-type="single" data-elementor-id="580"
           class="elementor elementor-580 elementor-bc-flex-widget elementor-location-single post-633 post type-post status-publish format-standard has-post-thumbnail hentry category-tin-tuc ast-article-single"
           data-elementor-settings="[]">
        <div class="elementor-inner">
          <div class="elementor-section-wrap">
            <section
              class="elementor-element elementor-element-a033db1 elementor-section-full_width elementor-section-height-min-height elementor-section-height-default elementor-section-items-middle elementor-section elementor-top-section"
              data-id="a033db1" data-element_type="section"
              data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
              <div class="elementor-container elementor-column-gap-default">
                <div class="elementor-row">
                  <div
                    class="elementor-element elementor-element-d350124 elementor-column elementor-col-100 elementor-top-column"
                    data-id="d350124" data-element_type="column">
                    <div class="elementor-column-wrap">
                      <div class="elementor-widget-wrap">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <section
              class="elementor-element elementor-element-632174e3 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
              data-id="632174e3" data-element_type="section">
              <div class="elementor-container elementor-column-gap-default">
                <div class="elementor-row">
                  <div
                    class="elementor-element elementor-element-6fad0fdb elementor-column elementor-col-100 elementor-top-column"
                    data-id="6fad0fdb" data-element_type="column">
                    <div class="elementor-column-wrap  elementor-element-populated">
                      <div class="elementor-widget-wrap">
                        <div
                          class="elementor-element elementor-element-189a2b97 elementor-widget elementor-widget-theme-post-title elementor-page-title elementor-widget-heading"
                          data-id="189a2b97" data-element_type="widget" data-widget_type="theme-post-title.default">
                          <div class="elementor-widget-container">
                            <h1 class="elementor-heading-title elementor-size-default">Lễ công bố Liên danh Cống kích
                              ngầm Nitta &#8211; Sông Đáy.</h1></div>
                        </div>
                        <div
                          class="elementor-element elementor-element-649ba7b1 elementor-widget elementor-widget-theme-post-content"
                          data-id="649ba7b1" data-element_type="widget" data-widget_type="theme-post-content.default">
                          <div class="elementor-widget-container">
                            <h1>Lễ công bố Liên danh Cống kích ngầm Nitta &#8211; Sông Đáy.</h1>
                            <figure id="attachment_1541" aria-describedby="caption-attachment-1541" style="width: 840px"
                                    class="wp-caption aligncenter"><img
                              class="Lễ công bố cống kích ngầm Sông Đáy ảnh 5 wp-image-1541"
                              title="Lễ công bố cống kích ngầm Sông Đáy ảnh 5"
                              src="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/Lễ-công-bố-cống-kích-ngầm-Sông-Đáy-ảnh-5.jpg"
                              alt="le cong bo cong kich ngam song day anh 5" width="840" height="560"
                              srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/Lễ-công-bố-cống-kích-ngầm-Sông-Đáy-ảnh-5.jpg 1067w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/Lễ-công-bố-cống-kích-ngầm-Sông-Đáy-ảnh-5-300x200.jpg 300w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/Lễ-công-bố-cống-kích-ngầm-Sông-Đáy-ảnh-5-768x512.jpg 768w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/Lễ-công-bố-cống-kích-ngầm-Sông-Đáy-ảnh-5-1024x682.jpg 1024w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/Lễ-công-bố-cống-kích-ngầm-Sông-Đáy-ảnh-5-600x400.jpg 600w"
                              sizes="(max-width: 840px) 100vw, 840px"/>
                              <figcaption id="caption-attachment-1541" class="wp-caption-text">Lễ công bố cống kích
                                ngầm Sông Đáy ảnh 5
                              </figcaption>
                            </figure>
                            <p>Tại buổi lễ, đại diện bộ Xây Dựng Việt Nam đã đọc thư chúc mừng của Bộ Trưởng Phạm Hồng
                              Hà và đại diện Đại sứ quán Nhật Bản cũng đã đọc thư chúc mừng của Bộ trưởng bộ Kiến Thiết
                              Nhật Bản nhân dịp ra mắt công ty liên doanh Nitta Sông Đáy.</p>
                            <figure id="attachment_1542" aria-describedby="caption-attachment-1542" style="width: 840px"
                                    class="wp-caption aligncenter"><img
                              class="Lễ công bố cống kích ngầm Sông Đáy ảnh 1 wp-image-1542"
                              title="Lễ công bố cống kích ngầm Sông Đáy ảnh 1"
                              src="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/Lễ-công-bố-cống-kích-ngầm-Sông-Đáy-ảnh-1.jpg"
                              alt="le cong bo cong kich ngam song day anh 1" width="840" height="550"
                              srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/Lễ-công-bố-cống-kích-ngầm-Sông-Đáy-ảnh-1.jpg 1047w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/Lễ-công-bố-cống-kích-ngầm-Sông-Đáy-ảnh-1-300x197.jpg 300w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/Lễ-công-bố-cống-kích-ngầm-Sông-Đáy-ảnh-1-768x503.jpg 768w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/Lễ-công-bố-cống-kích-ngầm-Sông-Đáy-ảnh-1-1024x671.jpg 1024w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/Lễ-công-bố-cống-kích-ngầm-Sông-Đáy-ảnh-1-600x393.jpg 600w"
                              sizes="(max-width: 840px) 100vw, 840px"/>
                              <figcaption id="caption-attachment-1542" class="wp-caption-text">Lễ công bố cống kích
                                ngầm Sông Đáy ảnh 1
                              </figcaption>
                            </figure>
                            <figure id="attachment_1543" aria-describedby="caption-attachment-1543" style="width: 475px"
                                    class="wp-caption aligncenter"><img
                              class="Lễ công bố cống kích ngầm Sông Đáy ảnh 3 wp-image-1543 size-full"
                              title="Lễ công bố cống kích ngầm Sông Đáy ảnh 3"
                              src="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/Lễ-công-bố-cống-kích-ngầm-Sông-Đáy-ảnh-3.jpg"
                              alt="le cong bo cong kich ngam song day anh 3" width="475" height="641"
                              srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/Lễ-công-bố-cống-kích-ngầm-Sông-Đáy-ảnh-3.jpg 475w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/Lễ-công-bố-cống-kích-ngầm-Sông-Đáy-ảnh-3-222x300.jpg 222w"
                              sizes="(max-width: 475px) 100vw, 475px"/>
                              <figcaption id="caption-attachment-1543" class="wp-caption-text">Lễ công bố cống kích
                                ngầm Sông Đáy ảnh 3
                              </figcaption>
                            </figure>
                            <figure id="attachment_1544" aria-describedby="caption-attachment-1544" style="width: 840px"
                                    class="wp-caption aligncenter"><img
                              class="Lễ công bố cống kích ngầm Sông Đáy ảnh 4 wp-image-1544"
                              title="Lễ công bố cống kích ngầm Sông Đáy ảnh 4"
                              src="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/Lễ-công-bố-cống-kích-ngầm-Sông-Đáy-ảnh-4.jpg"
                              alt="le cong bo cong kich ngam song day anh 4" width="840" height="558"
                              srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/Lễ-công-bố-cống-kích-ngầm-Sông-Đáy-ảnh-4.jpg 1019w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/Lễ-công-bố-cống-kích-ngầm-Sông-Đáy-ảnh-4-300x199.jpg 300w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/Lễ-công-bố-cống-kích-ngầm-Sông-Đáy-ảnh-4-768x510.jpg 768w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/Lễ-công-bố-cống-kích-ngầm-Sông-Đáy-ảnh-4-600x399.jpg 600w"
                              sizes="(max-width: 840px) 100vw, 840px"/>
                              <figcaption id="caption-attachment-1544" class="wp-caption-text">Lễ công bố cống kích
                                ngầm Sông Đáy ảnh 4
                              </figcaption>
                            </figure>
                            <figure id="attachment_1545" aria-describedby="caption-attachment-1545" style="width: 840px"
                                    class="wp-caption aligncenter"><img
                              class="Lễ công bố cống kích ngầm Sông Đáy wp-image-1545"
                              title="Lễ công bố cống kích ngầm Sông Đáy"
                              src="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/Lễ-công-bố-cống-kích-ngầm-Sông-Đáy.jpg"
                              alt="le cong bo cong kich ngam song day" width="840" height="591"
                              srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/Lễ-công-bố-cống-kích-ngầm-Sông-Đáy.jpg 915w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/Lễ-công-bố-cống-kích-ngầm-Sông-Đáy-300x211.jpg 300w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/Lễ-công-bố-cống-kích-ngầm-Sông-Đáy-768x541.jpg 768w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/Lễ-công-bố-cống-kích-ngầm-Sông-Đáy-600x422.jpg 600w"
                              sizes="(max-width: 840px) 100vw, 840px"/>
                              <figcaption id="caption-attachment-1545" class="wp-caption-text">Lễ công bố cống kích
                                ngầm Sông Đáy
                              </figcaption>
                            </figure>
                            <h2>Cống kích ngầm</h2>
                            <p>Sau các nghi thức chào mừng và công bố lý do, tại buổi lễ toàn thể các đại biểu đến dự đã
                              chứng kiến lễ ký kết giữa 2 bên là Công ty CP VLXD Sông Đáy (Việt Nam) và Công ty TNHH
                              Global Works (Nhật Bản) để triển khai thực hiện dự án nhà máy <a
                                href="https://caukienbetongmienbac.com/danh-muc-san-pham/cong-kich-ngam/"
                                target="_blank" rel="noopener noreferrer">Cống kích ngầm</a> do liên doanh Nitta Sông
                              Đáy làm chủ đầu tư.</p>
                            <p>Sự kết hợp 12 năm kinh nghiệm sản xuất ống cống và đứng vững trên thị trường đã mang lại
                              uy tín và thương hiệu cho Công ty CP Vật liệu Xây dựng Sông Đáy cùng với sự dày dạn kinh
                              nghiệm và bí quyết công nghệ trong xử lý kết cấu bê tông và khả năng chống ăn mòn của Công
                              ty TNHH Global Work hứa hẹn sẽ tạo ra một sản phẩm mới mang tính cách mạng và tiên phong
                              đi đầu trong lĩnh vực vật liệu kết cấu hạ tầng tại Việt Nam</p>
                            <p>Để biết thêm thông tin về nhà máy và sản phẩm cống kích ngầm và <a
                              href="https://caukienbetongmienbac.com/san-pham/ong-cong-hop/" target="_blank"
                              rel="noopener noreferrer">cấu kiện bê tông đúc sẵn</a> Sông Đáy vui lòng LH Mr Hoàng:
                              0944997194</p>
                            <blockquote><p><a href="https://caukienbetongmienbac.com/san-pham/cong-tron/">Click here</a>
                              và nhận ngay báo giá cống tròn cùng ưu đãi lên đến 3% cho 5 khách hàng đầu tiên
                              trong tháng.</p></blockquote>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>


    </main><!-- #main -->


  </div><!-- #primary -->


</div>
