<div class="ast-container">



  <div id="primary" class="content-area primary">


    <main id="main" class="site-main" role="main">


      <div data-elementor-type="single" data-elementor-id="580" class="elementor elementor-580 elementor-bc-flex-widget elementor-location-single post-1576 post type-post status-publish format-standard has-post-thumbnail hentry category-tin-tuc ast-article-single" data-elementor-settings="[]">
        <div class="elementor-inner">
          <div class="elementor-section-wrap">
            <section class="elementor-element elementor-element-a033db1 elementor-section-full_width elementor-section-height-min-height elementor-section-height-default elementor-section-items-middle elementor-section elementor-top-section" data-id="a033db1" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
              <div class="elementor-container elementor-column-gap-default">
                <div class="elementor-row">
                  <div class="elementor-element elementor-element-d350124 elementor-column elementor-col-100 elementor-top-column" data-id="d350124" data-element_type="column">
                    <div class="elementor-column-wrap">
                      <div class="elementor-widget-wrap">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <section class="elementor-element elementor-element-632174e3 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="632174e3" data-element_type="section">
              <div class="elementor-container elementor-column-gap-default">
                <div class="elementor-row">
                  <div class="elementor-element elementor-element-6fad0fdb elementor-column elementor-col-100 elementor-top-column" data-id="6fad0fdb" data-element_type="column">
                    <div class="elementor-column-wrap  elementor-element-populated">
                      <div class="elementor-widget-wrap">
                        <div class="elementor-element elementor-element-189a2b97 elementor-widget elementor-widget-theme-post-title elementor-page-title elementor-widget-heading" data-id="189a2b97" data-element_type="widget" data-widget_type="theme-post-title.default">
                          <div class="elementor-widget-container">
                            <h1 class="elementor-heading-title elementor-size-default">Bê tông cốt thép là gì?</h1>		</div>
                        </div>
                        <div class="elementor-element elementor-element-ddf87dd elementor-mobile-align-center elementor-align-center elementor-widget elementor-widget-post-info" data-id="ddf87dd" data-element_type="widget" data-widget_type="post-info.default">
                          <div class="elementor-widget-container">
                            <ul class="elementor-inline-items elementor-icon-list-items elementor-post-info">
                              <li class="elementor-icon-list-item elementor-repeater-item-ba9c996 elementor-inline-item" itemprop="datePublished">
                                <a href="https://caukienbetongmienbac.com/2019/10/06/">
														<span class="elementor-icon-list-text elementor-post-info__item elementor-post-info__item--type-date">
										Tháng Mười 6, 2019					</span>
                                </a>
                              </li>
                              <li class="elementor-icon-list-item elementor-repeater-item-d7670a7 elementor-inline-item">
													<span class="elementor-icon-list-text elementor-post-info__item elementor-post-info__item--type-time">
							<span class="elementor-post-info__item-prefix">,</span>
										10:08 sáng					</span>
                              </li>
                              <li class="elementor-icon-list-item elementor-repeater-item-afbda51 elementor-inline-item" itemprop="about">
													<span class="elementor-icon-list-text elementor-post-info__item elementor-post-info__item--type-terms">
							<span class="elementor-post-info__item-prefix">,</span>
										<span class="elementor-post-info__terms-list">
				<a href="https://caukienbetongmienbac.com/category/tin-tuc/" class="elementor-post-info__terms-list-item">Tin tức</a>				</span>
					</span>
                              </li>
                            </ul>
                          </div>
                        </div>
                        <div class="elementor-element elementor-element-649ba7b1 elementor-widget elementor-widget-theme-post-content" data-id="649ba7b1" data-element_type="widget" data-widget_type="theme-post-content.default">
                          <div class="elementor-widget-container">
                            <h1><strong>Tìm hiểu về bê tông cốt thép (BTCT) là gì?</strong></h1>
                            <p>Như chúng ta đã biết trong xây dựng thì <a href="https://vi.wikipedia.org/wiki/B%C3%AA_t%C3%B4ng">bê tông</a> và cốt <a href="https://vi.wikipedia.org/wiki/Th%C3%A9p">thép</a> là hai vật liệu không thể thiếu. Nó có vai trò quan trọng trong tất cả các công trình xây dựng hiện nay.</p>
                            <p>Vậy định nghĩa BTCT là gì?</p>
                            <p>Chúng có đặc điểm như thế nào,  những ưu nhược của BTCT là gì?</p>
                            <p>Trong bài viết dưới đây chúng tôi sẽ giải đáp cho các bạn biết rõ hơn về vấn đề này.</p>
                            <ul>
                              <li>
                                <p><figure id="attachment_1587" aria-describedby="caption-attachment-1587" style="width: 700px" class="wp-caption aligncenter"><img class="size-full wp-image-1587" src="https://caukienbetongmienbac.com/wp-content/uploads/2019/10/Be-tong-cot-thep-2.jpg" alt="Be tong cot thep" width="700" height="407" srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/10/Be-tong-cot-thep-2.jpg 700w, https://caukienbetongmienbac.com/wp-content/uploads/2019/10/Be-tong-cot-thep-2-300x174.jpg 300w, https://caukienbetongmienbac.com/wp-content/uploads/2019/10/Be-tong-cot-thep-2-600x349.jpg 600w" sizes="(max-width: 700px) 100vw, 700px" /><figcaption id="caption-attachment-1587" class="wp-caption-text">Bê tông cốt thép</figcaption></figure></li>
                            </ul>
                            <h2><strong>Bê tông cốt thép là gì?</strong></h2>
                            <p>Trong xây dựng thuật ngữ BTCT được hiểu là sự kết hợp giữa hai vật liệu xây dựng này với nhau.</p>
                            <p>Chúng có tác dụng chịu lực tốt, có khả năng đảm bảo cho công trình xây dựng trở bên bền vững hơn.</p>
                            <p>Để có thể tạo ra sản phẩm BTCT người ta sẽ sử dụng bê tông tươi đã được nhào trộn theo tỷ lệ.</p>
                            <p>Việc nhào trộn đúng tỷ lệ cấp phối của cát, si, nước  sẽ mang tới một hỗn hợp bê tông chắc chắn.</p>
                            <p>Sau đó sử dụng bê tông tươi kết hợp với thép chịu lực để cho ra sản phẩm BTCT hoàn chỉnh.</p>
                            <blockquote><p>&gt;&gt;&gt; Bê tông Sông Đáy đang có chương trình ưu đãi với sản phẩm Cống tròn bê tông cốt thép. Để biết thêm chi tiết xem <a href="https://caukienbetongmienbac.com/san-pham/cong-tron/">tại đây</a></p></blockquote>
                            <h2><strong>Đặc điểm của BTCT trong xây dựng</strong></h2>
                            <p>Nếu như tách biệt hai vật liệu này chúng ta có thể thấy bê tông có khả năng chịu nén khá nhưng chịu lực kéo lại rất yếu.</p>
                            <p>Chính vì thế bê tông thường dùng để gắn các đối tượng với nhau.</p>
                            <p>Ngược lại thép có khả năng chịu được lực kéo, độ uốn tốt.</p>
                            <p>Chính hai đặc điểm chính của hai loại vật liệu này khi kết hợp với nhau chúng có khả năng bổ sung cho nhau.</p>
                            <p>Bê tông có vai trò gắn thép lại với nhau tạo thành khung chắc chắn, thép định vị bê tông tránh nứt, gãy, vỡ.</p>
                            <h2><strong>Lý do nào khiến bê tông và cốt thép có thể gắn kết với nhau chịu lực</strong></h2>
                            <p>Khi chúng ta gắn bê tông và cốt thép với nhau chúng sẽ tạo thành một khối chắc chắn.</p>
                            <p>Lực dính của bê tông sẽ gắn thép lại với nhau khiến cho cường độ thép mới được khai thác. Bề kéo khiến bê tông bị nứt gãy sẽ hạn chế hơn.</p>
                            <ul>
                              <li>
                                <p><figure id="attachment_1589" aria-describedby="caption-attachment-1589" style="width: 700px" class="wp-caption aligncenter"><img class="Đổ bê tông cốt thép wp-image-1589 size-full" title="Đổ bê tông cốt thép" src="https://caukienbetongmienbac.com/wp-content/uploads/2019/10/Do-be-tong-cot-thep.jpg" alt="Do be tong cot thep" width="700" height="524" srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/10/Do-be-tong-cot-thep.jpg 700w, https://caukienbetongmienbac.com/wp-content/uploads/2019/10/Do-be-tong-cot-thep-300x225.jpg 300w, https://caukienbetongmienbac.com/wp-content/uploads/2019/10/Do-be-tong-cot-thep-600x449.jpg 600w" sizes="(max-width: 700px) 100vw, 700px" /><figcaption id="caption-attachment-1589" class="wp-caption-text">Đổ BTCT</figcaption></figure></li>
                            </ul>
                            <p>Để đảm bảo cho BTCT đạt chất lượng tốt nhất.</p>
                            <p>Chúng ta cần chú ý đầm bê tông với các chất phụ gia theo tỷ lệ tốt nhất, cần phải đầm thật kỹ.</p>
                            <p>Giữa bê tông và cốt thép không xảy ra bất kỳ phản ứng hóa học nào.</p>
                            <p>BTCT có khả năng chịu lực chịu nhiệt và chịu được sự tác động xâm lấn của môi trường.</p>
                            <blockquote><p>&gt;&gt;&gt; Xem ngay báo giá cống hộp bê tông cốt thép <a href="https://caukienbetongmienbac.com/san-pham/ong-cong-hop/">tại đây</a></p></blockquote>
                            <figure id="attachment_1590" aria-describedby="caption-attachment-1590" style="width: 700px" class="wp-caption aligncenter"><img class="Bê tông cốt thép thành phầm wp-image-1590 size-full" title="Bê tông cốt thép thành phầm" src="https://caukienbetongmienbac.com/wp-content/uploads/2019/10/be-tong-cot-thep-thanh-pham.jpg" alt="Be tong cot thep thanh pham" width="700" height="604" srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/10/be-tong-cot-thep-thanh-pham.jpg 700w, https://caukienbetongmienbac.com/wp-content/uploads/2019/10/be-tong-cot-thep-thanh-pham-300x259.jpg 300w, https://caukienbetongmienbac.com/wp-content/uploads/2019/10/be-tong-cot-thep-thanh-pham-600x518.jpg 600w" sizes="(max-width: 700px) 100vw, 700px" /><figcaption id="caption-attachment-1590" class="wp-caption-text">BTCT thành phầm</figcaption></figure>
                            <h2><strong>Ưu nhược điểm của BTCT</strong></h2>
                            <ul>
                              <li>
                                <h3><strong>Ưu điểm</strong></h3>
                              </li>
                            </ul>
                            <p><strong>BTCT</strong> tạo cho công trình có độ cứng cao hơn  nhiều lần so với chỉ sử dụng vật liệu thép hoặc bê tông. Giúp cho các công trình trở bên chắc chắn, bền hơn, ít chịu tác động của môi trường xung quanh.</p>
                            <ul>
                              <li>
                                <h3><strong>Nhược điểm</strong></h3>
                              </li>
                            </ul>
                            <p>BTCT cũng có nhược điểm là khả năng chịu lực đập không quá cao, không có tính dẻo, là một khối liền chắc chắn nên khó di chuyển, thay đổi.</p>
                            <p>Hy vọng những thông tin ở trên đã giúp các bạn hiểu hơn về BTCT là gì. Việc sử dụng BTCT trong xây dựng là một sản phẩm  không thể thiếu.</p>
                            <p>Tất cả các công trình dân dụng, công trình giao thông hiện nay đều cần đến sự kết hợp của hai loại vật liệu này.</p>
                            <p>Website: https://caukienbetongmienbac.com</p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>




    </main><!-- #main -->


  </div><!-- #primary -->



</div>
