<div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--description panel entry-content wc-tab" id="tab-description"
     role="tabpanel" aria-labelledby="tab-title-description" style="display: block;">


  <h1>Cống hộp đôi đúc sẵn H2x(2000×2000)</h1>
  <p><span style="font-family: 'Arial','sans-serif';">Cống hộp đôi đúc sẵn H2x(2000×2000) được sản xuất bằng công nghệ rung thủy lực ( rung bàn) của hãng Pedershaap Đan Mạch.</span>
  </p>
  <p><span style="font-family: 'Arial','sans-serif';">Chủng loại: Cống hộp đôi đúc sẵn H2x(2000×2000) VH (Tải T), Cống hộp đôi đúc sẵn H2x(2000×2000) HL93 (Tải TC),</span>
  </p>
  <h2><strong><span style="font-family: 'Arial','sans-serif';">Đặc điểm kỹ thuật:</span></strong></h2>
  <h3><strong><span style="font-family: 'Arial','sans-serif';">Kích thước:</span></strong></h3>
  <p><span style="font-family: 'Arial','sans-serif';">Chiêu rộng mỗi bên : 2000 mm</span></p>
  <p><span style="font-family: 'Arial','sans-serif';">Chiều cao cống : 2000 mm</span></p>
  <p><span style="font-family: 'Arial','sans-serif';">Chiều dài cống : 1200 mm</span></p>
  <p><span style="font-family: 'Arial','sans-serif';">Độ dày : 200 mm</span></p>
  <p><span style="font-family: 'Arial','sans-serif';">Khối lượng cống : 10572 kg</span></p>
  <h3><strong><span style="font-family: 'Arial','sans-serif';">Vật liệu chế tạo cống hộp đôi đúc sẵn</span></strong><span
    style="font-family: 'Arial','sans-serif';"> <strong>H2x(2000×2000) là:</strong></span></h3>
  <p><span style="font-family: 'Arial','sans-serif';">+ Bê tông: Bê tông C25 tương đương mac bê tông M300;</span></p>
  <p><span style="font-family: 'Arial','sans-serif';">+ Cốt thép: Thép kéo nguội D7, D9</span></p>
  <p><span style="font-family: 'Arial','sans-serif';">+ Mối nối cống hộp bê tông đúc sẵn được thực hiện bằng sự lắp ráp giữa đầu dương và đầu âm của các đốt cống. Vật liệu dùng để làm mối nối là vữa xi măng mác cao hoặc sợi đay tẩm nhựa đường;</span>
  </p>
  <h3><strong><span
    style="font-family: 'Arial','sans-serif';">Đánh giá chất lượng cống hộp đôi đúc sẵn :</span></strong></h3>
  <p><span style="font-family: 'Arial','sans-serif';">– Bề mặt bên trong và bên ngoài của cống hộp phẳng đều, các điểm gồ lên hoặc lõm xuống không quá 5mm;</span>
  </p>
  <p><span style="font-family: 'Arial','sans-serif';">– Bê tông cống đồng nhất, đặc chắc;</span></p>
  <p><span style="font-family: 'Arial','sans-serif';">– Khả năng chịu tải của cống hộp bê tông đúc sẵn tuân theo tiêu chuẩn thiết kế về chịu tải, đạt yêu cầu cấp tải T và TC theo TCVN 9116:2012</span>
  </p>
  <p><span style="font-family: 'Arial','sans-serif';">– Khả năng chống thấm của ống cống đạt theo TCVN 9116:2012 – Ống cống bê tông cốt thép thoát nước</span>
  </p>
  <p><span style="font-family: 'Arial','sans-serif';"><em><b><span
    style="font-family: 'Arial','sans-serif'; text-decoration: none; text-underline: none;">Giá bán cống hộp đôi đúc sẵn H2x(</span></b></em><em><b>20</b></em><em><b><span
    style="font-family: 'Arial','sans-serif'; text-decoration: none; text-underline: none;">00x</span></b></em><em><b>20</b></em><em><b><span
    style="font-family: 'Arial','sans-serif'; text-decoration: none; text-underline: none;">00) VH</span></b></em><em><b>: 14.300.000 Vnđ/m</b></em></span>
  </p>
  <p><em><b><span style="font-family: 'Arial','sans-serif';">Giá bán cống hộp đôi đúc sẵn H2x(2000×2000) HL93: 17.300.000 Vnđ/m</span></b></em>
  </p>
  <figure id="attachment_1037" aria-describedby="caption-attachment-1037" style="width: 600px"
          class="wp-caption aligncenter"><a
    rel="https://caukienbetongmienbac.com/san-pham/cong-họp-doi-duc-san-h2x2000x2000/ noopener noreferrer"><img
    class="wp-image-1037 size-full"
    src="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/z1235044169236_41520fc12cbca74a470df6d1e23c5bc5.jpg"
    alt="Cống hộp đôi đúc sẵn H2x(2000x2000)" width="2560" height="1920"
    srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/z1235044169236_41520fc12cbca74a470df6d1e23c5bc5.jpg 2560w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/z1235044169236_41520fc12cbca74a470df6d1e23c5bc5-300x225.jpg 300w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/z1235044169236_41520fc12cbca74a470df6d1e23c5bc5-768x576.jpg 768w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/z1235044169236_41520fc12cbca74a470df6d1e23c5bc5-1024x768.jpg 1024w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/z1235044169236_41520fc12cbca74a470df6d1e23c5bc5-600x450.jpg 600w"
    sizes="(max-width: 2560px) 100vw, 2560px"></a>
    <figcaption id="caption-attachment-1037" class="wp-caption-text">Cống hộp đôi đúc sẵn H2x(2000×2000)</figcaption>
  </figure>
</div>
<iframe name="f18d046cfa8194" width="1000px" height="100px" title="fb:comments Facebook Social Plugin" frameborder="0"
        allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media"
        src="https://www.facebook.com/v2.10/plugins/comments.php?app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D46%23cb%3Df3edbfa46f0f73%26domain%3Dcaukienbetongmienbac.com%26origin%3Dhttps%253A%252F%252Fcaukienbetongmienbac.com%252Ff92ba516ad3bd%26relation%3Dparent.parent&amp;container_width=849&amp;height=100&amp;href=https%3A%2F%2Fcaukienbetongmienbac.com%2F%3Fp%3D1481&amp;locale=en_US&amp;numposts=5&amp;order_by=social&amp;sdk=joey&amp;version=v2.10"
        style="border: none; visibility: visible; width: 100%; height: 178px;" class=""></iframe>
