<div class="ast-container">

  <div data-elementor-type="post" data-elementor-id="24" class="elementor elementor-24" data-elementor-settings="[]">
    <div class="elementor-inner">
      <div class="elementor-section-wrap">
        <section
          class="elementor-element elementor-element-fb9818f elementor-section-height-min-height elementor-section-full_width elementor-section-height-default elementor-section-items-middle elementor-section elementor-top-section"
          data-id="fb9818f" data-element_type="section"
          data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
          <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-row">
              <div
                class="elementor-element elementor-element-7b32ff8 elementor-column elementor-col-100 elementor-top-column"
                data-id="7b32ff8" data-element_type="column">
                <div class="elementor-column-wrap">
                  <div class="elementor-widget-wrap">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section
          class="elementor-element elementor-element-8450404 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
          data-id="8450404" data-element_type="section">
          <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-row">
              <div
                class="elementor-element elementor-element-671d5f2 elementor-column elementor-col-50 elementor-top-column"
                data-id="671d5f2" data-element_type="column">
                <div class="elementor-column-wrap  elementor-element-populated">
                  <div class="elementor-widget-wrap">
                    <div
                      class="elementor-element elementor-element-9e24d7b details-contact elementor-widget elementor-widget-text-editor"
                      data-id="9e24d7b" data-element_type="widget" data-widget_type="text-editor.default">
                      <div class="elementor-widget-container">
                        <div class="elementor-text-editor elementor-clearfix"><p><strong>VĂN PHÒNG ĐẠI DIỆN</strong></p>
                          <p>Địa chỉ: Tầng 4, Hà Thành Plaza, Số 102 Thái Thịnh, Đống Đa, Hà Nội.</p>
                          <p>Điện Thoại: 0968979040 – 0826258686</p>
                          <p>Mail: quangtran.songday@gmail.com</p>
                          <p><strong>Nhà máy Sông Đáy 1</strong></p>
                          <p>Địa chỉ: Cụm công nghiệp Phú Nghĩa, huyện Chương Mỹ, Hà Nội.</p>
                          <p><strong>Nhà máy Sông Đáy 2</strong></p>
                          <p>Địa chỉ: Cụm công nghiệp Hà Mãn, Trí Quả, Thuận Thành, Bắc Ninh</p></div>
                      </div>
                    </div>
                    <div
                      class="elementor-element elementor-element-072eec7 elementor-button-align-stretch elementor-widget elementor-widget-form"
                      data-id="072eec7" data-element_type="widget" data-widget_type="form.default">
                      <div class="elementor-widget-container">
                        <iframe
                          src="https://docs.google.com/forms/d/e/1FAIpQLSdaV4k1HBQ1KxEN201H2vEwCrMDV6p8sbjW6QPDqoQoo1wc8w/viewform?embedded=true"
                          width="800" height="1000" frameborder="0" marginheight="0" marginwidth="0">Đang tải…
                        </iframe>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-c07caa1 elementor-column elementor-col-50 elementor-top-column"
                data-id="c07caa1" data-element_type="column">
                <div class="elementor-column-wrap  elementor-element-populated">
                  <div class="elementor-widget-wrap">
                    <div
                      class="elementor-element elementor-element-026d057 elementor-widget elementor-widget-text-editor"
                      data-id="026d057" data-element_type="widget" data-widget_type="text-editor.default">
                      <div class="elementor-widget-container">
                        <div class="elementor-text-editor elementor-clearfix">
                          <figure id="attachment_1143" aria-describedby="caption-attachment-1143" style="width: 300px"
                                  class="wp-caption aligncenter"><a
                            style="font-size: 16px; font-weight: bold; text-align: center; background-color: #ffffff;"
                            href="https://www.google.co.in/maps/place/Nh%C3%A0+m%C3%A1y+VLXD+S%C3%B4ng+%C4%90%C3%A1y+1/@20.9308315,105.6622526,17z/data=!3m1!4b1!4m5!3m4!1s0x31344e2023908071:0x373e116b82f3cbf3!8m2!3d20.9308265!4d105.6644413"
                            target="_blank"
                            rel="https://www.google.co.in/maps/place/Nh%C3%A0+m%C3%A1y+VLXD+S%C3%B4ng+%C4%90%C3%A1y+1/@20.9308315,105.6622526,17z/data=!3m1!4b1!4m5!3m4!1s0x31344e2023908071:0x373e116b82f3cbf3!8m2!3d20.9308265!4d105.6644413 noopener"><img
                            class="wp-image-1143 size-medium"
                            src="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/6ed09b3c56d3b48dedc2-300x271.jpg"
                            alt="Nhà máy cống bê tông Sông Đáy 1" width="300" height="271"
                            srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/6ed09b3c56d3b48dedc2-300x271.jpg 300w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/6ed09b3c56d3b48dedc2-768x693.jpg 768w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/6ed09b3c56d3b48dedc2-1024x923.jpg 1024w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/6ed09b3c56d3b48dedc2-600x541.jpg 600w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/6ed09b3c56d3b48dedc2.jpg 1080w"
                            sizes="(max-width: 300px) 100vw, 300px"/></a>
                            <figcaption id="caption-attachment-1143" class="wp-caption-text">Nhà máy cống bê tông Sông
                              Đáy 1
                            </figcaption>
                          </figure>
                          <figure id="attachment_1144" aria-describedby="caption-attachment-1144" style="width: 300px"
                                  class="wp-caption aligncenter"><a
                            href="https://www.google.co.in/maps/place/Nh%C3%A0+m%C3%A1y+VLXD+S%C3%B4ng+%C4%90%C3%A1y+2/@21.0293449,106.025659,17z/data=!3m1!4b1!4m5!3m4!1s0x3135a0cfe278d57f:0x19abaf63a5794e04!8m2!3d21.0293399!4d106.0278477"
                            target="_blank"
                            rel="https://www.google.co.in/maps/place/Nh%C3%A0+m%C3%A1y+VLXD+S%C3%B4ng+%C4%90%C3%A1y+2/@21.0293449,106.025659,17z/data=!3m1!4b1!4m5!3m4!1s0x3135a0cfe278d57f:0x19abaf63a5794e04!8m2!3d21.0293399!4d106.0278477 noopener"><img
                            class="wp-image-1144 size-medium"
                            src="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/bcc7da2c17c3f59dacd2-300x268.jpg"
                            alt="Nhà máy cống bê tông Sông Đáy 2" width="300" height="268"
                            srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/bcc7da2c17c3f59dacd2-300x268.jpg 300w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/bcc7da2c17c3f59dacd2-768x686.jpg 768w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/bcc7da2c17c3f59dacd2-1024x914.jpg 1024w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/bcc7da2c17c3f59dacd2-600x536.jpg 600w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/bcc7da2c17c3f59dacd2.jpg 1080w"
                            sizes="(max-width: 300px) 100vw, 300px"/></a>
                            <figcaption id="caption-attachment-1144" class="wp-caption-text">Nhà máy cống bê tông Sông
                              Đáy 2
                            </figcaption>
                          </figure>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>

</div>
