<div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--description panel entry-content wc-tab" id="tab-description"
     role="tabpanel" aria-labelledby="tab-title-description" style="display: block;">


  <h1>Cống hộp</h1>
  <h3 style="background: white; margin: 15pt 0in 18.75pt; text-align: justify;"><span style="color: #3366ff;"><b><span
    style="font-size: 18pt; line-height: 107%; font-family: Arial, sans-serif;">MÔ TẢ SẢN PHẨM&nbsp;</span></b></span>
  </h3>
  <p style="background: white; margin: 0in 0in 7.5pt; text-align: justify;"><span
    style="font-family: 'Arial',sans-serif; color: #333333;">Nếu bạn đã quá băn khoăn với chuyện bên nào cũng hô hào <strong>cống hộp</strong> giá rẻ, sản phẩm tốt, dịch vụ chuyên nghiệp chất lượng – <span
    style="font-family: 'Arial',sans-serif;">nhưng rất khó để đánh giá những điều này</span>; thì bạn càng cần phải theo dõi bài viết này, càng chi tiết càng có ích.</span>
  </p>
  <p>Trước tiên, bạn hay xem:</p>
  <h2 style="background: white; margin: 15pt 0in 7.5pt; text-align: justify;"><strong><span
    style="font-size: 22.5pt; font-family: 'Arial',sans-serif; color: #333333;">Báo giá ống cống hộp đơn, hộp đôi bê tông cốt thép đúc sẵn của Bê tông Sông Đáy</span></strong>
  </h2>
  <table style="height: 2175px;" width="739">
    <tbody>
    <tr>
      <td width="59">STT</td>
      <td width="280">Loại cống hộp (BxH)</td>
      <td width="166">Chủng loại</td>
      <td width="148">Đơn giá (đồng/md)</td>
    </tr>
    <tr>
      <td width="59">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1</td>
      <td width="280">cống hộp đúc sẵn 0.6mx0.6m</td>
      <td width="166">&nbsp;VH</td>
      <td style="text-align: center;" width="148">927,000</td>
    </tr>
    <tr>
      <td width="59">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2</td>
      <td width="280">cống hộp đúc sẵn 0.6mx0.6m</td>
      <td width="166">&nbsp;HL93</td>
      <td style="text-align: center;" width="148">952,000</td>
    </tr>
    <tr>
      <td width="59">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3</td>
      <td width="280">cống hộp đúc sẵn 0.6mx0.8m</td>
      <td width="166">&nbsp;VH</td>
      <td width="148">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1,056,000</td>
    </tr>
    <tr>
      <td width="59">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 4</td>
      <td width="280">cống hộp đúc sẵn 0.6mx0.8m</td>
      <td width="166">&nbsp;HL93</td>
      <td width="148">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1,075,000</td>
    </tr>
    <tr>
      <td width="59">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 5</td>
      <td width="280">cống hộp đúc sẵn 0.8mx0.8m</td>
      <td width="166">&nbsp;VH</td>
      <td width="148">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1,176,000</td>
    </tr>
    <tr>
      <td width="59">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 6</td>
      <td width="280">cống hộp đúc sẵn 0.8mx0.8m</td>
      <td width="166">&nbsp;HL93</td>
      <td width="148">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1,225,000</td>
    </tr>
    <tr>
      <td width="59">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 7</td>
      <td width="280">cống hộp đúc sẵn 1mx0.8m</td>
      <td width="166">&nbsp;VH</td>
      <td width="148">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1,300,000</td>
    </tr>
    <tr>
      <td width="59">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 8</td>
      <td width="280">cống hộp đúc sẵn 1mx0.8m</td>
      <td width="166">&nbsp;HL93</td>
      <td width="148">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1,415,000</td>
    </tr>
    <tr>
      <td width="59">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 9</td>
      <td width="280">cống hộp đúc sẵn 1mx1m</td>
      <td width="166">&nbsp;VH</td>
      <td width="148">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1,392,000</td>
    </tr>
    <tr>
      <td width="59">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 10</td>
      <td width="280">cống hộp đúc sẵn 1mx1m</td>
      <td width="166">&nbsp;HL93</td>
      <td width="148">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1,530,000</td>
    </tr>
    <tr>
      <td width="59">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 11</td>
      <td width="280">cống hộp đúc sẵn 1.2mx0.8m</td>
      <td width="166">&nbsp;VH</td>
      <td width="148">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1,874,000</td>
    </tr>
    <tr>
      <td width="59">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 12</td>
      <td width="280">cống hộp đúc sẵn 1.2mx0.8m</td>
      <td width="166">&nbsp;HL93</td>
      <td width="148">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1,806,000</td>
    </tr>
    <tr>
      <td width="59">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 13</td>
      <td width="280">cống hộp đúc sẵn 1.2mx1m</td>
      <td width="166">&nbsp;VH</td>
      <td width="148">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1,900,000</td>
    </tr>
    <tr>
      <td width="59">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 14</td>
      <td width="280">cống hộp đúc sẵn 1.2mx1m</td>
      <td width="166">&nbsp;HL93</td>
      <td width="148">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2,081,000</td>
    </tr>
    <tr>
      <td width="59">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 15</td>
      <td width="280">cống hộp đúc sẵn 1.2mx1.2m</td>
      <td width="166">&nbsp;VH</td>
      <td width="148">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2,090,000</td>
    </tr>
    <tr>
      <td width="59">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 16</td>
      <td width="280">cống hộp đúc sẵn 1.2mx1.2m</td>
      <td width="166">&nbsp;HL93</td>
      <td width="148">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2,146,000</td>
    </tr>
    <tr>
      <td width="59">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 17</td>
      <td width="280">cống hộp đúc sẵn 1.5mx1.5m</td>
      <td width="166">&nbsp;VH</td>
      <td width="148">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2,555,000</td>
    </tr>
    <tr>
      <td width="59">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 18</td>
      <td width="280">cống hộp đúc sẵn 1.5mx1.5m</td>
      <td width="166">&nbsp;HL93</td>
      <td width="148">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2,645,000</td>
    </tr>
    <tr>
      <td width="59">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 19</td>
      <td width="280">cống hộp đúc sẵn 1.6mx2m</td>
      <td width="166">&nbsp;VH</td>
      <td width="148">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3,770,000</td>
    </tr>
    <tr>
      <td width="59">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 20</td>
      <td width="280">cống hộp đúc sẵn 1.6mx2m</td>
      <td width="166">&nbsp;HL93</td>
      <td width="148">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3,900,000</td>
    </tr>
    <tr>
      <td width="59">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 21</td>
      <td width="280">cống hộp đúc sẵn 1.4mx1.7m</td>
      <td width="166">&nbsp;VH</td>
      <td width="148">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3,078,000</td>
    </tr>
    <tr>
      <td width="59">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 22</td>
      <td width="280">cống hộp đúc sẵn 1.4mx1.7m</td>
      <td width="166">&nbsp;HL93</td>
      <td width="148">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3,370,000</td>
    </tr>
    <tr>
      <td width="59">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 23</td>
      <td width="280">cống hộp đúc sẵn 2mx2m</td>
      <td width="166">&nbsp;VH</td>
      <td width="148">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3,895,000</td>
    </tr>
    <tr>
      <td width="59">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 24</td>
      <td width="280">cống hộp đúc sẵn 2mx2m</td>
      <td width="166">&nbsp;HL93</td>
      <td width="148">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3,900,000</td>
    </tr>
    <tr>
      <td width="59">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 25</td>
      <td width="280">cống hộp đúc sẵn 2mx2.5m</td>
      <td width="166">&nbsp;VH</td>
      <td width="148">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 4,080,000</td>
    </tr>
    <tr>
      <td width="59">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 26</td>
      <td width="280">cống hộp đúc sẵn 2mx2.5m</td>
      <td width="166">&nbsp;HL93</td>
      <td width="148">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 5,959,000</td>
    </tr>
    <tr>
      <td width="59">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 27</td>
      <td width="280">cống hộp đúc sẵn 2.5mx2.5m</td>
      <td width="166">&nbsp;VH</td>
      <td width="148">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 6,150,000</td>
    </tr>
    <tr>
      <td width="59">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 28</td>
      <td width="280">cống hộp đúc sẵn 2.5mx2.5m</td>
      <td width="166">&nbsp;HL93</td>
      <td width="148">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 6,232,000</td>
    </tr>
    <tr>
      <td width="59">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 29</td>
      <td width="280">cống hộp đúc sẵn 3mx3m</td>
      <td width="166">&nbsp;VH</td>
      <td width="148">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 9,285,000</td>
    </tr>
    <tr>
      <td width="59">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 30</td>
      <td width="280">cống hộp đúc sẵn 3mx3m</td>
      <td width="166">&nbsp;HL93</td>
      <td width="148">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;9,860,000</td>
    </tr>
    <tr>
      <td width="59">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 31</td>
      <td width="280">cống hộp đôi đúc sẵn 1mx1.5m</td>
      <td width="166">&nbsp;VH</td>
      <td width="148">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 4,545,000</td>
    </tr>
    <tr>
      <td width="59">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 32</td>
      <td width="280">cống hộp đôi đúc sẵn 1mx1.5m</td>
      <td width="166">&nbsp;HL93</td>
      <td width="148">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 5,145,000</td>
    </tr>
    <tr>
      <td width="59">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 33</td>
      <td width="280">cống hộp đôi đúc sẵn 1.5mx1.5m</td>
      <td width="166">&nbsp;VH</td>
      <td width="148">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 5,365,000</td>
    </tr>
    <tr>
      <td width="59">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 34</td>
      <td width="280">cống hộp đôi đúc sẵn 1.5mx1.5m</td>
      <td width="166">&nbsp;HL93</td>
      <td width="148">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 6,195,000</td>
    </tr>
    <tr>
      <td width="59">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 35</td>
      <td width="280">cống hộp đôi đúc sẵn 2mx1.5m</td>
      <td width="166">&nbsp;VH</td>
      <td width="148">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 6,145,000</td>
    </tr>
    <tr>
      <td width="59">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 36</td>
      <td width="280">cống hộp đôi đúc sẵn 2mx1.5m</td>
      <td width="166">&nbsp;HL93</td>
      <td width="148">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 7,095,000</td>
    </tr>
    <tr>
      <td width="59">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 37</td>
      <td width="280">cống hộp đôi đúc sẵn 2mx2m</td>
      <td width="166">&nbsp;VH</td>
      <td width="148">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 7,330,000</td>
    </tr>
    <tr>
      <td width="59">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 38</td>
      <td width="280">cống hộp đôi đúc sẵn 2mx2m</td>
      <td width="166">&nbsp;HL93</td>
      <td width="148">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 8,370,000</td>
    </tr>
    <tr>
      <td width="59">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 39</td>
      <td width="280">cống hộp đôi đúc sẵn 2mx2.5m</td>
      <td width="166">&nbsp;VH</td>
      <td width="148">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 8,800,000</td>
    </tr>
    <tr>
      <td width="59">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 40</td>
      <td width="280">cống hộp đôi đúc sẵn 2mx2.5m</td>
      <td width="166">&nbsp;HL93</td>
      <td width="148">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 10,155,000</td>
    </tr>
    <tr>
      <td width="59">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 41</td>
      <td width="280">cống hộp đôi đúc sẵn 2.5mx2m</td>
      <td width="166">&nbsp;VH</td>
      <td width="148">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 10,075,000</td>
    </tr>
    <tr>
      <td width="59">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 42</td>
      <td width="280">cống hộp đôi đúc sẵn 2.5mx2m</td>
      <td width="166">&nbsp;HL93</td>
      <td width="148">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 11,880,000</td>
    </tr>
    <tr>
      <td width="59">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 43</td>
      <td width="280">cống hộp đôi đúc sẵn 2.5mx2.5m</td>
      <td width="166">&nbsp;VH</td>
      <td width="148">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 10,692,000</td>
    </tr>
    <tr>
      <td width="59">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 44</td>
      <td width="280">cống hộp đôi đúc sẵn 2.5mx2.5m</td>
      <td width="166">&nbsp;HL93</td>
      <td width="148">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 12,590,000</td>
    </tr>
    <tr>
      <td width="59">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 45</td>
      <td width="280">cống hộp đôi đúc sẵn 3mx3m</td>
      <td width="166">&nbsp;VH</td>
      <td width="148">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 14,900,000</td>
    </tr>
    <tr>
      <td width="59">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 46</td>
      <td width="280">cống hộp đôi đúc sẵn 3mx3m</td>
      <td width="166">&nbsp;HL93</td>
      <td width="148">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 18,090,000</td>
    </tr>
    </tbody>
  </table>
  <h4 style="text-align: justify;"><span style="color: #3366ff;">Ghi chú</span></h4>
  <ul style="text-align: justify;">
    <li>Đơn giá trên là giá cập nhật mới nhất của công ty CP VLXD Sông Đáy</li>
    <li>Đơn giá trên chưa bao gồm 10% VAT.</li>
    <li>Đơn giá trên là giá tại 2 nhà máy cống tròn bê tông cốt thép Sông Đáy:</li>
  </ul>
  <p style="text-align: justify;">+ Nhà máy Sông Đáy 1:&nbsp;<strong>Cụm công nghiệp Phú Nghĩa, huyện Chương Mỹ, Hà
    Nội.</strong></p>
  <p style="text-align: justify;">+ Nhà máy Sông Đáy 2:&nbsp;<strong>Cụm công nghiệp Hà Mãn, Trí Quả, Thuận Thành,
    Bắc Ninh</strong></p>
  <ul>
    <li>
      <h3>Nhận ngay báo giá ống cống hộp bê tông cốt thép về các tỉnh Hà Nội, Hải Phòng,Uông Bí, Cẩm
        Phả, Hạ Long, Quảng Ninh, Bắc Ninh, Hà Nam, Hải Dương, Hải Phòng, Hưng Yên, Nam Định, Ninh Bình, Thái
        Bình, Thanh Hóa, Vĩnh Phúc, Hòa Bình, Lai Châu, Sơn La,… vui lòng liên hệ Hotline 0968979040 –
        0826258686</h3>
    </li>
  </ul>
  <blockquote><p><strong>Liên hệ ngay hotline 0968979040 – 0826258686 để nhận báo giá cống hộp tới chân công trình với
    triết khấu 2%</strong></p></blockquote>
  <p>Khác với các đơn vị sản xuất cống hộp thủ công, sản phẩm ống cống hộp thoát nước của <strong>Bê tông
    Sông Đáy</strong> được sản xuất trên dây chuyền bán tự động đem lại chất lượng và tiến độ vượt trội.
    Để hiêu rõ hơn về quy trình sản xuất cống hộp mời bạn xem video sau</p>
  <div style="text-align: center;">
    <p>
      <iframe src="https://www.youtube.com/embed/tbLS9QbNdYI" width="560" height="315" frameborder="0"
              allowfullscreen="allowfullscreen" data-mce-fragment="1"></iframe>
    </p>
  </div>
  <h2 style="background: white; margin: 15.0pt 0in 7.5pt 0in;"><strong><span
    style="font-size: 22.5pt; font-family: 'Arial',sans-serif; color: #333333;">Ưu nhược điểm&nbsp;</span></strong>
  </h2>
  <p style="text-align: justify;">Ống cống hộp thoát nước của <strong>bê tông Sông Đáy</strong> được sản xuất &nbsp;công
    nghệ rung thủy lực ( rung bàn) của hãng Pedershaap Đan Mạch Cho ra các sản phẩm bê tông chất lượng cao với
    các <strong>ưu điểm</strong> nổi bật:</p>
  <ul style="text-align: justify;">
    <li>Độ nén chặt của bê tông cao có thể đạt mac bê tông đến M350.</li>
    <li>Với 6 bản rung năng suất cao , công ty chúng tôi có thể đáp ứng tiến độ của nhiều công trình một lúc</li>
    <li>Bàn rung VB60 5.7mx7.1m có thể sản xuất được chủng loại cống hộp quá khổ mà vẫn đảm bảo cường độ bê tông.</li>
    <li>Chịu mài mòn tốt, khả năng chịu áp lực &amp; tính đồng nhất của bê tông cao;</li>
    <li>Lồng thép được hàn tự động trên máy nên vị trí lồng thép, khoảng cách cốt thép luôn chính xác;</li>
    <li>Bề mặt cống nhẵn, độ dày cống đồng đều;</li>
    <li>Sản phẩm được thiết kế theo tiêu chuẩn thiết kế cầu 22TCN 272-05 đảm bảo chịu tải trọng cao HL93 dưới đường ô tô
      .
    </li>
    <li>Giá thành rẻ, cạnh tranh ;</li>
  </ul>
  <p style="text-align: justify;">Tuy nhiên,<strong> sản phẩm </strong>này cũng có <strong>nhược điểm</strong>&nbsp;bạn
    cần lưu ý như:</p>
  <ul>
    <li style="text-align: justify;"><a href="https://vi.wikipedia.org/wiki/%C4%90%E1%BA%A7m_b%C3%AA_t%C3%B4ng">Bề mặt
      bê tông</a> không được nhẵn như phương pháp ghép cốt pha thủ công do công nghệ sản xuất rung bàn tháo khuôn ngay
      sau khi thành phẩm.
      <p></p>
      <figure id="attachment_1611" aria-describedby="caption-attachment-1611" style="width: 700px"
              class="wp-caption aligncenter"><img class="Cống hộp bê tông Sông Đáy wp-image-1611"
                                                  title="Cống hộp bê tông Sông Đáy"
                                                  src="../../../assets/Congsongday_File_Pictures/CONG HOP/1.jpg"
                                                  alt="cong hop Be tong Song Day" width="700" height="640"
                                                  sizes="(max-width: 700px) 100vw, 700px">
        <figcaption id="caption-attachment-1611" class="wp-caption-text">Cống hộp bê tông Sông Đáy</figcaption>
      </figure>
    </li>
  </ul>
  <h2 style="background: white; margin: 15pt 0in 7.5pt; text-align: justify;"><strong><span
    style="font-size: 22.5pt; font-family: 'Arial',sans-serif; color: #333333;">Thông số kỹ thuật của sản phẩm cống Sông Đáy</span></strong>
  </h2>
  <ul>
    <li style="text-align: justify;">Sản phẩm cống <strong>hộp bê tông&nbsp; Sông Đáy</strong> được sản xuất công nghệ
      rung thủy lực ( rung bàn) của hãng Pedershaap Đan Mạch
    </li>
    <li style="text-align: justify;">Bê tông: Bê tông C25 tương đương mac bê tông M300, có thể thay đổi cấp phối đạt mac
      M350 tùy theo yêu cầu của công trình.
    </li>
    <li style="text-align: justify;">Thép được kéo nguội phù hợp với tải trọng của từng loại cống;</li>
    <li style="text-align: justify;">Lồng thép ( cốt thép) được sản xuất bằng máy hàn tự động đem lại sự chính xác
      cao;
    </li>
    <li style="text-align: justify;">Mối nối giữa các đốt cống được thực hiện bằng sự lắp ráp giữa đầu dương và đầu âm
      của các đốt cống. Vật liệu dùng để làm mối nối là vữa xi măng mác cao; hoặc sợi đay tẩm nhựa đường;
    </li>
    <li style="text-align: justify;">Kích thước: Với cống hộp đơn sản xuất được các loại từ H0.6mx0.6m đến H3mx3m, với
      hộp đôi sản xuất được các loại từ H2x(1mx1m) đến H2x(2.5mx2.5m)
      <p></p>
      <figure id="attachment_1612" aria-describedby="caption-attachment-1612" style="width: 700px"
              class="wp-caption aligncenter"><img class="ống cống hộp bê tông cốt thép đúc sẵn Sông Đáy wp-image-1612"
                                                  title="ống cống hộp bê tông cốt thép đúc sẵn Sông Đáy"
                                                  src="../../../assets/Congsongday_File_Pictures/CONG HOP/2.jpg"
                                                  alt="Ong cong hop be tong cot thep duc san Song Day" width="700"
                                                  height="600"
                                                  sizes="(max-width: 700px) 100vw, 700px">
        <figcaption id="caption-attachment-1612" class="wp-caption-text">Ống cống hộp bê tông cốt thép đúc sẵn Sông
          Đáy
        </figcaption>
      </figure>
    </li>
  </ul>
  <h2 style="background: white; margin: 15pt 0in 7.5pt; text-align: justify;"><strong><span
    style="font-size: 22.5pt; font-family: 'Arial',sans-serif; color: #333333;">Tiêu chuẩn thiết kế theo TCVN</span></strong>
  </h2>
  <ul style="text-align: justify;">
    <li>22TCN-272-05 – Tiêu chuẩn thiết kế cầu.</li>
    <li>TCXDVN 392 – 2007 – Cống hộp BTCT đúc sẵn – Yêu cầu kỹ thuật và phương pháp thử</li>
    <li>TCXDVN 356:2005 – Kết cấu bê tông và bê tông cốt thép. Tiêu chuẩn thiết kế.</li>
    <li>TCXDVN 267: 2002 Lưới thép hàn dùng trong kết cấu bê tông cốt thép – Tiêu chuẩn thiết kế, thi công lắp đặt và
      nghiệm thu.
    </li>
    <li>Quy phạm thi công và nghiệm thu kết cấu bê tông và BTCT toàn khối TCVN 4453-87 và các tiêu chuẩn ngành liên
      quan.
    </li>
  </ul>
  <h2 style="background: white; margin: 15pt 0in 7.5pt; text-align: justify;"><strong><span
    style="font-size: 22.5pt; font-family: 'Arial',sans-serif; color: #333333;">Các chủng loại ống cống hộp bê tông đúc sẵn</span></strong>
  </h2>
  <ul>
    <li style="list-style-type: none;">
      <ul>
        <li>
          <h3 style="text-align: justify;">Ống cống hộp đơn bê tông cốt thép</h3>
        </li>
      </ul>
      <figure id="attachment_1613" aria-describedby="caption-attachment-1613" style="width: 700px"
              class="wp-caption aligncenter"><img class="ống cống hộp kích thước lớn wp-image-1613"
                                                  title="ống cống hộp kích thước lớn"
                                                  src="../../../assets/Congsongday_File_Pictures/CONG HOP/3.jpg"
                                                  alt="Ong cong hop kich thuoc lon" width="700" height="460"
                                                  sizes="(max-width: 700px) 100vw, 700px">
        <figcaption id="caption-attachment-1613" class="wp-caption-text">Ống cống hộp kích thước lớn</figcaption>
      </figure>
      <ul>
        <li style="list-style-type: none;">
          <ul>
            <li>
              <h3 style="text-align: justify;">Ống cống hộp đơn bê tông cốt thép có vai</h3>
            </li>
          </ul>
          <p></p>
          <figure id="attachment_1614" aria-describedby="caption-attachment-1614" style="width: 700px"
                  class="wp-caption aligncenter"><img class="Ống cống hộp có vai wp-image-1614"
                                                      title="Ống cống hộp có vai"
                                                      src="../../../assets/Congsongday_File_Pictures/CONG HOP/4.jpg"
                                                      alt="Ong cong hop co vai" width="700" height="478"
                                                      sizes="(max-width: 700px) 100vw, 700px">
            <figcaption id="caption-attachment-1614" class="wp-caption-text">Ống cống hộp có vai</figcaption>
          </figure>
        </li>
      </ul>
      <ul>
        <li>
          <h3 style="text-align: justify;">Ống cống hộp đôi bê tông cốt thép</h3>
        </li>
      </ul>
    </li>
    <li style="list-style-type: none;">
      <figure id="attachment_1615" aria-describedby="caption-attachment-1615" style="width: 700px"
              class="wp-caption aligncenter"><img class="Cống hộp đôi đúc sẵn thoát nước wp-image-1615"
                                                  title="Cống hộp đôi đúc sẵn thoát nước"
                                                  src="../../../assets/Congsongday_File_Pictures/CONG HOP/5.jpg"
                                                  alt="Cong hop doi duc san thoat nuoc" width="700" height="420"
                                                  sizes="(max-width: 700px) 100vw, 700px">
        <figcaption id="caption-attachment-1615" class="wp-caption-text">Cống hộp đôi đúc sẵn thoát nước</figcaption>
      </figure>
      <ul>
        <li>
          <h3 style="text-align: justify;">Ống cống hộp đôi bê tông cốt thép có vai</h3>
        </li>
      </ul>
    </li>
    <li style="list-style-type: none;">
      <p></p>
      <figure id="attachment_1616" aria-describedby="caption-attachment-1616" style="width: 700px"
              class="wp-caption aligncenter"><img class="Ống cống hộp đôi bê tông Sông Đáy wp-image-1616"
                                                  title="Ống cống hộp đôi bê tông Sông Đáy"
                                                  src="../../../assets/Congsongday_File_Pictures/CONG HOP/6.jpg"
                                                  alt="Ong cong hop doi be tong Song Day" width="700" height="414"
                                                  sizes="(max-width: 700px) 100vw, 700px">
        <figcaption id="caption-attachment-1616" class="wp-caption-text">Ống cống hộp đôi bê tông Sông Đáy</figcaption>
      </figure>
    </li>
  </ul>
  <div class="mceTemp"></div>
  <h2 style="background: white; margin: 15pt 0in 7.5pt; text-align: justify;"><strong><span
    style="font-size: 22.5pt; font-family: 'Arial',sans-serif; color: #333333;">Chứng nhận chất lượng ống cống hộp bê tông cốt thép đúc sẵn</span></strong>
  </h2>
  <ul>

      <figure id="attachment_1492" aria-describedby="caption-attachment-1492" style="width: 700px"
              class="wp-caption aligncenter"><img
        class="Tiêu chuẩn cống hộp đơn bê tông cốt thép đúc sẵn Sông Đáy wp-image-1492"
        title="Tiêu chuẩn cống hộp đơn bê tông cốt thép đúc sẵn Sông Đáy"
        src="https://caukienbetongmienbac.com/wp-content/uploads/2019/06/Tiêu-chuẩn-cống-hộp-đơn-bê-tông-cốt-thép-1.jpg"
        alt="Tieu chuan cong hop don be tong cot thep duc san Song Day" width="700" height="1007"
        srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/06/Tiêu-chuẩn-cống-hộp-đơn-bê-tông-cốt-thép-1.jpg 996w, https://caukienbetongmienbac.com/wp-content/uploads/2019/06/Tiêu-chuẩn-cống-hộp-đơn-bê-tông-cốt-thép-1-209x300.jpg 209w, https://caukienbetongmienbac.com/wp-content/uploads/2019/06/Tiêu-chuẩn-cống-hộp-đơn-bê-tông-cốt-thép-1-768x1105.jpg 768w, https://caukienbetongmienbac.com/wp-content/uploads/2019/06/Tiêu-chuẩn-cống-hộp-đơn-bê-tông-cốt-thép-1-712x1024.jpg 712w, https://caukienbetongmienbac.com/wp-content/uploads/2019/06/Tiêu-chuẩn-cống-hộp-đơn-bê-tông-cốt-thép-1-600x863.jpg 600w"
        sizes="(max-width: 700px) 100vw, 700px">
        <figcaption id="caption-attachment-1492" class="wp-caption-text">Tiêu chuẩn cống hộp đơn bê tông cốt thép
          đúc sẵn Sông Đáy
        </figcaption>
      </figure>

  </ul>
  <div class="mceTemp"></div>
  <ul>

      <figure id="attachment_1493" aria-describedby="caption-attachment-1493" style="width: 700px"
              class="wp-caption aligncenter"><img
        class="Tiêu chuẩn cống hộp đôi bê tông cốt thép đúc sẵn Sông Đáy wp-image-1493"
        title="Tiêu chuẩn cống hộp đôi bê tông cốt thép đúc sẵn Sông Đáy"
        src="https://caukienbetongmienbac.com/wp-content/uploads/2019/06/Tiêu-chuẩn-cống-hộp-đôi-bê-tông-cốt-thép-1.jpg"
        alt="Tieu chuan cong hop doi be tong cot thep duc san Song Day" width="700" height="979"
        srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/06/Tiêu-chuẩn-cống-hộp-đôi-bê-tông-cốt-thép-1.jpg 1014w, https://caukienbetongmienbac.com/wp-content/uploads/2019/06/Tiêu-chuẩn-cống-hộp-đôi-bê-tông-cốt-thép-1-215x300.jpg 215w, https://caukienbetongmienbac.com/wp-content/uploads/2019/06/Tiêu-chuẩn-cống-hộp-đôi-bê-tông-cốt-thép-1-768x1074.jpg 768w, https://caukienbetongmienbac.com/wp-content/uploads/2019/06/Tiêu-chuẩn-cống-hộp-đôi-bê-tông-cốt-thép-1-732x1024.jpg 732w, https://caukienbetongmienbac.com/wp-content/uploads/2019/06/Tiêu-chuẩn-cống-hộp-đôi-bê-tông-cốt-thép-1-600x839.jpg 600w"
        sizes="(max-width: 700px) 100vw, 700px">
        <figcaption id="caption-attachment-1493" class="wp-caption-text">Tiêu chuẩn cống hộp đôi bê tông cốt thép
          đúc sẵn Sông Đáy
        </figcaption>
      </figure>

  </ul>
  <blockquote><p><em>&gt;&gt; Bạn hãy xem ngay các<a routerLink="" (click)="chungChiChatLuong()">&nbsp;chứng nhận
    sản phẩm</a>&nbsp;công ty Sông Đáy</em></p></blockquote>
  <h2 style="background: white; margin: 15pt 0in 7.5pt; text-align: justify;"><strong><span
    style="font-size: 22.5pt; font-family: 'Arial',sans-serif; color: #333333;">Một số công trình tiêu biểu</span></strong>
  </h2>
  <h4 style="text-align: justify;">Dự án Vincity Ocean Park- Gia Lâm Hà Nội</h4>
  <p style="text-align: justify;">Quy mô hơn 300 ha, được khởi công từ đầu năm 2018. Có thể nói đây là 1 trong
    những công trình trọng điểm của chủ đầu tư Vingroup trong năm 2018 – 2019, chỉ trong gần 1 năm đã hoàn
    thành 90% hệ thống thoát nước và hạ tầng . Các chủng loại cống hộp công ty Sông Đáy cấp vào dự án
    là ống cống hộp đơn 2mx2m, hộp đơn2.5mx2.5m, hộp đơn 3mx3m và ống hộp đôi 2x(2mx2m), hộp đôi 2x(2.5mx2.5m)
    trong đó toàn bộ là cống chịu lực: tải trọng dưới ô tô chạy.</p>
  <ul>

      <figure id="attachment_1617" aria-describedby="caption-attachment-1617" style="width: 700px"
              class="wp-caption aligncenter"><img class="Cống hộp thoát nước dự án Vincity Oceanpark wp-image-1617"
                                                  title="Cống hộp thoát nước dự án Vincity Oceanpark"
                                                  src="../../../assets/Congsongday_File_Pictures/CONG HOP/7.jpg"
                                                  alt="Cong hop thoat nuoc du an Vincity Oceanpark" width="700"
                                                  height="528"
                                                  sizes="(max-width: 700px) 100vw, 700px">
        <figcaption id="caption-attachment-1617" class="wp-caption-text">Cống hộp thoát nước dự án Vincity Oceanpark
        </figcaption>
      </figure>

  </ul>
  <h4 style="text-align: justify;">Dự án đường bao biển bãi cháy Quảng Ninh</h4>
  <p style="text-align: justify;">Dự án đường bao biển bãi cháy Quảng Ninh với tổng chiều dài 4.3km. Bắt
    đầu thi công từ tháng 10 năm 2018.</p>
  <p style="text-align: justify;">Đây là tuyến đường bao biển đẹp nhất hiện nay ở Quảng Ninh, bao trọn&nbsp;khu vực phía
    biển khu du lịch Bãi Cháy, được chủ đầu tư Sungroup đặc biệt quan tâm.</p>
  <p style="text-align: justify;">Kết nối các chuỗi dịch vụ giải trí như: Bãi tắm Bãi Cháy, Sun World Halong Complex,
    quảng trường biển Sun Carnival Plaza, khu nghỉ dưỡng ven biển Sun Premier Village Ha Long Bay và Cảng tàu khách quốc
    tế Hạ Long.</p>
  <p style="text-align: justify;">Để tổ chức sự kiện thông xe kỹ thuật đường bao biên bãi cháy diễn ra vào
    28 – 04- 2019, nên phải hoàn thiện phần thoát nước trong thời gian rất ngắn. Được sự tin tưởng từ phía
    chủ đầu tư và nhà thầu thi công, Công ty Sông Đáy đã hoàn thành cấp khối lượng 700m cống hộp đôi
    2x(2.5mx2.5m) chỉ trong vòng 1 tháng.</p>

  <figure id="attachment_1673" aria-describedby="caption-attachment-1673" style="width: 700px"
          class="wp-caption aligncenter"><img class="cống hộp đúc sẵn sông đáy tại công trường lạng sơn wp-image-1673"
                                              title="cống hộp đúc sẵn sông đáy tại công trường lạng sơn"
                                              src="../../../assets/Congsongday_File_Pictures/CONG HOP/8.jpg"
                                              alt="cong hop duc san song day tai cong truong lang son" width="700"
                                              height="318"
                                              sizes="(max-width: 700px) 100vw, 700px">
    <figcaption id="caption-attachment-1673" class="wp-caption-text">Cống hộp đúc sẵn sông đáy tại công trường lạng
      sơn
    </figcaption>
  </figure>
  <p style="text-align: justify;">Dưới đây là</p>
  <h3 style="text-align: justify;">Video thi công lắp đặt ống cống hộp đôi bê tông cốt thép Sông Đáy</h3>
  <div style="text-align: center;">
    <p>
      <iframe src="https://www.youtube.com/embed/stNqtZKMaiU" width="560" height="315" frameborder="0"
              allowfullscreen="allowfullscreen"></iframe>
    </p>
    <p style="text-align: justify;"><strong>Công ty Sông Đáy</strong> xin chân thành cám ơn bạn đã đọc hết bài viết
      này, bổ sung thông tin nhận biết hữu ích cũng như có phương án tìm cho công trình của mình đơn vị cung cấp ống
      cóng hộp đúc sẵn chất lượng nhất.</p>
    <p style="text-align: justify;">Đặc biệt, bạn hãy liên hệ Hotline của Sông Đáy để được Tư vấn viên đến trực tiếp
      sau 20 phút hoặc bất kì thời gian nào bạn thấy tiện.</p>
    <p style="text-align: justify;"><strong>Công ty Sông Đáy</strong> luôn mong muốn bạn có được sản phẩm ống cống
      hộp bê tông cốt thép chất lượng cho công trình của mình</p>
    <p style="text-align: justify;"><strong>Mọi chi tiết xin liên hệ trực tiếp hoặc gọi điện</strong></p>
    <p style="text-align: justify;"><strong>Công ty cống bê tông Sông Đáy</strong></p>
    <p style="text-align: justify;"><strong>Văn phòng GD:&nbsp;Tầng 4 tòa nhà Hà Thành Plaza, 102 Thái Thịnh,
      Đống Đa, Hà Nội</strong></p>
    <p style="text-align: justify;"><strong>Nhà máy sản xuất:</strong></p>
    <ul style="text-align: justify;">
      <li>Nhà máy 1: Cụm công nghiệp Phú Nghĩa, huyện Chương Mỹ, Hà Nội.</li>
      <li>Nhà máy 2: Cụm công nghiệp Hà Mãn, Trí Quả, Thuận Thành, Bắc Ninh</li>
    </ul>
    <p style="text-align: justify;"><strong>Hotline: 0968979040 – 0826258686</strong></p>
    <p style="text-align: justify;"><strong>website: <a routerLink="/">https://congsongday.com</a></strong></p>
    <p style="text-align: justify;"><strong>Mail: quangtran.songday@gmail.com</strong></p>
    <div style="text-align: center;">
      <h2 style="background: white; margin: 15pt 0in 7.5pt; text-align: justify;"></h2>
    </div>
  </div>
</div>
<div class="fb-comments" data-width="" data-numposts="5"></div>
