<div class="ast-container">


  <div id="primary" class="content-area primary">


    <main id="main" class="site-main" role="main">


      <div data-elementor-type="single" data-elementor-id="580"
           class="elementor elementor-580 elementor-bc-flex-widget elementor-location-single post-373 post type-post status-publish format-standard has-post-thumbnail hentry category-cong-nghe ast-article-single"
           data-elementor-settings="[]">
        <div class="elementor-inner">
          <div class="elementor-section-wrap">
            <section
              class="elementor-element elementor-element-a033db1 elementor-section-full_width elementor-section-height-min-height elementor-section-height-default elementor-section-items-middle elementor-section elementor-top-section"
              data-id="a033db1" data-element_type="section"
              data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
              <div class="elementor-container elementor-column-gap-default">
                <div class="elementor-row">
                  <div
                    class="elementor-element elementor-element-d350124 elementor-column elementor-col-100 elementor-top-column"
                    data-id="d350124" data-element_type="column">
                    <div class="elementor-column-wrap">
                      <div class="elementor-widget-wrap">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <section
              class="elementor-element elementor-element-632174e3 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
              data-id="632174e3" data-element_type="section">
              <div class="elementor-container elementor-column-gap-default">
                <div class="elementor-row">
                  <div
                    class="elementor-element elementor-element-6fad0fdb elementor-column elementor-col-100 elementor-top-column"
                    data-id="6fad0fdb" data-element_type="column">
                    <div class="elementor-column-wrap  elementor-element-populated">
                      <div class="elementor-widget-wrap">
                        <div
                          class="elementor-element elementor-element-189a2b97 elementor-widget elementor-widget-theme-post-title elementor-page-title elementor-widget-heading"
                          data-id="189a2b97" data-element_type="widget" data-widget_type="theme-post-title.default">
                          <div class="elementor-widget-container">
                            <h1 class="elementor-heading-title elementor-size-default">Nhà máy sản xuất cống kích ngầm
                              Nitta-SôngĐáy</h1></div>
                        </div>

                        <div
                          class="elementor-element elementor-element-649ba7b1 elementor-widget elementor-widget-theme-post-content"
                          data-id="649ba7b1" data-element_type="widget" data-widget_type="theme-post-content.default">
                          <div class="elementor-widget-container">
                            <p>Dự án nhà máy sản xuất <a
                              routerLink="" (click)="congKichNgamJackingPipe()"
                              target="_blank" rel="noopener noreferrer">cống kích ngầm</a> đặt tại Thuận Thành &#8211;
                              Bắc Ninh trên diện tích là 2ha<br/>
                              Được thực hiện sau khi Công ty CP VLXD Sông Đáy và Công ty Global Works (nhật Bản) đạt
                              được thỏa thuận hợp tác liên doanh để thành lập Công ty TNHH Nitta &#8211; Sông Đáy với
                              vốn điều lệ là 60 tỷ đồng.<br/>
                              Tổng vốn đầu tư cho dự án là 100 tỷ đồng theo tỷ lệ 50/50. Dự án chính thức đi vào hoạt
                              động tháng 2 năm 2017 sau 5 tháng.<br/>
                              Đây là dự án đầu tiên áp dụng công nghệ sản xuất cống bê tông chất lượng cao phục vụ cho
                              các dự án khoan kích ngầm (không đào hở) tại khu vực phía bắc.<br/>
                              Sản phẩm dự kiến sẽ được cung cấp cho Dự An Thoát Nước Yên Xá &#8211; Hà Nội thuộc dự án
                              ODA của Nhật Bản.</p>
                            <p>Để biết thêm thông tin về nhà máy cống kích ngầm và <a
                              routerLink="" (click)="congTron()"
                              rel="noopener noreferrer">cấu kiện bê tông đúc sẵn</a> Sông Đáy vui lòng LH Mr Quang:
                              0968979040</p>
                            <figure id="attachment_879" aria-describedby="caption-attachment-879" style="width: 640px"
                                    class="wp-caption aligncenter"><a
                              routerLink="" (click)="congKichNgamJackingPipe()"
                              rel="https://caukienbetongmienbac.com/san-pham/cong-kich-ngam-jacking-pipe/ noopener noreferrer"><img
                              class="wp-image-879 size-full"
                              src="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-1.jpg"
                              alt="Lễ công bố thành lập nhà máy cống kích ngầm" width="640" height="960"
                              srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-1.jpg 640w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-1-200x300.jpg 200w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-1-600x900.jpg 600w"
                              sizes="(max-width: 640px) 100vw, 640px"/></a>
                              <figcaption id="caption-attachment-879" class="wp-caption-text">Lễ công bố thành lập
                                nhà máy cống kích ngầm
                              </figcaption>
                            </figure>
                            <figure id="attachment_881" aria-describedby="caption-attachment-881" style="width: 960px"
                                    class="wp-caption aligncenter"><a
                              routerLink="" (click)="congKichNgamJackingPipe()"
                              rel="https://caukienbetongmienbac.com/san-pham/cong-kich-ngam-jacking-pipe/ noopener noreferrer"><img
                              class="wp-image-881 size-full"
                              src="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-hop-doi-3.jpg"
                              alt="Cống kích ngầm D1250" width="960" height="640"
                              srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-hop-doi-3.jpg 960w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-hop-doi-3-300x200.jpg 300w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-hop-doi-3-768x512.jpg 768w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-hop-doi-3-600x400.jpg 600w"
                              sizes="(max-width: 960px) 100vw, 960px"/></a>
                              <figcaption id="caption-attachment-881" class="wp-caption-text">Cống kích ngầm D1250
                              </figcaption>
                            </figure>
                            <figure id="attachment_882" aria-describedby="caption-attachment-882" style="width: 600px"
                                    class="wp-caption aligncenter"><a
                              routerLink="" (click)="congKichNgamJackingPipe()"
                              rel="https://caukienbetongmienbac.com/san-pham/cong-kich-ngam-jacking-pipe/ noopener noreferrer"><img
                              class="wp-image-882 size-full"
                              src="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-kich.jpg"
                              alt="Nhà máy sản xuất cống kích ngầm" width="600" height="400"
                              srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-kich.jpg 600w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-kich-300x200.jpg 300w"
                              sizes="(max-width: 600px) 100vw, 600px"/></a>
                              <figcaption id="caption-attachment-882" class="wp-caption-text">Nhà máy sản xuất cống
                                kích ngầm
                              </figcaption>
                            </figure>
                            <figure id="attachment_884" aria-describedby="caption-attachment-884" style="width: 960px"
                                    class="wp-caption aligncenter"><a
                              routerLink="" (click)="congKichNgamJackingPipe()"
                              rel="https://caukienbetongmienbac.com/san-pham/cong-kich-ngam-jacking-pipe/ noopener noreferrer"><img
                              class="wp-image-884 size-full"
                              src="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/hop-doi-1.jpg"
                              alt="Hố ga lắp ghép" width="960" height="640"
                              srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/hop-doi-1.jpg 960w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/hop-doi-1-300x200.jpg 300w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/hop-doi-1-768x512.jpg 768w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/hop-doi-1-600x400.jpg 600w"
                              sizes="(max-width: 960px) 100vw, 960px"/></a>
                              <figcaption id="caption-attachment-884" class="wp-caption-text">Hố ga lắp ghép
                              </figcaption>
                            </figure>
                            <p><img class="size-full wp-image-880"
                                    src="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/22555272_1441691872617438_3934344944680838601_n.jpg"
                                    alt="" width="960" height="640"
                                    srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/22555272_1441691872617438_3934344944680838601_n.jpg 960w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/22555272_1441691872617438_3934344944680838601_n-300x200.jpg 300w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/22555272_1441691872617438_3934344944680838601_n-768x512.jpg 768w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/22555272_1441691872617438_3934344944680838601_n-600x400.jpg 600w"
                                    sizes="(max-width: 960px) 100vw, 960px"/> <img
                              class="size-full wp-image-883"
                              src="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/ho-ga.jpg" alt=""
                              width="960" height="640"
                              srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/ho-ga.jpg 960w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/ho-ga-300x200.jpg 300w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/ho-ga-768x512.jpg 768w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/ho-ga-600x400.jpg 600w"
                              sizes="(max-width: 960px) 100vw, 960px"/> <img class="size-full wp-image-885"
                                                                             src="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/hộp-đôi.jpg"
                                                                             alt="" width="960" height="640"
                                                                             srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/hộp-đôi.jpg 960w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/hộp-đôi-300x200.jpg 300w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/hộp-đôi-768x512.jpg 768w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/hộp-đôi-600x400.jpg 600w"
                                                                             sizes="(max-width: 960px) 100vw, 960px"/>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>


    </main><!-- #main -->


  </div><!-- #primary -->


</div>
