<div class="ast-container">


  <div id="primary" class="content-area primary">


    <main id="main" class="site-main" role="main">


      <div data-elementor-type="single" data-elementor-id="580"
           class="elementor elementor-580 elementor-bc-flex-widget elementor-location-single post-1224 post type-post status-publish format-standard has-post-thumbnail hentry category-tin-tuc ast-article-single"
           data-elementor-settings="[]">
        <div class="elementor-inner">
          <div class="elementor-section-wrap">
            <section
              class="elementor-element elementor-element-a033db1 elementor-section-full_width elementor-section-height-min-height elementor-section-height-default elementor-section-items-middle elementor-section elementor-top-section"
              data-id="a033db1" data-element_type="section"
              data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
              <div class="elementor-container elementor-column-gap-default">
                <div class="elementor-row">
                  <div
                    class="elementor-element elementor-element-d350124 elementor-column elementor-col-100 elementor-top-column"
                    data-id="d350124" data-element_type="column">
                    <div class="elementor-column-wrap">
                      <div class="elementor-widget-wrap">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <section
              class="elementor-element elementor-element-632174e3 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
              data-id="632174e3" data-element_type="section">
              <div class="elementor-container elementor-column-gap-default">
                <div class="elementor-row">
                  <div
                    class="elementor-element elementor-element-6fad0fdb elementor-column elementor-col-100 elementor-top-column"
                    data-id="6fad0fdb" data-element_type="column">
                    <div class="elementor-column-wrap  elementor-element-populated">
                      <div class="elementor-widget-wrap">
                        <div
                          class="elementor-element elementor-element-189a2b97 elementor-widget elementor-widget-theme-post-title elementor-page-title elementor-widget-heading"
                          data-id="189a2b97" data-element_type="widget" data-widget_type="theme-post-title.default">
                          <div class="elementor-widget-container">
                            <h1 class="elementor-heading-title elementor-size-default">Bản vẽ thiết kế kỹ thuật
                              cống hộp đúc sẵn</h1></div>
                        </div>
                        <div
                          class="elementor-element elementor-element-649ba7b1 elementor-widget elementor-widget-theme-post-content"
                          data-id="649ba7b1" data-element_type="widget" data-widget_type="theme-post-content.default">
                          <div class="elementor-widget-container">
                            <h5></h5>
                            <h1 style="text-align: center;">Thuyết minh thiết kế kỹ thuật Cống hộp đúc sẵn</h1>
                            <p style="text-align: center;"><strong>(Sử dụng cốt thép kéo nguội)</strong></p>
                            <p style="text-align: center;"><strong>Sản xuất tại Công ty Cổ phần Vật liệu Xây dựng Sông
                              Đáy</strong></p>
                            <p style="text-align: center;"><strong>bằng công nghệ Rung bàn</strong></p>
                            <h2>I &#8211; Các căn cứ bản vẽ thiết kế cống hộp đúc sẵn</h2>
                            <ul>
                              <li>Hợp đồng Kinh tế kỹ thuật số:…/HĐ-VCH-10 về việc “<strong><em>Tính toán, thiết kế và
                                xây dựng tiêu chuẩn kiểm tra chất lượng sản phẩm cho các loại cống tròn, cống hộp, cống
                                hộp tuynen kỹ thuật, cống hào kỹ thuật”</em></strong>.
                              </li>
                              <li>22TCN-272-05 &#8211; Tiêu chuẩn thiết kế cầu.</li>
                              <li>TCXDVN 392 &#8211; 2007 &#8211; Cống hộp BTCT đúc sẵn &#8211; Yêu cầu kỹ thuật và
                                phương pháp thử
                              </li>
                              <li>TCXDVN 356:2005 &#8211; Kết cấu bê tông và bê tông cốt thép. Tiêu chuẩn thiết kế.</li>
                              <li>TCXDVN 267: 2002 Lưới thép hàn dùng trong kết cấu bê tông cốt thép &#8211; Tiêu chuẩn
                                thiết kế, thi công lắp đặt và nghiệm thu.
                              </li>
                              <li>Quy phạm thi công và nghiệm thu kết cấu bê tông và BTCT toàn khối TCVN 4453-87 và các
                                tiêu chuẩn ngành liên quan.
                              </li>
                            </ul>
                            <blockquote>
                              <h3>Tải ngay bản vẽ thiết kế cống hộp đúc sẵn Sông Đáy <a
                                (click)="banVeThietKeOngCong()" routerLink="">tại đây</a></h3>
                            </blockquote>
                            <h2>II &#8211; Các nội dung thiết kế <a routerLink="" (click)="baoGiaCongHop()">cống hộp
                              đúc sẵn</a></h2>
                            <h3><strong>1 &#8211; Các loại cống:</strong></h3>
                            <p>Cống hộp BTCT sản xuất theo công nghệ Rung bàn được thiết kế dùng cho đường ô tô và dưới
                              vỉa hè, bao gồm các loại sau:</p>
                            <p>&nbsp;</p>
                            <table width="689">
                              <tbody>
                              <tr>
                                <td width="48">STT</td>
                                <td width="222">Chủng loại
                                  <p>Kích thước trong (mm)</p></td>
                                <td width="210">Chiều dày thành cống
                                  <p>(mm)</p></td>
                                <td width="210">Chiều dài hữu dụng một đốt cống (mm)</td>
                              </tr>
                              <tr>
                                <td width="48">1</td>
                                <td width="222">Cống hộp đúc sẵn H600x600</td>
                                <td width="210">100</td>
                                <td width="210">1500</td>
                              </tr>
                              <tr>
                                <td width="48">2</td>
                                <td width="222">Cống hộp đúc sẵn H600x800</td>
                                <td width="210">100</td>
                                <td width="210">1500</td>
                              </tr>
                              <tr>
                                <td width="48">3</td>
                                <td width="222">Cống hộp đúc sẵn H800x600</td>
                                <td width="210">100</td>
                                <td width="210">150</td>
                              </tr>
                              <tr>
                                <td width="48">4</td>
                                <td width="222">Cống hộp đúc sẵn H800x1000</td>
                                <td width="210">120</td>
                                <td width="210">150</td>
                              </tr>
                              <tr>
                                <td width="48">5</td>
                                <td width="222">Cống hộp đúc sẵn H1000x800</td>
                                <td width="210">120</td>
                                <td width="210">150</td>
                              </tr>
                              <tr>
                                <td width="48">6</td>
                                <td width="222">Cống hộp đúc sẵn H1000x1000</td>
                                <td width="210">120</td>
                                <td width="210">150</td>
                              </tr>
                              <tr>
                                <td width="48">7</td>
                                <td width="222">Cống hộp đúc sẵn H1000x1200</td>
                                <td width="210">120</td>
                                <td width="210">150</td>
                              </tr>
                              <tr>
                                <td width="48">8</td>
                                <td width="222">Cống hộp đúc sẵn H1200x1000</td>
                                <td width="210">120</td>
                                <td width="210">150</td>
                              </tr>
                              <tr>
                                <td width="48">9</td>
                                <td width="222">Cống hộp đúc sẵn H1200x1200</td>
                                <td width="210">120</td>
                                <td width="210">150</td>
                              </tr>
                              <tr>
                                <td width="48">10</td>
                                <td width="222">Cống hộp đúc sẵn H1500x1500</td>
                                <td width="210">150</td>
                                <td width="210">150</td>
                              </tr>
                              <tr>
                                <td width="48">11</td>
                                <td width="222">Cống hộp đúc sẵn H1500x2000</td>
                                <td width="210">200</td>
                                <td width="210">150</td>
                              </tr>
                              <tr>
                                <td width="48">12</td>
                                <td width="222">Cống hộp đúc sẵn H2000x1500</td>
                                <td width="210">200</td>
                                <td width="210">150</td>
                              </tr>
                              <tr>
                                <td width="48">13</td>
                                <td width="222">Cống hộp đúc sẵn H2000x2000</td>
                                <td width="210">200</td>
                                <td width="210">150</td>
                              </tr>
                              <tr>
                                <td width="48">14</td>
                                <td width="222">Cống hộp đúc sẵn H2500x2000</td>
                                <td width="210">250</td>
                                <td width="210">120</td>
                              </tr>
                              <tr>
                                <td width="48">15</td>
                                <td width="222">Cống hộp đúc sẵn H2000x2500</td>
                                <td width="210">250</td>
                                <td width="210">120</td>
                              </tr>
                              <tr>
                                <td width="48">16</td>
                                <td width="222">Cống hộp đúc sẵn H2500x2500</td>
                                <td width="210">250</td>
                                <td width="210">120</td>
                              </tr>
                              <tr>
                                <td width="48">17</td>
                                <td width="222">Cống hộp đúc sẵn H3000x3000</td>
                                <td width="210">300</td>
                                <td width="210">120</td>
                              </tr>
                              </tbody>
                            </table>
                            <h3><strong>2 &#8211; </strong><strong>Tải trọng thiết kế:</strong></h3>
                            <p><strong>a.Tĩnh tải:</strong></p>
                            <ul>
                              <li>Lớp đất trên đỉnh cống có chiều dày từ 0.5m đến 4.0m.</li>
                              <li>Góc nội ma sát tiêu chuẩn: j<sub>tc </sub>= 28<sup>o</sup></li>
                              <li>Dung trọng tiêu chuẩn: g<sub>tc</sub> = 1.8 T/m<sup>3</sup></li>
                              <li>Độ chặt đạt: K = 0.95</li>
                            </ul>
                            <ol>
                              <li><strong> Hoạt tải:</strong> các loại cống được thiết kế theo 2 loại tải trọng:</li>
                            </ol>
                            <ul>
                              <li>Đoàn người 3&#215;10<sup>-3</sup> MPa (<em>Cống dưới vỉa hè</em>).</li>
                              <li>Đoàn xe HL93 (<em>Cống dưới đường ô tô</em>).</li>
                            </ul>
                            <h3><strong>3 &#8211; Kiểm toán kết cấu cống:</strong></h3>
                            <p>Kiểm toán theo 2 nhóm trạng thái giới hạn:</p>
                            <ul>
                              <li>Trạng thái giới hạn thứ nhất: về cường độ.</li>
                              <li>Trạng thái giới hạn thứ ba: về sự xuất hiện vết nứt.</li>
                            </ul>
                            <h3><strong>4 &#8211; Vật liệu chế tạo cống hộp:</strong></h3>
                            <ul>
                              <li>Bê tông: bê tông C25 (tương đương mác M300), đá 1&#215;2.</li>
                              <li>Cốt thép: Lưới thép hàn từ cốt thép kéo nguội cường độ cao, có giới hạn chảy
                                <em>fy</em> = 500MPa.
                              </li>
                            </ul>
                            <h3><strong>5 &#8211; Mối nối cống:</strong></h3>
                            <p>Mối nối các đốt cống được thực hiện bằng sự lắp ráp giữa đầu dương và đầu âm của các đốt
                              cống. Vật liệu dùng để chèn mối nối là vữa xi măng hoặc sợi đay tẩm nhựa đường.</p>
                            <h2>III &#8211; điều kiện sử dụng và lắp đặt cống hộp đúc sẵn</h2>
                            <p>Trừ khi có sự quy định khác của thiết kế, loại vật liệu làm lớp đệm và đất lấp có thể lấy
                              theo các hướng dẫn sau đây.</p>
                            <p>Vật liệu làm lớp đệm phải là đá base 2&#215;4 cm có chọn lọc, hoặc các vật liệu khác
                              tương đương và có chiều dầy tối thiểu là 100mm.</p>
                            <p>Đất đắp phải là vật liệu được chọn lọc và phải không được trộn lẫn vật liệu hữu cơ, đá có
                              kích thước lớn hơn 75mm, và phải có hàm lượng ẩm trong phạm vi yêu cầu để đầm nén.</p>
                            <figure id="attachment_1225" aria-describedby="caption-attachment-1225"
                                    style="width: 1024px" class="wp-caption aligncenter"><a
                              rel="https://caukienbetongmienbac.com/cong-hop-duc-san/ noopener noreferrer"><img
                              class="wp-image-1225 size-large"
                              src="https://caukienbetongmienbac.com/wp-content/uploads/2019/05/Điều-kiện-nền-đắp-cống-hộp-đúc-sẵn-1024x550.jpg"
                              alt="Điều kiện nền đắp cống hộp đúc sẵn" width="1024" height="550"
                              srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/05/Điều-kiện-nền-đắp-cống-hộp-đúc-sẵn-1024x550.jpg 1024w, https://caukienbetongmienbac.com/wp-content/uploads/2019/05/Điều-kiện-nền-đắp-cống-hộp-đúc-sẵn-300x161.jpg 300w, https://caukienbetongmienbac.com/wp-content/uploads/2019/05/Điều-kiện-nền-đắp-cống-hộp-đúc-sẵn-768x412.jpg 768w, https://caukienbetongmienbac.com/wp-content/uploads/2019/05/Điều-kiện-nền-đắp-cống-hộp-đúc-sẵn-600x322.jpg 600w"
                              sizes="(max-width: 1024px) 100vw, 1024px"/></a>
                              <figcaption id="caption-attachment-1225" class="wp-caption-text">Điều kiện nền đắp
                                cống hộp đúc sẵn
                              </figcaption>
                            </figure>
                            <figure id="attachment_1226" aria-describedby="caption-attachment-1226"
                                    style="width: 1024px" class="wp-caption aligncenter"><a
                              rel="https://caukienbetongmienbac.com/cong-hop-duc-san/ noopener noreferrer"><img
                              class="wp-image-1226 size-large"
                              style="font-style: inherit; font-weight: bold; text-align: center;"
                              src="https://caukienbetongmienbac.com/wp-content/uploads/2019/05/Điều-kiện-đào-hào-cống-hộp-đúc-sẵn-1024x561.jpg"
                              alt="Điều kiện đào hào cống hộp đúc sẵn" width="1024" height="561"
                              srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/05/Điều-kiện-đào-hào-cống-hộp-đúc-sẵn-1024x561.jpg 1024w, https://caukienbetongmienbac.com/wp-content/uploads/2019/05/Điều-kiện-đào-hào-cống-hộp-đúc-sẵn-300x164.jpg 300w, https://caukienbetongmienbac.com/wp-content/uploads/2019/05/Điều-kiện-đào-hào-cống-hộp-đúc-sẵn-768x421.jpg 768w, https://caukienbetongmienbac.com/wp-content/uploads/2019/05/Điều-kiện-đào-hào-cống-hộp-đúc-sẵn-600x329.jpg 600w"
                              sizes="(max-width: 1024px) 100vw, 1024px"/></a>
                              <figcaption id="caption-attachment-1226" class="wp-caption-text">Điều kiện đào hào
                                cống hộp đúc sẵn
                              </figcaption>
                            </figure>
                            <blockquote><p><a (click)="baoGiaCongHop()" routerLink="">Nhận ngay
                              báo giá ống cống hộp với ưu đãi giảm sâu đến 3% với 5 khách hàng đầu tiên
                              trong tháng</a></p></blockquote>
                            <p>Điều kiện đào hào cống hộp đúc sẵn Các hình thức lắp đặt và xử lý móng cụ thể sẽ
                              do thiết kế quy định.</p>
                            <p>Để tải</p>
                            <p>Để biết thêm thông tin chi tiết về thiết kế kỹ thuật cống hộp đúc sẵn và <a
                              (click)="congHopBeTongDucSan()" routerLink="">cấu kiện bê tông đúc sẵn</a> vui lòng liên
                              hệ 0968979040 – 0826258686.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>


    </main><!-- #main -->


  </div><!-- #primary -->


</div>
