<div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--description panel entry-content wc-tab" id="tab-description"
     role="tabpanel" aria-labelledby="tab-title-description" style="display: block;">


  <h1 style="text-align: justify;">Hố ga</h1>
  <h2 style="text-align: justify;"><strong>Hố ga đúc sẵn là gì ?</strong></h2>
  <p style="text-align: justify;">Hố ga là một bộ phận trong xây dựng phần hạ tầng của <a
    href="https://vi.wikipedia.org/wiki/H%E1%BB%87_th%E1%BB%91ng_tho%C3%A1t_n%C6%B0%E1%BB%9Bc">hệ thống thoát nước</a>.
    Nhiệm vụ của nó là nơi tập trung, luân chuyển nước đồng thời khoảng không gian dưới đáy có tác dụng lắng đọng các
    vật chất (rác thải, bùn…) để dòng nước chảy ra ngoài ga được trong sạch hơn.</p>
  <ul>

      <figure id="attachment_1517" aria-describedby="caption-attachment-1517" style="width: 700px"
              class="wp-caption aligncenter"><img class="wp-image-1517"
                                                  src="../../../assets/Congsongday_File_Pictures/HO GA/1.jpg"
                                                  alt="ho ga cong hop be tong cot thep mau 1" width="700" height="417"
                                                  sizes="(max-width: 700px) 100vw, 700px">
        <figcaption id="caption-attachment-1517" class="wp-caption-text">Hố ga cống hộp bê tông đúc sẵn mẫu 1
        </figcaption>
      </figure>

  </ul>
  <h2 style="text-align: justify;">Ứng dụng hố ga</h2>
  <ul>
    <li style="text-align: justify;">Thu nước và rác thải về một vị trí cố định. Đáp ứng được nhu cầu thoát nước mưa
      trên đường
    </li>
    <li style="text-align: justify;">Thuận tiện cho quá trình vệ sinh, nạo vét định kỳ</li>
    <li style="text-align: justify;">Giúp các đường ống lưu thông với nhau một cách dễ dàng, làm tăng áp lực nước chảy
    </li>
    <li style="text-align: justify;">Hạn chế được các sự cố nghẹt cống, dễ dàng thông tắc</li>
  </ul>
  <h2 style="text-align: justify;"><strong>Ưu điểm của hố ga bê tông cốt thép đúc sẵn Sông Đáy</strong></h2>
  <p style="text-align: justify;">So với phương pháp thủ công đổ tại chỗ sản phẩm ga đúc sẵn&nbsp;có rất nhiều
    những ưu điểm vượt trội sau:</p>
  <ul>
    <li style="text-align: justify;">Các vật liệu như sắt thép, <a href="https://vi.wikipedia.org/wiki/Xi_m%C4%83ng">xi
      măng</a> trong quá trình sản xuất luôn được tiết kiệm tối đa so với phương thức đổ tại chỗ, nhưng hoàn toàn
      không ảnh hưởng gì đến chất lượng sản phẩm khi các yếu tố kỹ thuật vẫn được đảm bảo và nó có thể tháo dời, tái
      sử dụng sản phẩm một cách dễ ràng nếu có quy hoạch thay đổi một ưu điểm rất đặc biệt của sản phẩm,
    </li>
    <li style="text-align: justify;">Kết cấu gọn nhẹ, sản xuất lắp đặt thuận tiện do hệ thống được đúc sẵn tại cơ sở sản
      xuất sau đó chỉ đưa ra lắp đặt và rất thích hợp trong trường hợp đưa ra thay thế,
      <p></p>
      <figure id="attachment_1518" aria-describedby="caption-attachment-1518" style="width: 700px"
              class="wp-caption aligncenter"><img class="Hố ga cống tròn bê tông cốt thép đúc sẵn mẫu 5 wp-image-1518"
                                                  title="Hố ga cống tròn bê tông cốt thép đúc sẵn mẫu 5"
                                                  src="../../../assets/Congsongday_File_Pictures/HO GA/2.jpg"
                                                  alt="ho ga cong tron be tong cot thep duc san mau 5" width="700"
                                                  height="373"
                                                  sizes="(max-width: 700px) 100vw, 700px">
        <figcaption id="caption-attachment-1518" class="wp-caption-text">Hố ga cống tròn bê tông cốt thép đúc sẵn mẫu
          2
        </figcaption>
      </figure>
    </li>
    <li style="text-align: justify;">Giảm thiểu ô nhiễm môi trường,</li>
    <li style="text-align: justify;">Góp phần hoàn thiện mỹ quan đô thị,</li>
    <li style="text-align: justify;">Công trình mang ý nghĩa xã hội cao, bởi nó sẽ giải quyết được những bức xúc của bộ
      phận dân cư đô thị hiện nay. Vì vậy sẽ được xã hội đồng tình ủng hộ, bởi sản phẩm được tạo ra mọi người dân đô thị
      đều hưởng ứng,
    </li>
    <li style="text-align: justify;">Nhân lực chuyên sâu tại nhà máy cũng như các thiết bị máy móc lúc nào
      cũng có sẵn nên có thể triển khai mọi lúc và hoàn thiện 1 cách nhanh chóng rút ngắn thời gian thi
      công, luôn luôn đáp ứng kịp tiến độ tại công trường,
    </li>
    <li style="text-align: justify;">Toàn bộ quá trình sản phẩm được kiểm soát chặt chẽ bởi hệ thống quản lý chất lượng
      theo tiêu chuẩn ISO 9001 : 2017,
    </li>
    <li style="text-align: justify;">Tăng độ bền vững kết cấu đường phố và tăng khả năng bến vững công trình,</li>
    <li style="text-align: justify;">Thuận lợi và nhanh chóng trong lắp đặt,</li>
    <li style="text-align: justify;">Giá thành rẻ hơn so với đổ tại chỗ.</li>
  </ul>
  <blockquote><p>&gt;&gt;&gt;Xem ngay ưu nhược điểm của cống tròn bê tông cốt thép đúc sẵn <a
    routerLink="" (click)="baoGiaCongTron()">tại đây</a></p></blockquote>
  <h2><strong>BÁO GIÁ HỐ GA BÊ TÔNG CỐT THÉP ĐÚC SẴN SÔNG ĐÁY</strong></h2>
  <p>Công ty CP VLXD Sông Đáy trân trọng gửi tới quý khách hàng bảng báo giá ga bê tông cốt thép đúc sẵn như
    sau:</p>
  <table width="628">
    <tbody>
    <tr>
      <td width="124">
        <p style="text-align: center;">STT</p>
      </td>
      <td style="text-align: center;" width="244">Chủng loại</td>
      <td style="text-align: center;" width="261">
        <p style="text-align: center;">đơn giá (đồng/md)</p>
      </td>
    </tr>
    <tr>
      <td width="124">
        <p style="text-align: center;">1</p>
      </td>
      <td style="text-align: center;" width="244">H 400x400x400</td>
      <td width="261">
        <p style="text-align: center;">1,000,000</p>
      </td>
    </tr>
    <tr>
      <td style="text-align: center;" width="124">2</td>
      <td style="text-align: center;" width="244">H 600x600x600</td>
      <td width="261">
        <p style="text-align: center;">1,250,000</p>
      </td>
    </tr>
    <tr>
      <td width="124">
        <p style="text-align: center;">3</p>
      </td>
      <td style="text-align: center;" width="244">H 800x800x800</td>
      <td style="text-align: center;" width="261">2,200,000</td>
    </tr>
    <tr>
      <td width="124">
        <p style="text-align: center;">4</p>
      </td>
      <td style="text-align: center;" width="244">H 1000x1000x1000</td>
      <td width="261">
        <p style="text-align: center;">2,500,000</p>
      </td>
    </tr>
    <tr>
      <td style="text-align: center;" width="124">5</td>
      <td style="text-align: center;" width="244">H 1200x1200x1200</td>
      <td width="261">
        <p style="text-align: center;">2,800,000</p>
      </td>
    </tr>
    <tr>
      <td width="124">
        <p style="text-align: center;">6</p>
      </td>
      <td style="text-align: center;" width="244">H 1400x1400x1400</td>
      <td width="261">
        <p style="text-align: center;">3,200,000</p>
      </td>
    </tr>
    <tr>
      <td style="text-align: center;" width="124">7</td>
      <td style="text-align: center;" width="244">H 1600x1600x1600</td>
      <td width="261">
        <p style="text-align: center;">3,500,000</p>
      </td>
    </tr>
    </tbody>
  </table>
  <p>Ghi chú</p>
  <ul>
    <li>Đơn giá trên là giá cập nhật mới nhất của công ty CP VLXD Sông Đáy</li>
    <li>Đơn giá trên chưa bao gồm 10% VAT.</li>
    <li>Đơn giá trên là giá tại 2 nhà máy cống tròn bê tông cốt thép Sông Đáy:</li>
  </ul>
  <p>+ Nhà máy Sông Đáy 1:&nbsp;<strong>Cụm công nghiệp Phú Nghĩa, huyện Chương Mỹ, Hà Nội.</strong></p>
  <p>+ Nhà máy Sông Đáy 2:&nbsp;<strong>Cụm công nghiệp Hà Mãn, Trí Quả, Thuận Thành, Bắc Ninh</strong></p>
  <ul>
    <li>Chúng tôi chuyên cung cấp hão kỹ thuật cho các công trình ngoài miền Bắc.</li>
    <li>
      <h3>Nhận ngay báo giá ống cống tròn bê tông cốt thép về các tỉnh Hà Nội, Hải Phòng, Uông Bí, Cẩm
        Phả, Hạ Long, Quảng Ninh, Bắc Ninh, Hà Nam, Hải Dương, Hải Phòng, Hưng Yên, Nam Định, Ninh Bình, Thái
        Bình, Thanh Hóa, Vĩnh Phúc, Hòa Bình, Lai Châu, Sơn La,… vui lòng liên hệ Hotline 0968979040</h3>
    </li>
  </ul>
  <blockquote><p>&gt;&gt;&gt; Xem ngay báo giá ống cống hộp với triết khấu lên đến 50 triệu đồng <a
    href="https://caukienbetongmienbac.com/san-pham/ong-cong-hop/">tại đây</a></p></blockquote>
  <h2 style="text-align: justify;"><strong>Thông số kỹ thuật của hố ga đúc sẵn</strong></h2>
  <ul>
    <li style="text-align: justify;">Chúng tôi đã xây dựng được quy trình sản xuất ga bê tông đúc sẵn. Sản phẩm của công
      ty được sản xuất bằng công nghệ rung, sử dụng bê tông khô
    </li>
    <li style="text-align: justify;">Cốt thép theo thiết kế của dự án,</li>
    <li style="text-align: justify;">Bê tông được đúc bằng công nghệ tiên tiến của Đan Mạch không thấm nước nên tuổi thọ
      rất cao.
    </li>
    <li style="text-align: justify;">Bê tông mác M250 hoặc M300 – tùy công trình.</li>
    <li style="text-align: justify;">Lồng thép được sản xuất bằng máy hàn tự động của Châu Âu, sử dụng loại thép có
      cường độ cao
    </li>
    <li style="text-align: justify;">Sản phẩm được sản xuất để đáp ứng cho hệ thống thoát nước với đường kính khác nhau
      rất thuận lợi cho việc lắp đặt của khách hàng.
    </li>
  </ul>
  <h2 style="text-align: justify;"><strong>Các chủng loại hố ga đúc sẵn</strong></h2>
  <p style="text-align: justify;"><strong>Nếu căn cứ theo chủng loại cống bê tông lắp đặt với ga có thể phân chia
    thành</strong></p>
  <ul>
    <li style="text-align: justify;">
      <h3>Hố ga cống tròn bê tông cốt thép đúc sẵn</h3>
      <p></p>
      <figure id="attachment_1519" aria-describedby="caption-attachment-1519" style="width: 700px"
              class="wp-caption aligncenter"><img class="Hố ga cống tròn bê tông cốt thép đúc sẵn mẫu 2 wp-image-1519"
                                                  title="Hố ga cống tròn bê tông cốt thép đúc sẵn mẫu 2"
                                                  src="../../../assets/Congsongday_File_Pictures/HO GA/3.jpg"
                                                  alt="ho ga cong tron be tong cot thep duc san mau 2" width="700"
                                                  height="532"
                                                  sizes="(max-width: 700px) 100vw, 700px">
        <figcaption id="caption-attachment-1519" class="wp-caption-text">Hố ga cống tròn bê tông cốt thép đúc sẵn mẫu
          3
        </figcaption>
      </figure>
    </li>
    <li style="text-align: justify;">
      <h3>Hố ga cống hộp bê tông cốt thép đúc sẵn</h3>
      <p></p>
      <figure id="attachment_1520" aria-describedby="caption-attachment-1520" style="width: 700px"
              class="wp-caption aligncenter"><img class="Hố ga cống hộp bê tông đúc sẵn mẫu 2 wp-image-1520"
                                                  title="Hố ga cống hộp bê tông đúc sẵn mẫu 2"
                                                  src="../../../assets/Congsongday_File_Pictures/HO GA/4.jpg"
                                                  alt="ho ga cong hop be tong cot thep mau 2" width="700" height="725"
                                                  sizes="(max-width: 700px) 100vw, 700px">
        <figcaption id="caption-attachment-1520" class="wp-caption-text">Hố ga cống hộp bê tông đúc sẵn mẫu 4
        </figcaption>
      </figure>
    </li>
    <li style="text-align: justify;">
      <h3>Hố ga cáp điện đúc sẵn</h3>
      <p></p>
      <figure id="attachment_1521" aria-describedby="caption-attachment-1521" style="width: 700px"
              class="wp-caption aligncenter"><img class="Hố ga điện bê tông cốt thép đúc sẵn mẫu 2 wp-image-1521"
                                                  title="Hố ga điện bê tông cốt thép đúc sẵn mẫu 2"
                                                  src="../../../assets/Congsongday_File_Pictures/HO GA/5.jpg"
                                                  alt="ho ga dien be tong cot thep duc san mau 2" width="700"
                                                  height="558"
                                                  sizes="(max-width: 700px) 100vw, 700px">
        <figcaption id="caption-attachment-1521" class="wp-caption-text">Hố ga điện bê tông cốt thép đúc sẵn mẫu 5
        </figcaption>
      </figure>
    </li>
    <li style="text-align: justify;">
      <h3>Hố ga cống d300 đến d1500</h3>
      <p></p>
      <figure id="attachment_1522" aria-describedby="caption-attachment-1522" style="width: 700px"
              class="wp-caption aligncenter"><img class="Hố ga cống tròn bê tông cốt thép đúc sẵn mẫu 4 wp-image-1522"
                                                  title="Hố ga cống tròn bê tông cốt thép đúc sẵn mẫu 4"
                                                  src="../../../assets/Congsongday_File_Pictures/HO GA/6.jpg"
                                                  alt="ho ga cong tron be tong cot thep duc san mau 4" width="700"
                                                  height="460"
                                                  sizes="(max-width: 700px) 100vw, 700px">
        <figcaption id="caption-attachment-1522" class="wp-caption-text">Hố ga cống tròn bê tông cốt thép đúc sẵn mẫu
          6
        </figcaption>
      </figure>
    </li>
  </ul>
  <p style="text-align: justify;"><strong>Nếu căn cứ vào kích thước cống, ga được phân loại cụ thể hơn theo kích thước
    và chủng loại cống:</strong></p>
  <ul>
    <li style="text-align: justify;">
      <h3>Hố ga cống tròn D300</h3>
      <h3>Hố ga cống tròn D400 …</h3>
      <h3>đến Hố ga cống tròn D2000</h3>
    </li>

      <p></p>
      <figure id="attachment_1525" aria-describedby="caption-attachment-1525" style="width: 700px"
              class="wp-caption aligncenter"><img class="Hố ga cống tròn bê tông cốt thép đúc sẵn mẫu 6 wp-image-1525"
                                                  title="Hố ga cống tròn bê tông cốt thép đúc sẵn mẫu 6"
                                                  src="../../../assets/Congsongday_File_Pictures/HO GA/7.jpg"
                                                  alt="ho ga cong tron be tong cot thep duc san mau 6" width="700"
                                                  height="548"
                                                  sizes="(max-width: 700px) 100vw, 700px">
        <figcaption id="caption-attachment-1525" class="wp-caption-text">Hố ga cống tròn bê tông cốt thép đúc sẵn mẫu
          7
        </figcaption>
      </figure>

    <li style="text-align: justify;">
      <h3>Hố ga cống hộp 600×600</h3>
      <h3>Hố ga cống hộp 1000×1000 ..</h3>
      <h3>đến Hố ga cống hộp 2000×2000</h3>
    </li>

      <figure id="attachment_1526" aria-describedby="caption-attachment-1526" style="width: 700px"
              class="wp-caption aligncenter"><img class="Hố ga điện bê tông cốt thép đúc sẵn mẫu 2 wp-image-1526"
                                                  title="Hố ga điện bê tông cốt thép đúc sẵn mẫu 2"
                                                  src="../../../assets/Congsongday_File_Pictures/HO GA/8.jpg"
                                                  alt="ho ga dien be tong cot thep duc san mau 2" width="700"
                                                  height="448"
                                                  sizes="(max-width: 700px) 100vw, 700px">
        <figcaption id="caption-attachment-1526" class="wp-caption-text">Hố ga điện bê tông cốt thép đúc sẵn mẫu 8
        </figcaption>
      </figure>

  </ul>
  <p style="text-align: justify;"><strong>Còn một cách khác nữa để phân biệt chủng loại ga là căn cứ vào tác dụng và vị
    trí &nbsp;đặt ga có thể có</strong></p>
  <ul style="text-align: justify;">
    <li>
      <h3>Hố ga thăm…</h3>
      <h3>Hố ga thu …</h3>
      <h3>Hố ga thoát nước mưa</h3>
      <h3>Hố ga thoát nước thải</h3>
    </li>
  </ul>
  <h2 style="text-align: justify;"><strong>Các công trình tiêu biểu</strong></h2>
  <ul>
    <li style="text-align: justify;">Công trình vincity Ocean Park: <span style="font-size: 16px;">Các chủng loại&nbsp; ga bê tông cốt thép đúc sẵn<strong> công ty Sông Đáy</strong> cấp vào dự án hố ga thoát nước H1500x1500x1200, H1800x1800x1600, ga thu nước 1100x1000x1000, ga điện H 1200x1200x1100, H 800x800x800, H 1400x1400x1200.</span>
      <p></p>
      <figure id="attachment_1523" aria-describedby="caption-attachment-1523" style="width: 700px"
              class="wp-caption aligncenter"><img class="Hố ga cống tròn bê tông cốt thép đúc sẵn mẫu 1 wp-image-1523"
                                                  title="Hố ga cống tròn bê tông cốt thép đúc sẵn mẫu 1"
                                                  src="../../../assets/Congsongday_File_Pictures/HO GA/9.jpg"
                                                  alt="ho ga cong tron be tong cot thep duc san mau 1" width="700"
                                                  height="646"
                                                  sizes="(max-width: 700px) 100vw, 700px">
        <figcaption id="caption-attachment-1523" class="wp-caption-text">Hố ga cống tròn bê tông cốt thép đúc sẵn mẫu
          9
        </figcaption>
      </figure>
    </li>
  </ul>
  <ul style="text-align: justify;">
    <li>Dự án đường vào xã Yên Viên – Đình Xuyên – Phù Đổng – Gia Lâm: <span style="font-size: 16px;">Các chủng loại ga công ty Sông Đáy cấp vào dự án&nbsp; H1600x1600 x1200, H1200x1200x800.</span>
      <figure id="attachment_1524" aria-describedby="caption-attachment-1524" style="width: 700px"
              class="wp-caption aligncenter"><img class="Hố ga cống tròn bê tông cốt thép đúc sẵn mẫu 3 wp-image-1524"
                                                  title="Hố ga cống tròn bê tông cốt thép đúc sẵn mẫu 3"
                                                  src="../../../assets/Congsongday_File_Pictures/HO GA/10.jpg"
                                                  alt="ho ga cong hop be tong cot thep duc san mau 3" width="700"
                                                  height="490"
                                                  sizes="(max-width: 700px) 100vw, 700px">
        <figcaption id="caption-attachment-1524" class="wp-caption-text">Hố ga cống tròn bê tông cốt thép đúc sẵn mẫu
          10
        </figcaption>
      </figure>
      <h2 style="text-align: justify;"><strong>Vì sao nên chọn sản phẩm hố ga bê tông cốt thép đúc sẵn Sông
        Đáy.</strong></h2>
      <p style="text-align: justify;">Là đơn vị đi đầu trong lĩnh vực cung cấp cấu kiện bê tông với hơn 14 năm kinh
        nghiệm, <a routerLink="/"><strong>Bê tông Sông Đáy</strong></a> chuyên sản xuất,
        phân phối các sản phẩm <a routerLink="" (click)="baoGiaCongTron()">cống tròn bê tông</a>, <a
          routerLink="" (click)="baoGiaCongHop()">cống hộp bê tông</a>, <a
          routerLink="" (click)="baoGiaHaoKyThuat()">hào kỹ thuật</a>, <a
          routerLink="" (click)="baoGiaHoGa()">hỗ ga đúc sẵn</a>…v.v…</p>
      <p style="text-align: justify;">Ngoài việc ứng dụng công nghệ sản xuất hiện đại từ Đan Mạch, Bê tông Sông Đáy
        cũng luôn nỗ lực nghiên cứu, không ngừng cải tiến và nâng cao chất lượng sản phẩm.</p>
      <p style="text-align: justify;">Bê tông thành phẩm của công ty có khả năng liên kết nhanh, kết dính tốt, giúp thu
        ngắn thời gian sản xuất.</p>
      <p style="text-align: justify;">Quan trọng nhất, chúng tôi luôn đề cao việc phải đảm bảo chất lượng sản phẩm cũng
        như tiến độ thi công của khách hàng. Trong mọi hoàn cảnh khó khăn, bê tông Sông Đáy luôn đảm bảo đạt và vượt
        chỉ tiêu tiến độ đề ra.</p>
      <p style="text-align: justify;">Không chỉ thế, cấu kiện bê tông nói chung, ga của <strong>Bê tông Sông
        Đáy</strong> nói riêng luôn có giá thành ưu đãi hơn so với các đơn vị khác trên thị trường do nhập được nguyên
        liệu trực tiếp từ các nhà cung ứng.</p>
      <p style="text-align: justify;">Khi sử dụng hào không gây ảnh hưởng tới các công trình đã thi công trước đó hoặc
        thi công sau, rất thuận tiện đối với việc duy tu cũng như bảo dưỡng hay vận hành hệ thống cáp ngầm trong lòng
        đất.</p>
      <blockquote><p>&gt;&gt; <a routerLink="" (click)="baoGiaCongTron()">click ngay</a> đề biết
        thêm thông tin về sản phẩm cống tròn bê tông cốt thép đúc sẵn</p></blockquote>
      <h3 style="text-align: justify;">Lời cảm ơn</h3>
      <p style="text-align: justify;"><strong>Công ty CP VLXD Sông Đáy</strong> xin chân thành cám ơn bạn đã đọc hết
        bài viết này, bổ sung thông tin nhận biết hữu ích cũng như có phương án tìm cho công trình của mình đơn vị cung
        cấp ống cóng hộp đúc sẵn chất lượng nhất.</p>
      <p style="text-align: justify;">Đặc biệt, bạn hãy liên hệ Hotline của Sông Đáy để được Tư vấn viên đến trực tiếp
        sau 20 phút hoặc bất kì thời gian nào bạn thấy tiện.</p>
      <p style="text-align: justify;">Công ty Sông Đáy luôn mong muốn bạn có được sản phẩm ống cống hộp bê tông cốt
        thép chất lượng cho công trình của mình</p>
      <p style="text-align: justify;">Mọi chi tiết xin liên hệ trực tiếp hoặc gọi điện</p>
      <p style="text-align: justify;"><strong>Công ty&nbsp;Cp VLXD Sông Đáy</strong></p>
      <p style="text-align: justify;">Văn phòng GD:&nbsp;Tầng 4 tòa nhà Hà Thành Plaza, 102 Thái Thịnh, Đống
        Đa, Hà Nội</p>
      <p style="text-align: justify;">Nhà máy sản xuất:</p>
      <ul style="text-align: justify;">
        <li>Nhà máy 1: Cụm công nghiệp Phú Nghĩa, huyện Chương Mỹ, Hà Nội.</li>
        <li>Nhà máy 2: Cụm công nghiệp Hà Mãn, Trí Quả, Thuận Thành, Bắc Ninh</li>
      </ul>
      <p style="text-align: justify;"><strong>Hotline: 0968979040</strong></p>
      <p style="text-align: justify;"><strong>Mail: quangtran.songday@gmail.com</strong></p>
      <p><strong>website: <a routerLink="/">https://congsongday.com</a></strong></p>
    </li>
  </ul>
</div>
<div class="fb-comments" data-width="" data-numposts="5"></div>

