<div class="ast-container">

  <div data-elementor-type="post" data-elementor-id="20" class="elementor elementor-20 elementor-bc-flex-widget"
       data-elementor-settings="[]">
    <div class="elementor-inner">
      <div class="elementor-section-wrap">
        <section
          class="elementor-element elementor-element-a425a60 elementor-section-height-min-height elementor-section-boxed elementor-section-height-default elementor-section-items-middle elementor-section elementor-top-section"
          data-id="a425a60" data-element_type="section"
          data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
          <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-row">
              <div
                class="elementor-element elementor-element-f40e4ab elementor-column elementor-col-100 elementor-top-column"
                data-id="f40e4ab" data-element_type="column">
                <div class="elementor-column-wrap">
                  <div class="elementor-widget-wrap">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section
          class="elementor-element elementor-element-068270d elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
          data-id="068270d" data-element_type="section">
          <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-row">
              <div
                class="elementor-element elementor-element-bc91f37 elementor-column elementor-col-100 elementor-top-column"
                data-id="bc91f37" data-element_type="column">
                <div class="elementor-column-wrap  elementor-element-populated">
                  <div class="elementor-widget-wrap">
                    <div
                      class="elementor-element elementor-element-5e95c1c elementor-widget elementor-widget-breadcrumbs"
                      data-id="5e95c1c" data-element_type="widget" data-widget_type="breadcrumbs.default">
                    </div>
                    <div class="elementor-element elementor-element-20e8878 elementor-widget elementor-widget-divider"
                         data-id="20e8878" data-element_type="widget" data-widget_type="divider.default">
                      <div class="elementor-widget-container">
                        <div class="elementor-divider">
                          <span class="elementor-divider-separator"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section
          class="elementor-element elementor-element-e009d90 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
          data-id="e009d90" data-element_type="section">
          <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-row">
              <div
                class="col-md-3 elementor-element elementor-element-d4fa40e elementor-column elementor-col-50 elementor-top-column"
                data-id="d4fa40e" data-element_type="column">
                <div class="elementor-column-wrap  elementor-element-populated">
                  <div class="elementor-widget-wrap">
                    <div
                      class="elementor-element elementor-element-e9db85b elementor-widget elementor-widget-text-editor"
                      data-id="e9db85b" data-element_type="widget" data-widget_type="text-editor.default">
                      <div class="elementor-widget-container">
                        <div class="elementor-text-editor elementor-clearfix">
                          <div class="sidebar-left"><h4>Tin tức</h4></div>
                        </div>
                      </div>
                    </div>
                    <div
                      class="elementor-element elementor-element-64cb76b elementor-widget elementor-widget-text-editor"
                      data-id="64cb76b" data-element_type="widget" data-widget_type="text-editor.default">
                      <div class="elementor-widget-container">
                        <div class="elementor-text-editor elementor-clearfix">
                          <div class="support">
                            <h4>Hỗ trợ khách hàng</h4>
                            <i class="glyphicon glyphicon-earphone"></i> Hotline: 0944 997 194
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="col-md-9 elementor-element elementor-element-9d01162 elementor-column elementor-col-50 elementor-top-column"
                data-id="9d01162" data-element_type="column">
                <div class="elementor-column-wrap  elementor-element-populated">
                  <div class="elementor-widget-wrap">
                    <div class="elementor-element elementor-element-fdcaa40 elementor-widget elementor-widget-heading"
                         data-id="fdcaa40" data-element_type="widget" data-widget_type="heading.default">
                      <div class="elementor-widget-container">
                        <h2 class="elementor-heading-title elementor-size-default">Tin tức</h2></div>
                    </div>
                    <div
                      class="elementor-element elementor-element-bb8c11b elementor-grid-1 elementor-posts--thumbnail-left elementor-grid-tablet-2 elementor-grid-mobile-1 elementor-widget elementor-widget-posts"
                      data-id="bb8c11b" data-element_type="widget"
                      data-settings="{&quot;classic_columns&quot;:&quot;1&quot;,&quot;classic_columns_tablet&quot;:&quot;2&quot;,&quot;classic_columns_mobile&quot;:&quot;1&quot;,&quot;classic_row_gap&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:35,&quot;sizes&quot;:[]}}"
                      data-widget_type="posts.classic">
                      <div class="elementor-widget-container">
                        <div
                          class="elementor-posts-container elementor-posts elementor-grid elementor-posts--skin-classic">
                          <article
                            class="elementor-post elementor-grid-item post-1645 post type-post status-publish format-standard has-post-thumbnail hentry category-tin-tuc">
                            <a class="elementor-post__thumbnail__link"
                               (click)="tieuChuanQuocGiaOngCongBeTongCotThepThoatNuoc()">
                              <div class="elementor-post__thumbnail"><img style="height: 200px; margin-bottom: 20px"
                                                                          src="https://caukienbetongmienbac.com/wp-content/uploads/2019/11/tieu-chuan-quoc-gia-TCVN-9113-2012-300x200.jpg"
                                                                          class="attachment-medium size-medium"
                                                                          alt="tieu chuan quoc gia TCVN 9113 2012"
                                                                          srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/11/tieu-chuan-quoc-gia-TCVN-9113-2012-300x200.jpg 300w, https://caukienbetongmienbac.com/wp-content/uploads/2019/11/tieu-chuan-quoc-gia-TCVN-9113-2012-768x512.jpg 768w, https://caukienbetongmienbac.com/wp-content/uploads/2019/11/tieu-chuan-quoc-gia-TCVN-9113-2012-600x400.jpg 600w, https://caukienbetongmienbac.com/wp-content/uploads/2019/11/tieu-chuan-quoc-gia-TCVN-9113-2012.jpg 800w"
                                                                          sizes="(max-width: 300px) 100vw, 300px"/>
                              </div>
                            </a>
                            <div class="elementor-post__text">
                              <h1 class="elementor-post__title">
                                <a
                                  (click)="tieuChuanQuocGiaOngCongBeTongCotThepThoatNuoc()">
                                  Tiêu chuẩn quốc gia ống cống bê tông cốt thép thoát nước &#8211; TCVN 9113:2012 </a>
                              </h1>
                              <div class="elementor-post__excerpt">
                                <p>TIÊU CHUẨN QUỐC GIA ỐNG BÊ TÔNG CỐT THÉP THOÁT NƯỚC TCVN 9113:2012 Lời nói đầu TCVN
                                  9113:2012 được chuyển đổi từ TCXDVN 372:2006 theo</p>
                              </div>
                            </div>
                          </article>
                          <article
                            class="elementor-post elementor-grid-item post-1619 post type-post status-publish format-standard has-post-thumbnail hentry category-tin-tuc">
                            <a class="elementor-post__thumbnail__link"
                               (click)="thiCongCongHopDucSan()">
                              <div class="elementor-post__thumbnail"><img style="height: 200px; margin-bottom: 20px"
                                                                          src="https://caukienbetongmienbac.com/wp-content/uploads/2019/10/thi-cong-cong-hop-duc-san-tai-du-an-vincity-Ocean-Park-300x226.jpg"
                                                                          class="attachment-medium size-medium"
                                                                          alt="thi cong cong hop duc san tai du an Vincity Ocean Park"
                                                                          srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/10/thi-cong-cong-hop-duc-san-tai-du-an-vincity-Ocean-Park-300x226.jpg 300w, https://caukienbetongmienbac.com/wp-content/uploads/2019/10/thi-cong-cong-hop-duc-san-tai-du-an-vincity-Ocean-Park-768x580.jpg 768w, https://caukienbetongmienbac.com/wp-content/uploads/2019/10/thi-cong-cong-hop-duc-san-tai-du-an-vincity-Ocean-Park-600x453.jpg 600w, https://caukienbetongmienbac.com/wp-content/uploads/2019/10/thi-cong-cong-hop-duc-san-tai-du-an-vincity-Ocean-Park.jpg 856w"
                                                                          sizes="(max-width: 300px) 100vw, 300px"/>
                              </div>
                            </a>
                            <div class="elementor-post__text">
                              <h1 class="elementor-post__title">
                                <a (click)="thiCongCongHopDucSan()">
                                  Thuyết minh thi công cống hộp đúc sẵn &#8211; mối nối đay tẩm nhựa đường </a>
                              </h1>
                              <div class="elementor-post__excerpt">
                                <p>Thi công cống hộp đúc sẵn P1: Chỉ dẫn lắp đặt công hộp Bước 1: Cắt bao đay thành
                                  sợi,nấu nhựa đường và ngâm</p>
                              </div>
                            </div>
                          </article>
                          <article
                            class="elementor-post elementor-grid-item post-1604 post type-post status-publish format-standard has-post-thumbnail hentry category-tin-tuc">
                            <a class="elementor-post__thumbnail__link"
                               (click)="tuoiThoCuaBeTongCotThep()">
                              <div class="elementor-post__thumbnail"><img style="height: 200px; margin-bottom: 20px"
                                                                          src="https://caukienbetongmienbac.com/wp-content/uploads/2019/10/Be-tong-cot-thep-La-Ma-tuoi-tho-2000-nam-300x254.jpg"
                                                                          class="attachment-medium size-medium"
                                                                          alt="Be tong cot thep La Ma tuoi tho 2000 nam"
                                                                          srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/10/Be-tong-cot-thep-La-Ma-tuoi-tho-2000-nam-300x254.jpg 300w, https://caukienbetongmienbac.com/wp-content/uploads/2019/10/Be-tong-cot-thep-La-Ma-tuoi-tho-2000-nam-768x649.jpg 768w, https://caukienbetongmienbac.com/wp-content/uploads/2019/10/Be-tong-cot-thep-La-Ma-tuoi-tho-2000-nam-1024x865.jpg 1024w, https://caukienbetongmienbac.com/wp-content/uploads/2019/10/Be-tong-cot-thep-La-Ma-tuoi-tho-2000-nam-600x507.jpg 600w, https://caukienbetongmienbac.com/wp-content/uploads/2019/10/Be-tong-cot-thep-La-Ma-tuoi-tho-2000-nam.jpg 1350w"
                                                                          sizes="(max-width: 300px) 100vw, 300px"/>
                              </div>
                            </a>
                            <div class="elementor-post__text">
                              <h1 class="elementor-post__title">
                                <a (click)="tuoiThoCuaBeTongCotThep()">
                                  Tuổi thọ của bê tông cốt thép </a>
                              </h1>
                              <div class="elementor-post__excerpt">
                                <p>Tuổi thọ của bê tông cốt thép Chắc hẳn chúng ta đã được nghe các câu đại ý như “bền
                                  như thép; bền như</p>
                              </div>
                            </div>
                          </article>
                          <article
                            class="elementor-post elementor-grid-item post-1576 post type-post status-publish format-standard has-post-thumbnail hentry category-tin-tuc">
                            <a class="elementor-post__thumbnail__link"
                               (click)="beTongCotThepLaGi()">
                              <div class="elementor-post__thumbnail"><img style="height: 200px; margin-bottom: 20px"
                                                                          src="https://caukienbetongmienbac.com/wp-content/uploads/2019/10/Be-tong-cot-thep-300x174.jpg"
                                                                          class="attachment-medium size-medium" alt=""
                                                                          srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/10/Be-tong-cot-thep-300x174.jpg 300w, https://caukienbetongmienbac.com/wp-content/uploads/2019/10/Be-tong-cot-thep-600x349.jpg 600w, https://caukienbetongmienbac.com/wp-content/uploads/2019/10/Be-tong-cot-thep.jpg 700w"
                                                                          sizes="(max-width: 300px) 100vw, 300px"/>
                              </div>
                            </a>
                            <div class="elementor-post__text">
                              <h1 class="elementor-post__title">
                                <a (click)="beTongCotThepLaGi()">
                                  Bê tông cốt thép là gì? </a>
                              </h1>
                              <div class="elementor-post__excerpt">
                                <p>Tìm hiểu về bê tông cốt thép (BTCT) là gì? Như chúng ta đã biết trong xây dựng thì bê
                                  tông và cốt thép</p>
                              </div>
                            </div>
                          </article>
                          <article
                            class="elementor-post elementor-grid-item post-1569 post type-post status-publish format-standard has-post-thumbnail hentry category-tin-tuc">
                            <a class="elementor-post__thumbnail__link"
                               (click)="congTronCongHopQuangNinh()">
                              <div class="elementor-post__thumbnail"><img style="height: 200px; margin-bottom: 20px"
                                                                          src="https://caukienbetongmienbac.com/wp-content/uploads/2019/09/Cong-tron-cong-hop-Quang-Ninh-300x195.jpg"
                                                                          class="attachment-medium size-medium"
                                                                          alt="Cong tron cong hop Quang Ninh"
                                                                          srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/09/Cong-tron-cong-hop-Quang-Ninh-300x195.jpg 300w, https://caukienbetongmienbac.com/wp-content/uploads/2019/09/Cong-tron-cong-hop-Quang-Ninh-600x391.jpg 600w, https://caukienbetongmienbac.com/wp-content/uploads/2019/09/Cong-tron-cong-hop-Quang-Ninh.jpg 700w"
                                                                          sizes="(max-width: 300px) 100vw, 300px"/>
                              </div>
                            </a>
                            <div class="elementor-post__text">
                              <h1 class="elementor-post__title">
                                <a (click)="congTronCongHopQuangNinh()">
                                  Vân Đồn Quảng Ninh &#8211; Sihanoukville của Việt Nam </a>
                              </h1>
                              <div class="elementor-post__excerpt">
                                <p>Vân Đồn Quảng Ninh &#8211; Sihanoukville của Việt Nam Khu vực huyện Vân Đồn, tỉnh
                                  Quảng Ninh trong mấy năm gần đây đã được</p>
                              </div>
                            </div>
                          </article>
                          <article
                            class="elementor-post elementor-grid-item post-1537 post type-post status-publish format-standard has-post-thumbnail hentry category-tin-tuc">
                            <a class="elementor-post__thumbnail__link"
                               (click)="banVeThieuKeOngCong()">
                              <div class="elementor-post__thumbnail"><img style="height: 200px; margin-bottom: 20px"
                                                                          src="https://caukienbetongmienbac.com/wp-content/uploads/2019/08/Bản-vẽ-thiết-kế-ống-cống-bê-tông-Sông-Đáy-300x218.png"
                                                                          class="attachment-medium size-medium"
                                                                          alt="ban ve thiet ke ong cong be tong cot thep duc san song day"
                                                                          srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/08/Bản-vẽ-thiết-kế-ống-cống-bê-tông-Sông-Đáy-300x218.png 300w, https://caukienbetongmienbac.com/wp-content/uploads/2019/08/Bản-vẽ-thiết-kế-ống-cống-bê-tông-Sông-Đáy-600x435.png 600w, https://caukienbetongmienbac.com/wp-content/uploads/2019/08/Bản-vẽ-thiết-kế-ống-cống-bê-tông-Sông-Đáy.png 673w"
                                                                          sizes="(max-width: 300px) 100vw, 300px"/>
                              </div>
                            </a>
                            <div class="elementor-post__text">
                              <h1 class="elementor-post__title">
                                <a (click)="banVeThieuKeOngCong()">
                                  Bản vẽ thiết kế ống cống tròn, cống hộp đơn, cống hộp đôi công ty Sông Đáy </a>
                              </h1>
                              <div class="elementor-post__excerpt">
                                <p>Bản vẽ thiết kế ống cống Sông Đáy Công ty CP VLXD Sông Đáy trân trọng gửi tới quý
                                  khách hàng thiết kế ống</p>
                              </div>
                            </div>
                          </article>
                          <article
                            class="elementor-post elementor-grid-item post-1245 post type-post status-publish format-standard has-post-thumbnail hentry category-tin-tuc">
                            <a class="elementor-post__thumbnail__link"
                               (click)="huongDanThiCongCongTronDucSan()">
                              <div class="elementor-post__thumbnail"><img style="height: 200px; margin-bottom: 20px"
                                                                          src="https://caukienbetongmienbac.com/wp-content/uploads/2019/05/7.png"
                                                                          class="attachment-medium size-medium" alt=""/>
                              </div>
                            </a>
                            <div class="elementor-post__text">
                              <h1 class="elementor-post__title">
                                <a (click)="huongDanThiCongCongTronDucSan()">
                                  Hướng dẫn thi công cống tròn đúc sẵn </a>
                              </h1>
                              <div class="elementor-post__excerpt">
                                <p>Hướng dẫn thi công cống tròn đúc sẵn Chỉ dẫn lắp đặt cống tròn đúc sẵn Bước
                                  1: Làm sạch bụi bẩn và các</p>
                              </div>
                            </div>
                          </article>
                          <article
                            class="elementor-post elementor-grid-item post-1238 post type-post status-publish format-standard has-post-thumbnail hentry category-tin-tuc">
                            <a class="elementor-post__thumbnail__link"
                               (click)="yeuCauVeHinhThucBenNgoaiCuaCongHopDucSan()">
                              <div class="elementor-post__thumbnail"><img style="height: 200px; margin-bottom: 20px"
                                                                          src="https://caukienbetongmienbac.com/wp-content/uploads/2019/05/cống-hộp-đúc-sẵn-300x225.jpg"
                                                                          class="attachment-medium size-medium"
                                                                          alt="cống hộp đúc sẵn"
                                                                          srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/05/cống-hộp-đúc-sẵn-300x225.jpg 300w, https://caukienbetongmienbac.com/wp-content/uploads/2019/05/cống-hộp-đúc-sẵn-768x576.jpg 768w, https://caukienbetongmienbac.com/wp-content/uploads/2019/05/cống-hộp-đúc-sẵn-1024x768.jpg 1024w, https://caukienbetongmienbac.com/wp-content/uploads/2019/05/cống-hộp-đúc-sẵn-600x450.jpg 600w"
                                                                          sizes="(max-width: 300px) 100vw, 300px"/>
                              </div>
                            </a>
                            <div class="elementor-post__text">
                              <h1 class="elementor-post__title">
                                <a
                                  (click)="yeuCauVeHinhThucBenNgoaiCuaCongHopDucSan()">
                                  Yêu cầu về hình thức bên ngoài của cống hộp đúc sẵn </a>
                              </h1>
                              <div class="elementor-post__excerpt">
                                <p>Yêu cầu về hình thức bên ngoài của cống hộp đúc sẵn 1. Độ phẳng đều của bề mặt:
                                  &#8211; Bề mặt bên trong</p>
                              </div>
                            </div>
                          </article>
                          <article
                            class="elementor-post elementor-grid-item post-1232 post type-post status-publish format-standard has-post-thumbnail hentry category-tin-tuc">
                            <a class="elementor-post__thumbnail__link"
                               (click)="tieuChuanVatLieuSanXuatCongHopDucSan()">
                              <div class="elementor-post__thumbnail"><img style="height: 200px; margin-bottom: 20px"
                                                                          src="https://caukienbetongmienbac.com/wp-content/uploads/2019/05/Cấp-phối-đầu-vào-sản-xuất-cống-hộp-đúc-sẵn-300x201.jpg"
                                                                          class="attachment-medium size-medium"
                                                                          alt="Cấp phối đầu vào sản xuất cống hộp đúc sẵn"
                                                                          srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/05/Cấp-phối-đầu-vào-sản-xuất-cống-hộp-đúc-sẵn-300x201.jpg 300w, https://caukienbetongmienbac.com/wp-content/uploads/2019/05/Cấp-phối-đầu-vào-sản-xuất-cống-hộp-đúc-sẵn-768x514.jpg 768w, https://caukienbetongmienbac.com/wp-content/uploads/2019/05/Cấp-phối-đầu-vào-sản-xuất-cống-hộp-đúc-sẵn-1024x685.jpg 1024w, https://caukienbetongmienbac.com/wp-content/uploads/2019/05/Cấp-phối-đầu-vào-sản-xuất-cống-hộp-đúc-sẵn-600x402.jpg 600w"
                                                                          sizes="(max-width: 300px) 100vw, 300px"/>
                              </div>
                            </a>
                            <div class="elementor-post__text">
                              <h1 class="elementor-post__title">
                                <a
                                  (click)="tieuChuanVatLieuSanXuatCongHopDucSan()">
                                  Tiêu chuẩn vật liệu sản xuất cống hộp đúc sẵn </a>
                              </h1>
                              <div class="elementor-post__excerpt">
                                <p>Tiêu chuẩn vật liệu sản xuất cống hộp đúc sẵn Khi nghiệm thu sản phẩm cống
                                  hộp đúc sẵn sản xuất tại Công ty</p>
                              </div>
                            </div>
                          </article>
                          <article
                            class="elementor-post elementor-grid-item post-1224 post type-post status-publish format-standard has-post-thumbnail hentry category-tin-tuc">
                            <a class="elementor-post__thumbnail__link"
                               (click)="banVeThietKeKyThuatCongHopDucSan()">
                              <div class="elementor-post__thumbnail"><img style="height: 200px; margin-bottom: 20px"
                                                                          src="https://caukienbetongmienbac.com/wp-content/uploads/2019/05/Điều-kiện-đào-hào-cống-hộp-đúc-sẵn-300x164.jpg"
                                                                          class="attachment-medium size-medium" alt=""
                                                                          srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/05/Điều-kiện-đào-hào-cống-hộp-đúc-sẵn-300x164.jpg 300w, https://caukienbetongmienbac.com/wp-content/uploads/2019/05/Điều-kiện-đào-hào-cống-hộp-đúc-sẵn-768x421.jpg 768w, https://caukienbetongmienbac.com/wp-content/uploads/2019/05/Điều-kiện-đào-hào-cống-hộp-đúc-sẵn-1024x561.jpg 1024w, https://caukienbetongmienbac.com/wp-content/uploads/2019/05/Điều-kiện-đào-hào-cống-hộp-đúc-sẵn-600x329.jpg 600w"
                                                                          sizes="(max-width: 300px) 100vw, 300px"/>
                              </div>
                            </a>
                            <div class="elementor-post__text">
                              <h1 class="elementor-post__title">
                                <a (click)="banVeThietKeKyThuatCongHopDucSan()">
                                  Bản vẽ thiết kế kỹ thuật cống hộp đúc sẵn </a>
                              </h1>
                              <div class="elementor-post__excerpt">
                                <p>Thuyết minh thiết kế kỹ thuật Cống hộp đúc sẵn (Sử dụng cốt thép kéo nguội) Sản
                                  xuất tại Công ty Cổ phần Vật</p>
                              </div>
                            </div>
                          </article>
                          <article
                            class="elementor-post elementor-grid-item post-656 post type-post status-publish format-standard has-post-thumbnail hentry category-tin-tuc">
                            <a class="elementor-post__thumbnail__link"
                               (click)="congBeTongDucSan()">
                              <div class="elementor-post__thumbnail"><img style="height: 200px; margin-bottom: 20px"
                                                                          src="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-hop-kho-lon-212x300.jpg"
                                                                          class="attachment-medium size-medium" alt=""
                                                                          srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-hop-kho-lon-212x300.jpg 212w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-hop-kho-lon-600x849.jpg 600w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-hop-kho-lon.jpg 626w"
                                                                          sizes="(max-width: 212px) 100vw, 212px"/>
                              </div>
                            </a>
                            <div class="elementor-post__text">
                              <h1 class="elementor-post__title">
                                <a (click)="congBeTongDucSan()">
                                  Kỷ niệm 12 năm thành lập công ty Cống bê tông đúc sẵn Sông Đáy </a>
                              </h1>
                              <div class="elementor-post__excerpt">
                                <p>Cống bê tông đúc sẵn Sông Đáy Để kỷ niệm 12 năm thành lập, từ cuối tháng 5 năm
                                  2017, Công ty CP VLXD</p>
                              </div>
                            </div>
                          </article>
                          <article
                            class="elementor-post elementor-grid-item post-646 post type-post status-publish format-standard has-post-thumbnail hentry category-tin-tuc">
                            <a class="elementor-post__thumbnail__link"
                               (click)="hoiThiNauAnCongBeTong()">
                              <div class="elementor-post__thumbnail"><img style="height: 200px; margin-bottom: 20px"
                                                                          src="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-song-day-300x225.jpg"
                                                                          class="attachment-medium size-medium" alt=""
                                                                          srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-song-day-300x225.jpg 300w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-song-day-768x576.jpg 768w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-song-day-600x450.jpg 600w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-song-day.jpg 960w"
                                                                          sizes="(max-width: 300px) 100vw, 300px"/>
                              </div>
                            </a>
                            <div class="elementor-post__text">
                              <h1 class="elementor-post__title">
                                <a (click)="hoiThiNauAnCongBeTong()">
                                  Hội thi nấu ăn mừng ngày 20-10 </a>
                              </h1>
                              <div class="elementor-post__excerpt">
                                <p>Với sự tham gia của toàn thể lao động nữ trong Công ty. Giải thi được chia thành 4
                                  đội gồm 2 đội khối</p>
                              </div>
                            </div>
                          </article>
                          <article
                            class="elementor-post elementor-grid-item post-633 post type-post status-publish format-standard has-post-thumbnail hentry category-tin-tuc">
                            <a class="elementor-post__thumbnail__link"
                               (click)="leCongBoLienDanhNittaSongDay()">
                              <div class="elementor-post__thumbnail"><img style="height: 200px; margin-bottom: 20px"
                                                                          src="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/Lễ-công-bố-cống-kích-ngầm-Sông-Đáy-ảnh-3-222x300.jpg"
                                                                          class="attachment-medium size-medium"
                                                                          alt="le cong bo cong kich ngam song day anh 3"
                                                                          srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/Lễ-công-bố-cống-kích-ngầm-Sông-Đáy-ảnh-3-222x300.jpg 222w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/Lễ-công-bố-cống-kích-ngầm-Sông-Đáy-ảnh-3.jpg 475w"
                                                                          sizes="(max-width: 222px) 100vw, 222px"/>
                              </div>
                            </a>
                            <div class="elementor-post__text">
                              <h1 class="elementor-post__title">
                                <a (click)="leCongBoLienDanhNittaSongDay()">
                                  Lễ công bố Liên danh Cống kích ngầm Nitta &#8211; Sông Đáy. </a>
                              </h1>
                              <div class="elementor-post__excerpt">
                                <p>Lễ công bố Liên danh Cống kích ngầm Nitta &#8211; Sông Đáy. Tại buổi lễ, đại diện bộ
                                  Xây Dựng Việt Nam đã đọc</p>
                              </div>
                            </div>
                          </article>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>

</div>
