<div class="ast-container">


  <div id="primary" class="content-area primary">


    <main id="main" class="site-main" role="main">


      <div data-elementor-type="single" data-elementor-id="580"
           class="elementor elementor-580 elementor-bc-flex-widget elementor-location-single post-1238 post type-post status-publish format-standard has-post-thumbnail hentry category-tin-tuc ast-article-single"
           data-elementor-settings="[]">
        <div class="elementor-inner">
          <div class="elementor-section-wrap">
            <section
              class="elementor-element elementor-element-a033db1 elementor-section-full_width elementor-section-height-min-height elementor-section-height-default elementor-section-items-middle elementor-section elementor-top-section"
              data-id="a033db1" data-element_type="section"
              data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
              <div class="elementor-container elementor-column-gap-default">
                <div class="elementor-row">
                  <div
                    class="elementor-element elementor-element-d350124 elementor-column elementor-col-100 elementor-top-column"
                    data-id="d350124" data-element_type="column">
                    <div class="elementor-column-wrap">
                      <div class="elementor-widget-wrap">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <section
              class="elementor-element elementor-element-632174e3 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
              data-id="632174e3" data-element_type="section">
              <div class="elementor-container elementor-column-gap-default">
                <div class="elementor-row">
                  <div
                    class="elementor-element elementor-element-6fad0fdb elementor-column elementor-col-100 elementor-top-column"
                    data-id="6fad0fdb" data-element_type="column">
                    <div class="elementor-column-wrap  elementor-element-populated">
                      <div class="elementor-widget-wrap">
                        <div
                          class="elementor-element elementor-element-189a2b97 elementor-widget elementor-widget-theme-post-title elementor-page-title elementor-widget-heading"
                          data-id="189a2b97" data-element_type="widget" data-widget_type="theme-post-title.default">
                          <div class="elementor-widget-container">
                            <h1 class="elementor-heading-title elementor-size-default">Yêu cầu về hình thức bên ngoài
                              của cống hộp đúc sẵn</h1></div>
                        </div>
                        <div
                          class="elementor-element elementor-element-649ba7b1 elementor-widget elementor-widget-theme-post-content"
                          data-id="649ba7b1" data-element_type="widget" data-widget_type="theme-post-content.default">
                          <div class="elementor-widget-container">
                            <h1 style="text-align: center;">Yêu cầu về hình thức bên ngoài của <a>cống hộp đúc sẵn</a></h1>
                            <h2><strong>1. Độ phẳng đều của bề mặt:</strong></h2>
                            <p>&#8211; Bề mặt bên trong và bên ngoài của cống yêu cầu phẳng đều, không được có các điểm
                              gồ lên hoặc lõm xuống quá 5mm.</p>
                            <p>&#8211; Trên bề mặt cống không cho phép các lỗ rỗng có chiều sâu lớn hơn hoặc bằng
                              12mm.</p>
                            <figure id="attachment_1239" aria-describedby="caption-attachment-1239"
                                    style="width: 1024px" class="wp-caption aligncenter"><img
                              class="wp-image-1239 size-large"
                              src="https://caukienbetongmienbac.com/wp-content/uploads/2019/05/cống-hộp-đúc-sẵn-1024x768.jpg"
                              alt="cống hộp đúc sẵn công ty CP VLXD Sông Đáy" width="1024" height="768"
                              srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/05/cống-hộp-đúc-sẵn-1024x768.jpg 1024w, https://caukienbetongmienbac.com/wp-content/uploads/2019/05/cống-hộp-đúc-sẵn-300x225.jpg 300w, https://caukienbetongmienbac.com/wp-content/uploads/2019/05/cống-hộp-đúc-sẵn-768x576.jpg 768w, https://caukienbetongmienbac.com/wp-content/uploads/2019/05/cống-hộp-đúc-sẵn-600x450.jpg 600w"
                              sizes="(max-width: 1024px) 100vw, 1024px"/>
                              <figcaption id="caption-attachment-1239" class="wp-caption-text">Cống hộp đúc sẵn công
                                ty CP VLXD Sông Đáy
                              </figcaption>
                            </figure>
                            <h2 style="font-size: 1.7em;">2. Vỡ bề mặt:</h2>
                            <p>&#8211; Khi có các khuyết tật vỡ bề mặt bê tông do quá trình sản xuất vận chuyển, thì
                              tổng diện tích bề mặt vỡ không được quá (6xH)mm. Trong đó diện tích một miếng vỡ không
                              được lớn hơn (3xH)mm<sup>2 </sup>(với H là kích thước trong của cống hộp).</p>
                            <p>Cống cũng không được có diện tích bê tông bị vỡ trên cả hai bề mặt (mặt trong và mặt
                              ngoài) ở chỗ tiếp xúc của miệng cống.</p>
                            <h2 style="font-size: 1.7em;">3. Nứt bề mặt:</h2>
                            <p>&#8211; Cho phép có các vết nứt bê tông do biến dạng mềm, nhưng bề rộng vết nứt không
                              được quá 0.1mm. Các vết nứt này có thể được lấp bằng cách xoa hồ xi măng.</p>
                            <h2 style="font-size: 1.7em;">4. Sự biến màu của bê tông cống:</h2>
                            <p>Có thể chấp nhận sự biến màu của bê tông cống, nhưng nếu bê tông bị nhuốm màu do cốt thép
                              bên trong bị gỉ thì ống cống đó không đạt yêu cầu chất lượng.</p>
                            <h2>5. Sai số kích thước cho phép của cống:</h2>
                            <p>Ký hiệu kích thước và sai số thước cho phép của 6 loại cống được trình bày trong Bản vẽ
                              số CT/272-05/03-04.</p>
                            <p>Để biết thêm thông tin chi tiết về sản phẩm <a>cống
                              hộp đúc sẵn</a> và các sản phẩm <a>cấu kiện bê tông đúc sẵn</a> vui lòng liên hệ Mr. Quang:
                              0968979040</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>


    </main><!-- #main -->


  </div><!-- #primary -->


</div>
