<div class="ast-container">


  <div id="primary" class="content-area primary">


    <main id="main" class="site-main" role="main">


      <div data-elementor-type="single" data-elementor-id="580"
           class="elementor elementor-580 elementor-bc-flex-widget elementor-location-single post-1604 post type-post status-publish format-standard has-post-thumbnail hentry category-tin-tuc ast-article-single"
           data-elementor-settings="[]">
        <div class="elementor-inner">
          <div class="elementor-section-wrap">
            <section
              class="elementor-element elementor-element-a033db1 elementor-section-full_width elementor-section-height-min-height elementor-section-height-default elementor-section-items-middle elementor-section elementor-top-section"
              data-id="a033db1" data-element_type="section"
              data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
              <div class="elementor-container elementor-column-gap-default">
                <div class="elementor-row">
                  <div
                    class="elementor-element elementor-element-d350124 elementor-column elementor-col-100 elementor-top-column"
                    data-id="d350124" data-element_type="column">
                    <div class="elementor-column-wrap">
                      <div class="elementor-widget-wrap">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <section
              class="elementor-element elementor-element-632174e3 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
              data-id="632174e3" data-element_type="section">
              <div class="elementor-container elementor-column-gap-default">
                <div class="elementor-row">
                  <div
                    class="elementor-element elementor-element-6fad0fdb elementor-column elementor-col-100 elementor-top-column"
                    data-id="6fad0fdb" data-element_type="column">
                    <div class="elementor-column-wrap  elementor-element-populated">
                      <div class="elementor-widget-wrap">
                        <div
                          class="elementor-element elementor-element-189a2b97 elementor-widget elementor-widget-theme-post-title elementor-page-title elementor-widget-heading"
                          data-id="189a2b97" data-element_type="widget" data-widget_type="theme-post-title.default">
                          <div class="elementor-widget-container">
                            <h1 class="elementor-heading-title elementor-size-default">Tuổi thọ của bê tông cốt
                              thép</h1></div>
                        </div>
                        <div
                          class="elementor-element elementor-element-649ba7b1 elementor-widget elementor-widget-theme-post-content"
                          data-id="649ba7b1" data-element_type="widget" data-widget_type="theme-post-content.default">
                          <div class="elementor-widget-container">
                            <h1>Tuổi thọ của bê tông cốt thép</h1>
                            <p>Chắc hẳn chúng ta đã được nghe các câu đại ý như “bền như thép; bền như bê tông cốt
                              thép”. Vậy thực tế <strong>tuổi thọ của bê tông cốt thép</strong> là bao nhiêu? Có những
                              cách nào để ngăn chặn tình trạng giảm tuổi thọ của các kết cấu kiện bê tông cốt thép trong
                              xây dựng.</p>
                            <figure id="attachment_1605" aria-describedby="caption-attachment-1605"
                                    style="width: 1350px" class="wp-caption aligncenter"><img
                              class="Bê tông cốt thép La Mã tuổi thọ 2000 năm wp-image-1605 size-full"
                              title="Bê tông cốt thép La Mã tuổi thọ 2000 năm"
                              src="https://caukienbetongmienbac.com/wp-content/uploads/2019/10/Be-tong-cot-thep-La-Ma-tuoi-tho-2000-nam.jpg"
                              alt="Be tong cot thep La Ma tuoi tho 2000 nam" width="1350" height="1141"
                              srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/10/Be-tong-cot-thep-La-Ma-tuoi-tho-2000-nam.jpg 1350w, https://caukienbetongmienbac.com/wp-content/uploads/2019/10/Be-tong-cot-thep-La-Ma-tuoi-tho-2000-nam-300x254.jpg 300w, https://caukienbetongmienbac.com/wp-content/uploads/2019/10/Be-tong-cot-thep-La-Ma-tuoi-tho-2000-nam-768x649.jpg 768w, https://caukienbetongmienbac.com/wp-content/uploads/2019/10/Be-tong-cot-thep-La-Ma-tuoi-tho-2000-nam-1024x865.jpg 1024w, https://caukienbetongmienbac.com/wp-content/uploads/2019/10/Be-tong-cot-thep-La-Ma-tuoi-tho-2000-nam-600x507.jpg 600w"
                              sizes="(max-width: 1350px) 100vw, 1350px"/>
                              <figcaption id="caption-attachment-1605" class="wp-caption-text">Bê tông cốt thép La Mã
                                tuổi thọ 2000 năm
                              </figcaption>
                            </figure>
                            <h2><strong>Không có một con số cụ thể xác định tuổi thọ của bê tông cốt thép</strong></h2>
                            <p>Để tuổi thọ của <a
                              href="https://vi.wikipedia.org/wiki/K%E1%BA%BFt_c%E1%BA%A5u_b%C3%AA_t%C3%B4ng">kết cấu
                              kiện bê tông</a> cốt thép cao thì ngay từ ban đầu cần có bê tông tươi chất lượng. Ở đây
                              được hiểu là các thành phần vật liệu trộn lẫn như cát, sỏi, xi măng đều đạt tiêu chuẩn,
                              trộn theo đúng tỷ lệ trong xây dựng mới mang lại chất lượng tốt nhất.</p>
                            <p>Đối với vật liệu thép cũng như vậy. Quá trình sản xuất ra được một phôi thép là cả một
                              quá trình bao gồm nhiều công đoạn khác nhau. Ngay từ nguyên liệu đầu vào, nhiệt độ nung
                              nấu không đúng, không đủ cũng có thể làm ảnh hưởng đến chất lượng của thép.</p>
                            <p>Chính vì thế dù bê tông cốt thép được ví là vật liệu siêu bền nhưng trong xây dựng vẫn
                              quy định tuổi thọ cho những công trình. Ví dụ như một cây cầu có tuổi thọ 100-120 năm sẽ
                              cần gia cố, kiểm tra đánh giá chất lượng xem có đáp ứng cho phương tiện lưu thông hay
                              không.</p>
                            <p>Ngoài những yếu tố trên thì việc cho cốt thép vào trong bê tông có đạt chất lượng hay
                              không. Cốt thép được phân bố đều, hay theo tỷ lệ như thế nào. Trong trường hợp cốt thép
                              thiếu không đúng theo tỷ lệ có thể ảnh hưởng đến chất lượng công trình. Chúng ta vẫn
                              thường nghe thấy các thông tin như rút lõi thép công trình ảnh hưởng đến chất lượng… Đây
                              chính là những yếu tố gây ảnh hưởng trực tiếp đến tuổi thọ của bê tông.</p>
                            <blockquote><p>Xem ngay báo giá của sản phẩm ống cống bê tông <a
                              href="https://caukienbetongmienbac.com/san-pham/cong-tron/">tại đây</a></p></blockquote>
                            <h2><strong>Cách bảo vệ kết cấu bê tông cốt thép chống ăn mòn- Tăng tuổi thọ kết cấu bê tông
                              cốt thép</strong></h2>
                            <p>Như chúng ta đã biết, hiện nay các công trình xây dựng bị ảnh hưởng chất lượng của kết
                              cấu bê tông cốt thép bị ăn mòn theo thời gian. Vậy có những cách bảo vệ nào hạn chế sự ăn
                              mòn, gia tăng tuổi thọ kết cấu bê tông cốt thép.</p>
                            <figure id="attachment_1606" aria-describedby="caption-attachment-1606" style="width: 800px"
                                    class="wp-caption aligncenter"><img
                              class="Bê tông cốt thép bị ăn mòn wp-image-1606 size-full"
                              title="Bê tông cốt thép bị ăn mòn"
                              src="https://caukienbetongmienbac.com/wp-content/uploads/2019/10/be-tong-cot-thep-bi-an-mon.jpg"
                              alt="Be tong cot thep bi an mon" width="800" height="616"
                              srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/10/be-tong-cot-thep-bi-an-mon.jpg 800w, https://caukienbetongmienbac.com/wp-content/uploads/2019/10/be-tong-cot-thep-bi-an-mon-300x231.jpg 300w, https://caukienbetongmienbac.com/wp-content/uploads/2019/10/be-tong-cot-thep-bi-an-mon-768x591.jpg 768w, https://caukienbetongmienbac.com/wp-content/uploads/2019/10/be-tong-cot-thep-bi-an-mon-600x462.jpg 600w"
                              sizes="(max-width: 800px) 100vw, 800px"/>
                              <figcaption id="caption-attachment-1606" class="wp-caption-text">Bê tông cốt thép bị ăn
                                mòn
                              </figcaption>
                            </figure>
                            <p>Ở phần trên chúng ta đã nói đến chất lượng của nguyên liệu tạo nên vật liệu bê tông và
                              cốt thép có ảnh hưởng lớn đến chất lượng tuổi thọ của bê tông cốt thép sau này. Chính vì
                              thế ngay từ ban đầu cần có những tính toán, kiểm soát chất lượng nguyên vật liệu cẩn thận
                              để hạn chế nguy cơ về sau.</p>
                            <p>Ngoài ra, còn hạn chế các tác động do môi trường bên ngoài có thể làm khả năng ăn mòn vật
                              liệu thép. Trong đó một số tác nhân như quá trình tan băng, lưu huỳnh và các khí thải khác
                              thải ra môi trường. Trong các nhà máy công nghiệp kết cấu bê tông cốt thép có thể bị hư
                              hại bởi các dung dịch muối, axit, dung dịch kiềm, dầu mỡ xâm thực.</p>
                            <p>Có thể thấy hầu hết các kết cấu bê tông cốt thép bị hư hỏng do nấm mốc, làm giảm chất
                              lượng, tuổi thọ. Ngoài ra, còn do các ký sinh trùng tác động tới bên ngoài và bên trong
                              kết cấu bê tông cốt thép.</p>
                            <h3>Ăn mòn bê tông</h3>
                            <p>Sự ăn mòn của thép trong bê tông chúng ta khó có thể nhìn thấy bằng mắt thường. Cần phải
                              có máy móc và các dụng cụ chuyên dụng để đo mới biết được chất lượng ra sao. Tuy nhiên,
                              khi cốt thép bị ăn mòn sẽ ảnh hưởng nghiêm trọng tới một khối liền mạch, sự hoàn chỉnh,
                              bền chặt của bê tông cốt thép. Chắc chắn tuổi thọ của khối bê tông cốt thép sẽ nhanh chóng
                              giảm tuổi thọ.</p>
                            <p>Việc xử lý sự ăn mòn của thép trong bê tông không phải đơn giản. Đây là một vấn đề phức
                              tạp, khó xử lý. Hiện nay, đã có rất nhiều nghiên cứu được tiến hành để bảo vệ nhiều công
                              trình lớn. Tăng tuổi thọ các công trình xây dựng trong tương lai. Nhưng để có một biện
                              pháp cụ thể nhất thể tăng tuổi thọ của bê tông thì vẫn chưa có một câu trả lời chính
                              xác.</p>
                            <p>Website: https://caukienbetongmienbac.com</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>


    </main><!-- #main -->


  </div><!-- #primary -->


</div>
