<div class="ast-container">


  <div id="primary" class="content-area primary">


    <main id="main" class="site-main" role="main">


      <div data-elementor-type="single" data-elementor-id="580"
           class="elementor elementor-580 elementor-bc-flex-widget elementor-location-single post-365 post type-post status-publish format-standard has-post-thumbnail hentry category-cong-nghe ast-article-single"
           data-elementor-settings="[]">
        <div class="elementor-inner">
          <div class="elementor-section-wrap">
            <section
              class="elementor-element elementor-element-a033db1 elementor-section-full_width elementor-section-height-min-height elementor-section-height-default elementor-section-items-middle elementor-section elementor-top-section"
              data-id="a033db1" data-element_type="section"
              data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
              <div class="elementor-container elementor-column-gap-default">
                <div class="elementor-row">
                  <div
                    class="elementor-element elementor-element-d350124 elementor-column elementor-col-100 elementor-top-column"
                    data-id="d350124" data-element_type="column">
                    <div class="elementor-column-wrap">
                      <div class="elementor-widget-wrap">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <section
              class="elementor-element elementor-element-632174e3 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
              data-id="632174e3" data-element_type="section">
              <div class="elementor-container elementor-column-gap-default">
                <div class="elementor-row">
                  <div
                    class="elementor-element elementor-element-6fad0fdb elementor-column elementor-col-100 elementor-top-column"
                    data-id="6fad0fdb" data-element_type="column">
                    <div class="elementor-column-wrap  elementor-element-populated">
                      <div class="elementor-widget-wrap">
                        <div
                          class="elementor-element elementor-element-189a2b97 elementor-widget elementor-widget-theme-post-title elementor-page-title elementor-widget-heading"
                          data-id="189a2b97" data-element_type="widget" data-widget_type="theme-post-title.default">
                          <div class="elementor-widget-container">
                            <h1 class="elementor-heading-title elementor-size-default">Nhà máy sản xuất VLXD Sông Đáy
                              1</h1></div>
                        </div>
                        <div
                          class="elementor-element elementor-element-649ba7b1 elementor-widget elementor-widget-theme-post-content"
                          data-id="649ba7b1" data-element_type="widget" data-widget_type="theme-post-content.default">
                          <div class="elementor-widget-container">
                            <p>Nhà máy sản xuất VLXD Sông Đáy 1 được khánh thành vào ngày 13/9/2006 trên diện tích 2.6
                              ha tại cụm Công nghiệp Phú Nghĩa &#8211; Chương Mỹ &#8211; Hà Nội (nay là Khu công
                              nghiệp Phú Nghĩa). Nhà máy đươc đầu tư đồng bộ bằng dây chuyền sản xuất theo công nghệ lõi
                              rung của Đan Mạch (một trong những công nghệ tiên tiến nhất trên thế giới hiện nay) với sự
                              đồng bộ cao, từ khâu định lượng, cấp phối, trộn liệu đến sản xuất cốt thép, tạo hình sản
                              xuất ống cống đều được tự động hóa. Khả năng sản xuất 500m dài/ngày. Số vốn đầu tư nhà máy
                              trên 40 tỷ.<br/>
                              Địa chỉ: Khu Công nghiệp Phú Nghĩa &#8211; Chương Mỹ &#8211; Hà Nội</p>
                            <p>Để biết thêm thông tin về nhà máy và sản phẩm cống kích ngầm và <a
                              href="https://caukienbetongmienbac.com/danh-muc-san-pham/" target="_blank"
                              rel="noopener noreferrer">cấu kiện bê tông đúc sẵn</a> Sông Đáy vui lòng LH Mr Hoàng:
                              0944997194</p>
                            <p><img class="aligncenter size-full wp-image-869"
                                    src="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-tron-1.jpg"
                                    alt="" width="760" height="366"
                                    srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-tron-1.jpg 760w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-tron-1-300x144.jpg 300w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-tron-1-600x289.jpg 600w"
                                    sizes="(max-width: 760px) 100vw, 760px"/></p>
                            <p><img class="aligncenter size-full wp-image-865"
                                    src="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-hop-doi-2.jpg"
                                    alt="" width="720" height="960"
                                    srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-hop-doi-2.jpg 720w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-hop-doi-2-225x300.jpg 225w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-hop-doi-2-600x800.jpg 600w"
                                    sizes="(max-width: 720px) 100vw, 720px"/> <img
                              class="aligncenter size-full wp-image-866"
                              src="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-hop-3.jpg" alt=""
                              width="960" height="640"
                              srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-hop-3.jpg 960w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-hop-3-300x200.jpg 300w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-hop-3-768x512.jpg 768w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-hop-3-600x400.jpg 600w"
                              sizes="(max-width: 960px) 100vw, 960px"/> <img class="aligncenter size-full wp-image-867"
                                                                             src="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-tron-1000.jpg"
                                                                             alt="" width="960" height="720"
                                                                             srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-tron-1000.jpg 960w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-tron-1000-300x225.jpg 300w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-tron-1000-768x576.jpg 768w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-tron-1000-600x450.jpg 600w"
                                                                             sizes="(max-width: 960px) 100vw, 960px"/>
                              <img class="aligncenter size-full wp-image-868"
                                   src="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-tron-to.jpg"
                                   alt="" width="960" height="637"
                                   srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-tron-to.jpg 960w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-tron-to-300x199.jpg 300w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-tron-to-768x510.jpg 768w, https://caukienbetongmienbac.com/wp-content/uploads/2019/03/cong-tron-to-600x398.jpg 600w"
                                   sizes="(max-width: 960px) 100vw, 960px"/></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>


    </main><!-- #main -->


  </div><!-- #primary -->


</div>
