<div id="slides" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#slides" data-slide-to="0" class="active"></li>
    <li data-target="#slides" data-slide-to="1"></li>
    <li data-target="#slides" data-slide-to="2"></li>
    <li data-target="#slides" data-slide-to="3"></li>
  </ul>
  <div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/images_Quang/Ống-cống-tròn-bê-tông-cốt-thép-đúc-sẵn-mẫu-2-2.jpg"
             style="height: 500px">
      </div>
      <div class="carousel-item ">
        <img src="../../assets/images_Quang/cống-hộp-đôi-bê-tông-cốt-thép-đúc-sẵn-mẫu-2-1.jpg"
             style="height: 500px">
      </div>
      <div class="carousel-item ">
        <img src="../../assets/images_Quang/Ống-cống-tròn-bê-tông-cốt-thép-đúc-sẵn-mẫu-3.jpg"
             style="height:500px"></div>
      <div class="carousel-item ">
        <img src="../../assets/images_Quang/Hố-ga-bê-tông-cốt-thép-đúc-sẵn-mẫu-1-2.jpg"
             style="height: 500px"></div>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div style="text-align: center; color: blue;">
    <h2><b>SẢN PHẨM NỔI BẬT</b></h2>
  </div>
  <div class="row">
    <div class="col-md-3" style="position: relative">
      <img src="../../assets/images_Quang/Ống-cống-tròn-bê-tông-cốt-thép-đúc-sẵn-mẫu-5-300x300.jpg"
           style="position:relative; width: 100%">
      <h3
        style="position: relative; text-align: center; bottom: 0px; background-color: red; width: 100%; font-size: 2.0rem; color: white">
        Cống tròn</h3>
    </div>
    <div class="col-md-3" style="position: relative">
      <img src="../../assets/images_Quang/cống-hộp-bê-tông-cốt-thép-đúc-sẵn-mẫu-3-1-300x300.jpg"
           style="position:relative; width: 100%">
      <h3
        style="position: relative; text-align: center; bottom: 0px; background-color: red; width: 100%; font-size: 2.0rem; color: white">
        Cống hộp</h3>
    </div>
    <div class="col-md-3" style="position: relative">
      <img
        src="../../assets/images_Quang/Hão-kỹ-thuật-bê-tông-cốt-thép-đúc-sẵn-mẫu-1-o8orhl3dvl8hy3jdw18wwhhmfzmrvnhwpx3xx785c0.jpg"
        style="position:relative; width: 100%">
      <h3
        style="position: relative; text-align: center; bottom: 0px; background-color: red; width: 100%; font-size: 2.0rem; color: white">
        Hào kỹ thuật</h3>
    </div>
    <div class="col-md-3" style="position: relative">
      <img src="../../assets/images_Quang/Hố-ga-bê-tông-cốt-thép-đúc-sẵn-mẫu-2-300x300.jpg"
           style="position:relative; width: 100%">
      <h3
        style="position: relative; text-align: center; bottom: 0px; background-color: red; width: 100%; font-size: 2.0rem; color: white">
        Hố ga đúc sẵn</h3>
    </div>
  </div>
  <br>
  <section
    class="elementor-element elementor-element-31f0b79b elementor-section-content-middle elementor-reverse-mobile elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
    data-id="31f0b79b" data-element_type="section"
    data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
    <div class="elementor-container elementor-column-gap-no">
      <div class="elementor-row">
        <div class="elementor-element elementor-element-4b72b7e6 elementor-column elementor-col-50 elementor-top-column"
             data-id="4b72b7e6" data-element_type="column">
          <div class="elementor-column-wrap  elementor-element-populated">
            <div class="elementor-widget-wrap">
              <section
                class="elementor-element elementor-element-d3e64f7 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section"
                data-id="d3e64f7" data-element_type="section">
                <div class="elementor-container elementor-column-gap-default">
                  <div class="elementor-row">
                    <div
                      class="elementor-element elementor-element-1a556580 elementor-column elementor-col-50 elementor-inner-column"
                      data-id="1a556580" data-element_type="column">
                      <div class="elementor-column-wrap  elementor-element-populated">
                        <div class="elementor-widget-wrap">
                          <div
                            class="elementor-element elementor-element-5c2da3f1 elementor-widget elementor-widget-image"
                            data-id="5c2da3f1" data-element_type="widget" data-widget_type="image.default">
                            <div class="elementor-widget-container">
                              <div class="elementor-image">
                                <figure class="wp-caption">
                                  <a routerLink="" (click)="congKichNgam()"
                                     data-elementor-open-lightbox="" target="_blank">
                                    <img width="626" height="886"
                                         src="https://caukienbetongmienbac.com/wp-content/uploads/2019/06/12-năm-thành-lập-công-ty-ống-cống-bê-tông-cốt-thép-đúc-sẵn-Sông-Đáy.jpg"
                                         class="attachment-full size-full"
                                         alt="12 năm thành lập công ty ống cống bê tông cốt thép đúc sẵn Sông Đáy"
                                         srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/06/12-năm-thành-lập-công-ty-ống-cống-bê-tông-cốt-thép-đúc-sẵn-Sông-Đáy.jpg 626w, https://caukienbetongmienbac.com/wp-content/uploads/2019/06/12-năm-thành-lập-công-ty-ống-cống-bê-tông-cốt-thép-đúc-sẵn-Sông-Đáy-212x300.jpg 212w, https://caukienbetongmienbac.com/wp-content/uploads/2019/06/12-năm-thành-lập-công-ty-ống-cống-bê-tông-cốt-thép-đúc-sẵn-Sông-Đáy-600x849.jpg 600w"
                                         sizes="(max-width: 626px) 100vw, 626px"> </a>
                                  <figcaption class="widget-image-caption wp-caption-text"></figcaption>
                                </figure>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      class="elementor-element elementor-element-36a40905 elementor-column elementor-col-50 elementor-inner-column"
                      data-id="36a40905" data-element_type="column">
                      <div class="elementor-column-wrap  elementor-element-populated">
                        <div class="elementor-widget-wrap">
                          <div
                            class="elementor-element elementor-element-279f76a1 elementor-widget elementor-widget-image"
                            data-id="279f76a1" data-element_type="widget" data-widget_type="image.default">
                            <div class="elementor-widget-container">
                              <div class="elementor-image">
                                <figure class="wp-caption">
                                  <a routerLink="" (click)="congTron()"
                                     data-elementor-open-lightbox="">
                                    <img width="890" height="587"
                                         src="https://caukienbetongmienbac.com/wp-content/uploads/2019/06/Cống-kích-ngầm-Sông-Đáy-mẫu-2.jpg"
                                         class="attachment-full size-full" alt="Cong kich ngam Song Day"
                                         srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/06/Cống-kích-ngầm-Sông-Đáy-mẫu-2.jpg 890w, https://caukienbetongmienbac.com/wp-content/uploads/2019/06/Cống-kích-ngầm-Sông-Đáy-mẫu-2-300x198.jpg 300w, https://caukienbetongmienbac.com/wp-content/uploads/2019/06/Cống-kích-ngầm-Sông-Đáy-mẫu-2-768x507.jpg 768w, https://caukienbetongmienbac.com/wp-content/uploads/2019/06/Cống-kích-ngầm-Sông-Đáy-mẫu-2-600x396.jpg 600w"
                                         sizes="(max-width: 890px) 100vw, 890px"> </a>
                                  <figcaption class="widget-image-caption wp-caption-text"></figcaption>
                                </figure>
                              </div>
                            </div>
                          </div>
                          <div
                            class="elementor-element elementor-element-7f9ce1c9 elementor-widget elementor-widget-image"
                            data-id="7f9ce1c9" data-element_type="widget" data-widget_type="image.default">
                            <div class="elementor-widget-container">
                              <div class="elementor-image">
                                <figure class="wp-caption">
                                  <a routerLink="" (click)="congHopDon()"
                                     data-elementor-open-lightbox="">
                                    <img width="900" height="602"
                                         src="https://caukienbetongmienbac.com/wp-content/uploads/2019/06/cống-hộp-bê-tông-cốt-thép-đúc-sẵn-mẫu-5.png"
                                         class="attachment-large size-large"
                                         alt="cong hop doi be tong cot thep duc san mau 5"
                                         srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/06/cống-hộp-bê-tông-cốt-thép-đúc-sẵn-mẫu-5.png 900w, https://caukienbetongmienbac.com/wp-content/uploads/2019/06/cống-hộp-bê-tông-cốt-thép-đúc-sẵn-mẫu-5-300x201.png 300w, https://caukienbetongmienbac.com/wp-content/uploads/2019/06/cống-hộp-bê-tông-cốt-thép-đúc-sẵn-mẫu-5-768x514.png 768w, https://caukienbetongmienbac.com/wp-content/uploads/2019/06/cống-hộp-bê-tông-cốt-thép-đúc-sẵn-mẫu-5-600x401.png 600w"
                                         sizes="(max-width: 900px) 100vw, 900px"> </a>
                                  <figcaption class="widget-image-caption wp-caption-text"></figcaption>
                                </figure>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
        <div class="elementor-element elementor-element-50120617 elementor-column elementor-col-50 elementor-top-column"
             data-id="50120617" data-element_type="column">
          <div class="elementor-column-wrap  elementor-element-populated">
            <div class="elementor-widget-wrap">
              <div class="elementor-element elementor-element-7aad7b02 elementor-widget elementor-widget-heading"
                   data-id="7aad7b02" data-element_type="widget" data-widget_type="heading.default">
                <div class="elementor-widget-container">
                  <h3 class="elementor-heading-title elementor-size-default">Về Chúng Tôi</h3></div>
              </div>
              <div class="elementor-element elementor-element-27a5f5e0 elementor-widget elementor-widget-text-editor"
                   data-id="27a5f5e0" data-element_type="widget" data-widget_type="text-editor.default">
                <div class="elementor-widget-container">
                  <div class="elementor-text-editor elementor-clearfix"><p style="text-align: justify;">Công ty CP VLXD
                    Sông Đáy được thành lập vào năm 2005, chính thức tham gia thị trường VLXD năm 2006</p>
                    <p style="text-align: justify;"><b>Bê tông Sông Đáy</b> đang khẳng định vị trí số 1 trên thị
                      trường sản xuất cống bê tông cốt thép dùng trong thoát nước.</p>
                    <p style="text-align: justify;">Với 2 nhà máy quy mô lớn tại Chương Mỹ- Hà Nội (3,5 ha) và
                      Thuận Thành- Bắc Ninh (12 ha) công ty có thể đáp ứng mọi tiến độ của công trình.</p>
                    <p style="text-align: justify;">Sản phẩm được chứng nhận phù hợp tiêu chuẩn TCVN 9113-2002,
                      TCVN 9116-2012 và tiêu chuẩn ASTM C76M-05b của Hoa Kỳ.</p>
                    <p style="text-align: justify;"><b>Bê tông Sông Đáy</b> sẽ không ngừng nâng cao chất lượng sản
                      phẩm, năng lực sản xuất, đào tạo và xây dựng đội ngũ lao động lành nghế đáp ứng
                      tốt
                      nhất mọi yêu cầu của khách hàng.</p></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div style="border-top: grey solid 1px; text-align: center;">
    <br>
    <h3 style="color: blue">NHÀ MÁY BÊ TÔNG SÔNG ĐÁY</h3>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="card" style="height: 410px">
        <img src="../../assets/images_Quang/cong-2-600x800.jpg" class="card-img-top" style="height: 200px">
        <div class="card-body">
          <h5 class="card-title">Phòng thí nghiệm Las-XD 1432</h5>
          <p class="card-text">Được thành lập và công nhận thẹo Quyết định số: 499/QĐ-BXD ngày 22/10/2014, Trung tâm Thí
            nghiệm và Kiểm định chất lượng công trình xây</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card" style="height: 410px">
        <img src="../../assets/images_Quang/cong-hop-doi-3-600x400.jpg" class="card-img-top" style="height: 200px">
        <div class="card-body">
          <h5 class="card-title">Nhà máy sản xuất cống kích ngầm Nitta-Sông Đáy</h5>
          <p class="card-text">Dự án nhà máy sản xuất cống kích ngầm đặt tại Thuận Thành – Bắc Ninh trên diện tích là
            2ha
            Được thực hiện sau</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card" style="height: 410px">
        <img src="../../assets/images_Quang/tron-600x400.jpg" class="card-img-top" style="height: 200px">
        <div class="card-body">
          <h5 class="card-title">Nhà máy sản xuất VLXD Sông Đáy 2</h5>
          <p class="card-text">Nhà máy sản xuất VLXD Sông Đáy 2 được xây dựng trên diện tích 9.5 ha tại Cụm Công nghiệp
            Hà
            Mãn – Trí Quả,</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card" style="height: 410px">
        <img src="../../assets/images_Quang/cong-hop-3-600x400.jpg" class="card-img-top" style="height: 200px">
        <div class="card-body">
          <h5 class="card-title">Nhà máy sản xuất VLXD Sông Đáy 1</h5>
          <p class="card-text">Nhà máy sản xuất VLXD Sông Đáy 1 được khánh thành vào ngày 13/9/2006 trên diện tích 2.6
            ha
            tại cụm Công nghiệp Phú Nghĩa</p>
        </div>
      </div>
    </div>
  </div>
  <section
    class="elementor-element elementor-element-edb5d5b elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
    data-id="edb5d5b" data-element_type="section">
    <div class="elementor-container elementor-column-gap-default">
      <div class="elementor-row">
        <div class="elementor-element elementor-element-e35037c elementor-column elementor-col-100 elementor-top-column"
             data-id="e35037c" data-element_type="column">
          <div class="elementor-column-wrap  elementor-element-populated">
            <div class="elementor-widget-wrap">
              <div class="elementor-element elementor-element-ad98e34 elementor-widget elementor-widget-heading"
                   data-id="ad98e34" data-element_type="widget" data-widget_type="heading.default">
                <div class="elementor-widget-container">
                  <div style="border-top: grey solid 1px; text-align: center;">
                    <br>
                    <h3 style="color: blue">DỰ ÁN</h3>
                  </div>
                </div>
              </div>
              <section
                class="elementor-element elementor-element-bf7625e elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section"
                data-id="bf7625e" data-element_type="section">
                <div class="elementor-container elementor-column-gap-default">
                  <div class="elementor-row">
                    <div
                      class="elementor-element elementor-element-ebb497c elementor-column elementor-col-33 elementor-inner-column"
                      data-id="ebb497c" data-element_type="column">
                      <div class="elementor-column-wrap  elementor-element-populated">
                        <div class="elementor-widget-wrap">
                          <div
                            class="elementor-element elementor-element-f8fca44 feature-product elementor-position-top elementor-vertical-align-top elementor-widget elementor-widget-image-box"
                            data-id="f8fca44" data-element_type="widget" data-widget_type="image-box.default">
                            <div class="elementor-widget-container">
                              <div class="elementor-image-box-wrapper">
                                <figure class="elementor-image-box-img"><a
                                  routerLink="" (click)="congHopDon()"><img
                                  width="768"
                                  height="576"
                                  src="https://caukienbetongmienbac.com/wp-content/uploads/2019/06/Dự-án-công-nghệ-cao-Láng-Hòa-Lạc-2-768x576.jpg"
                                  class="attachment-medium_large size-medium_large"
                                  alt="Dự án công nghệ cao Láng Hòa Lạc"
                                  srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/06/Dự-án-công-nghệ-cao-Láng-Hòa-Lạc-2-768x576.jpg 768w, https://caukienbetongmienbac.com/wp-content/uploads/2019/06/Dự-án-công-nghệ-cao-Láng-Hòa-Lạc-2-300x225.jpg 300w, https://caukienbetongmienbac.com/wp-content/uploads/2019/06/Dự-án-công-nghệ-cao-Láng-Hòa-Lạc-2-600x450.jpg 600w, https://caukienbetongmienbac.com/wp-content/uploads/2019/06/Dự-án-công-nghệ-cao-Láng-Hòa-Lạc-2.jpg 862w"
                                  sizes="(max-width: 768px) 100vw, 768px"></a>
                                </figure>
                                <div class="elementor-image-box-content"><h3 class="elementor-image-box-title"><a
                                  routerLink="" (click)="congHopDon()"
                                  style="font-size: 16px">Dự án Công
                                  Nghệ Cao Láng Hòa Lạc Quy mô hơn 1.500 ha</a></h3></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      class="elementor-element elementor-element-dbd5419 elementor-column elementor-col-33 elementor-inner-column"
                      data-id="dbd5419" data-element_type="column">
                      <div class="elementor-column-wrap  elementor-element-populated">
                        <div class="elementor-widget-wrap">
                          <div
                            class="elementor-element elementor-element-f0f97fa feature-product elementor-position-top elementor-vertical-align-top elementor-widget elementor-widget-image-box"
                            data-id="f0f97fa" data-element_type="widget" data-widget_type="image-box.default">
                            <div class="elementor-widget-container">
                              <div class="elementor-image-box-wrapper">
                                <figure class="elementor-image-box-img"><a
                                  routerLink="" (click)="congHopDon()"><img
                                  width="768"
                                  height="580"
                                  src="https://caukienbetongmienbac.com/wp-content/uploads/2019/06/Dự-án-Vincity-Ocean-Park-Gia-Lâm-Hà-Nội-2-768x580.jpg"
                                  class="attachment-medium_large size-medium_large"
                                  alt="Dự án Vincity Ocean Park - Gia Lâm Hà Nội 2"
                                  srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/06/Dự-án-Vincity-Ocean-Park-Gia-Lâm-Hà-Nội-2-768x580.jpg 768w, https://caukienbetongmienbac.com/wp-content/uploads/2019/06/Dự-án-Vincity-Ocean-Park-Gia-Lâm-Hà-Nội-2-300x226.jpg 300w, https://caukienbetongmienbac.com/wp-content/uploads/2019/06/Dự-án-Vincity-Ocean-Park-Gia-Lâm-Hà-Nội-2-600x453.jpg 600w, https://caukienbetongmienbac.com/wp-content/uploads/2019/06/Dự-án-Vincity-Ocean-Park-Gia-Lâm-Hà-Nội-2.jpg 856w"
                                  sizes="(max-width: 768px) 100vw, 768px"></a>
                                </figure>
                                <div class="elementor-image-box-content"><h3 class="elementor-image-box-title"><a
                                  routerLink="" (click)="congHopDon()"
                                  style="font-size: 16px">Dự án Vincity
                                  Ocean Park - Gia Lâm, Hà Nội Quy mô hơn 200ha</a></h3></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      class="elementor-element elementor-element-a6f4931 elementor-column elementor-col-33 elementor-inner-column"
                      data-id="a6f4931" data-element_type="column">
                      <div class="elementor-column-wrap  elementor-element-populated">
                        <div class="elementor-widget-wrap">
                          <div
                            class="elementor-element elementor-element-68c3427 feature-product elementor-position-top elementor-vertical-align-top elementor-widget elementor-widget-image-box"
                            data-id="68c3427" data-element_type="widget" data-widget_type="image-box.default">
                            <div class="elementor-widget-container">
                              <div class="elementor-image-box-wrapper">
                                <figure class="elementor-image-box-img"><a
                                  routerLink="" (click)="hoGaDucSan()"><img width="768"
                                                                                                       height="578"
                                                                                                       src="https://caukienbetongmienbac.com/wp-content/uploads/2019/06/Dự-án-đường-bao-biển-Bãi-Cháy-Quảng-Ninh-768x578.jpg"
                                                                                                       class="attachment-medium_large size-medium_large"
                                                                                                       alt="Dự án đường bao biển Bãi Cháy- Quảng Ninh"
                                                                                                       srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/06/Dự-án-đường-bao-biển-Bãi-Cháy-Quảng-Ninh-768x578.jpg 768w, https://caukienbetongmienbac.com/wp-content/uploads/2019/06/Dự-án-đường-bao-biển-Bãi-Cháy-Quảng-Ninh-300x226.jpg 300w, https://caukienbetongmienbac.com/wp-content/uploads/2019/06/Dự-án-đường-bao-biển-Bãi-Cháy-Quảng-Ninh-600x452.jpg 600w, https://caukienbetongmienbac.com/wp-content/uploads/2019/06/Dự-án-đường-bao-biển-Bãi-Cháy-Quảng-Ninh.jpg 980w"
                                                                                                       sizes="(max-width: 768px) 100vw, 768px"></a>
                                </figure>
                                <div class="elementor-image-box-content"><h3 class="elementor-image-box-title"><a
                                  routerLink="" (click)="hoGaDucSan()"
                                  style="font-size: 16px">Dự án đường bao biển
                                  Bãi Cháy - Quảng Ninh chiều dài 4.3 km</a></h3></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="container">
    <div style="border-top: grey solid 1px; text-align: center;">
      <br>
      <h3 style="color: blue">CHỨNG NHẬN CHẤT LƯỢNG SẢN PHẨM</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <img src="../../assets/images_Quang/Chứng-nhận-hệ-thống-quản-lý-chât-lượng-216x300.jpg" style="height: 300px">
    </div>
    <div class="col-md-3">
      <img src="../../assets/images_Quang/Tiêu-chuẩn-cống-hộp-đơn-bê-tông-cốt-thép-209x300.jpg" style="height: 300px">
    </div>
    <div class="col-md-3">
      <img src="../../assets/images_Quang/Tiêu-chuẩn-cống-hộp-đôi-bê-tông-cốt-thép-215x300.jpg" style="height: 300px">
    </div>
    <div class="col-md-3">
      <img src="../../assets/images_Quang/Tiêu-chuẩn-ống-cống-tròn-bê-tông-cốt-thép-đúc-sẵn-202x300.jpg" style="height: 300px">
    </div>
  </div>
</div>
