<div class="elementor-column-wrap  elementor-element-populated">
  <div class="elementor-widget-wrap">
    <div
      class="elementor-element elementor-element-491c4d0 elementor-widget elementor-widget-woocommerce-product-data-tabs"
      data-id="491c4d0" data-element_type="widget"
      data-widget_type="woocommerce-product-data-tabs.default">
      <div class="elementor-widget-container">

        <div class="woocommerce-tabs wc-tabs-wrapper">

          <div
            class="woocommerce-Tabs-panel woocommerce-Tabs-panel--description panel entry-content wc-tab"
            id="tab-description" role="tabpanel" aria-labelledby="tab-title-description">


            <h1>Cống tròn</h1>
            <h3 style="text-align: justify;"><span
              style="color: #3366ff;">MÔ TẢ SẢN PHẨM CỐNG TRÒN</span></h3>
            <p style="text-align: justify;">Bạn đang tìm kiếm nơi cung cấp<strong> ống cống tròn<a
              href="https://vi.wikipedia.org/wiki/B%C3%AA_t%C3%B4ng_c%E1%BB%91t_th%C3%A9p"> bê tông
              cốt thép</a> đúc sẵn</strong> uy tín, chất lượng và chuyên nghiệp? Bạn đang phân vân
              vì có nhiều đơn vị với giá thành, chất lượng khác nhau? Bạn chưa biết nên chọn loại
              cống nào (ống cống bê tông ly tâm hay ống cống bê tông rung lõi, rung ép) để phù
              hợp với nhu cầu tại công trường và tiết kiệm chi phí.</p>
            <p style="background: white; margin: 0in 0in 7.5pt; text-align: justify;"><span
              style="font-family: 'Arial',sans-serif; color: #333333;">Bạn hãy xem qua </span><span
              style="font-family: 'Arial',sans-serif; color: red;"><span style="color: #000000;">sản phẩm cống tròn <a
              routerLink="" (click)="beTongCotThepLaGi()">bê tông cốt thép</a> Sông Đáy</span> </span><span
              style="font-family: 'Arial',sans-serif; color: #333333;"> với dịch vụ tư vấn miễn phí không giới hạn thời gian, đáp ứng mọi tiến độ, vận chuyển nhanh chóng và chính sách ưu đãi tốt bạn nhé.</span>
            </p>
            <h2 style="text-align: justify;"><strong>ƯU NHƯỢC ĐIỂM CỦA ỐNG CỐNG TRÒN BÊ TÔNG RUNG
              LÕI</strong></h2>
            <p style="text-align: justify;">Cống tròn bê tông cốt thép sản xuất theo công nghệ
              rung lõi với cấu tạo đơn giản gồm bê tông và cốt thép đang được sử dụng rộng rãi bởi
              các <strong>ưu điểm</strong></p>
            <ul style="text-align: justify;">
              <li>Độ nén chặt của bê tông cao, không tạo ra ứng suất xoắn trong cống;</li>
              <li>Chịu mài mòn tốt, khả năng chịu áp lực &amp; tính đồng nhất của bê tông cao;</li>
              <li>Vị trí lồng thép, khoảng cách cốt thép luôn chính xác;</li>
              <li>Lắp đặt joint kín khít, không rò rỉ nước trên thành cống và vị trí mối nối;</li>
              <li>Bề mặt cống nhẵn, độ dày cống đồng đều;</li>
              <li>Năng suất cao, có thể đáp ứng tiến độ của công trình;</li>
              <li>Giá thành rẻ, cạnh tranh;</li>
            </ul>
            <p style="text-align: justify;">Tuy nhiên,<strong> cống tròn bê tông</strong> rung lõi
              cũng có một số <strong>nhược điểm</strong> bạn cần lưu ý như:</p>
            <ul style="text-align: justify;">
              <li style="text-align: justify;">Sản phẩm sản xuất đồng bộ trên khuôn đúc sẵn
                nên chiều dài cố định là 2.5m hoặc 1.5m, với những tuyến đường cần các
                chủng loại cống có chiều dài khác với tiêu chuẩn phải cắt cống cho phù
                hợp.
                <p>
                  <figure id="attachment_1578" aria-describedby="caption-attachment-1578"
                          style="width: 700px" class="wp-caption aligncenter"><img
                    class="Cống tròn bê tông wp-image-1578 size-full"
                    style="font-style: inherit; font-weight: bold; text-align: center;"
                    title="Cống tròn bê tông"
                    src="https://caukienbetongmienbac.com/wp-content/uploads/2019/05/cong-tron-be-tong.jpg"
                    alt="Cong tron be tong" width="700" height="411"
                    srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/05/cong-tron-be-tong.jpg 700w, https://caukienbetongmienbac.com/wp-content/uploads/2019/05/cong-tron-be-tong-300x176.jpg 300w, https://caukienbetongmienbac.com/wp-content/uploads/2019/05/cong-tron-be-tong-600x352.jpg 600w"
                    sizes="(max-width: 700px) 100vw, 700px"/>
                    <figcaption id="caption-attachment-1578" class="wp-caption-text">Cống tròn bê
                      tông
                    </figcaption>
                  </figure>
              </li>
            </ul>
            <h2 style="text-align: justify;">THÔNG SỐ KỸ THUẬT ỐNG CỐNG :</h2>
            <ul>
              <li style="list-style-type: none;">
                <ul>
                  <li>Cống tròn được đúc theo phương pháp rung lõi trung tâm thẳng đứng;</li>
                  <li>Bê tông: Bê tông C25 tương đương mac bê tông M300;</li>
                  <li>Thép được kéo nguội phù hợp với tải trọng của từng loại cống;</li>
                  <li>Lồng thép (cốt thép) được sản xuất bằng máy hàn tự động đem lại sự chính
                    xác cao;
                  </li>
                  <li>Mối nối các ống cống tròn loe đúc sẵn được thực hiện bằng sự lắp ráp giữa đầu
                    dương và đầu âm của các đốt cống. Vật liệu dùng để làm mối nối là các Joint cao
                    su; vữa xi măng mác cao; hoặc sợi đay tẩm nhựa đường;
                  </li>
                  <li>Lồng thép (cốt thép) được sản xuất bằng máy hàn tự động;</li>
                  <li>Kích thước: sản xuất được các loại cống từ D300, D400 đến D3000.</li>
                </ul>
              </li>
            </ul>
            <figure id="attachment_1579" aria-describedby="caption-attachment-1579"
                    style="width: 700px" class="wp-caption aligncenter"><img
              class="Cống tròn bê tông Sông Đáy wp-image-1579"
              style="font-size: 16px; font-style: inherit; font-weight: bold;"
              title="Cống tròn bê tông Sông Đáy"
              src="https://caukienbetongmienbac.com/wp-content/uploads/2019/05/cong-tron-be-tong-song-day.jpg"
              alt="cong tron be tong Song Day" width="700" height="453"
              srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/05/cong-tron-be-tong-song-day.jpg 712w, https://caukienbetongmienbac.com/wp-content/uploads/2019/05/cong-tron-be-tong-song-day-300x194.jpg 300w, https://caukienbetongmienbac.com/wp-content/uploads/2019/05/cong-tron-be-tong-song-day-600x388.jpg 600w"
              sizes="(max-width: 700px) 100vw, 700px"/>
              <figcaption id="caption-attachment-1579" class="wp-caption-text">Cống tròn bê tông Sông
                Đáy
              </figcaption>
            </figure>
            <blockquote><p>&gt;&gt;&gt;Bạn hãy xem ngay bản vẽ thiết kế ống cống tròn bê tông
              cốt thép đúc sẵn <a routerLink="" (click)="banVeThietKeOngCong()"
                                    rel="noopener noreferrer">tại đây</a></p>
            </blockquote>
            <table width="662">
              <tbody>
              <tr>
                <td style="width: 652px;" colspan="6"><strong>MỘT SỐ CHỈ TIÊU KỸ THUẬT CƠ BẢN CỦA CỐNG TRÒN BÊ TÔNG CỐT THÉP CÔNG NGHỆ RUNG LÕI TRUNG TÂM</strong></td>
              </tr>
              <tr>
                <td style="width: 652px;" colspan="6">MAIN SPECCIFIATION OF ROLLER COMPACTED REINFORCED CENTRAL CORE CONCRETE PIPE</td>
              </tr>
              <tr>
                <td style="width: 44px;"><strong>STT</strong></td>
                <td style="width: 109px;"><strong>Loại cống</strong> <br/> Type of pipe</td>
                <td style="width: 144px;"><strong>Đường kính trong </strong>  <br/> Internal diameter &nbsp;(mm)</td>
                <td style="width: 102px;"><strong>Chiều dài&nbsp; </strong>  <br/> Length (mm)</td>
                <td style="width: 101px;"><strong>Độ dày&nbsp;&nbsp; </strong> <br/> Thickness (mm)</td>
                <td style="width: 122px;"><strong>Trọng lượng cống </strong> <br/> Weight of pipe (kg)</td>
              </tr>
              <tr>
                <td style="width: 44px;">1</td>
                <td style="width: 109px;">D300</td>
                <td style="width: 144px;">300</td>
                <td style="width: 102px;">2500</td>
                <td style="width: 101px;">65</td>
                <td style="width: 122px;">500</td>
              </tr>
              <tr>
                <td style="width: 44px;">2</td>
                <td style="width: 109px;">D400</td>
                <td style="width: 144px;">400</td>
                <td style="width: 102px;">2500</td>
                <td style="width: 101px;">65</td>
                <td style="width: 122px;">630</td>
              </tr>
              <tr>
                <td style="width: 44px;">3</td>
                <td style="width: 109px;">D500</td>
                <td style="width: 144px;">500</td>
                <td style="width: 102px;">2500</td>
                <td style="width: 101px;">70</td>
                <td style="width: 122px;">915</td>
              </tr>
              <tr>
                <td style="width: 44px;">4</td>
                <td style="width: 109px;">D600</td>
                <td style="width: 144px;">600</td>
                <td style="width: 102px;">2500</td>
                <td style="width: 101px;">70</td>
                <td style="width: 122px;">980</td>
              </tr>
              <tr>
                <td style="width: 44px;">5</td>
                <td style="width: 109px;">D800</td>
                <td style="width: 144px;">800</td>
                <td style="width: 102px;">2500</td>
                <td style="width: 101px;">80</td>
                <td style="width: 122px;">1475</td>
              </tr>
              <tr>
                <td style="width: 44px;">6</td>
                <td style="width: 109px;">D1000</td>
                <td style="width: 144px;">1000</td>
                <td style="width: 102px;">2500</td>
                <td style="width: 101px;">100</td>
                <td style="width: 122px;">2300</td>
              </tr>
              <tr>
                <td style="width: 44px;">7</td>
                <td style="width: 109px;">D1050</td>
                <td style="width: 144px;">1050</td>
                <td style="width: 102px;">2500</td>
                <td style="width: 101px;">100</td>
                <td style="width: 122px;">3050</td>
              </tr>
              <tr>
                <td style="width: 44px;">8</td>
                <td style="width: 109px;">D1200</td>
                <td style="width: 144px;">1200</td>
                <td style="width: 102px;">2500</td>
                <td style="width: 101px;">120</td>
                <td style="width: 122px;">3440</td>
              </tr>
              <tr>
                <td style="width: 44px;">9</td>
                <td style="width: 109px;">D1250</td>
                <td style="width: 144px;">1250</td>
                <td style="width: 102px;">2500</td>
                <td style="width: 101px;">120</td>
                <td style="width: 122px;">3680</td>
              </tr>
              <tr>
                <td style="width: 44px;">10</td>
                <td style="width: 109px;">D1500</td>
                <td style="width: 144px;">1500</td>
                <td style="width: 102px;">2500</td>
                <td style="width: 101px;">140</td>
                <td style="width: 122px;">4510</td>
              </tr>
              <tr>
                <td style="width: 44px;">11</td>
                <td style="width: 109px;">D1800</td>
                <td style="width: 144px;">1800</td>
                <td style="width: 102px;">1500</td>
                <td style="width: 101px;">170</td>
                <td style="width: 122px;">3915</td>
              </tr>
              <tr>
                <td style="width: 44px;">12</td>
                <td style="width: 109px;">D2000</td>
                <td style="width: 144px;">2000</td>
                <td style="width: 102px;">1500</td>
                <td style="width: 101px;">170</td>
                <td style="width: 122px;">4350</td>
              </tr>
              <tr>
                <td style="width: 44px;">13</td>
                <td style="width: 109px;">D2500</td>
                <td style="width: 144px;">2500</td>
                <td style="width: 102px;">1500</td>
                <td style="width: 101px;">240</td>
                <td style="width: 122px;">8200</td>
              </tr>
              </tbody>
            </table>
            <blockquote><p><strong>Liên hệ ngay hotline 0968979040 để nhận báo giá <a
              routerLink="" (click)="baoGiaCongTron()">cống tròn</a> tới chân công
              trình với chiết khấu 2%</strong></p></blockquote>
            <p style="text-align: justify;">+ Nhà máy Sông Đáy 1: <strong>Cụm công nghiệp Phú
              Nghĩa, huyện Chương Mỹ, Hà Nội.</strong></p>
            <p style="text-align: justify;">+ Nhà máy Sông Đáy 2: <strong>Cụm công nghiệp Hà Mãn,
              Trí Quả, Thuận Thành, Bắc Ninh</strong></p>
            <ul>
              <li>Chúng tôi chuyên cung cấp cống tròn cho các công trình ngoài miền Bắc</li>
              <li style="text-align: justify;">
                <h3>Nhận ngay báo giá ống cống tròn bê tông cốt thép về các tỉnh Hà Nội,
                  Hải Phòng, Uông Bí, Cẩm Phả, Hạ Long, Quảng Ninh, Bắc Ninh, Hà Nam, Hải
                  Dương, Hải Phòng, Hưng Yên, Nam Định, Ninh Bình, Thái Bình, Thanh Hóa, Vĩnh
                  Phúc, Hòa Bình, Lai Châu, Sơn La,&#8230; vui lòng liên hệ Hotline
                  0968979040</h3>
              </li>
            </ul>
            <blockquote><p>Xem ngay báo giá cống hộp bê tông cốt thép <a
              routerLink="" (click)="baoGiaCongHop()">tại đây</a></p>
            </blockquote>
            <h2 style="text-align: justify;">TIÊU CHUẨN THIẾT KẾ CỐNG TRÒN BÊ TÔNG CỐT THÉP</h2>
            <ul style="text-align: justify;">
              <li>22TCN-272-05 &#8211; Tiêu chuẩn thiết kế cầu.</li>
              <li>AASHTO LRFD 2002 – Tiêu chuẩn thi công</li>
              <li>TCVN 9113-2012 &#8211; ống cống bê tông cốt thép thoát nước.</li>
              <li>TCVN 5574:2012 &#8211; Kết cấu bê tông và bê tông cốt thép. Tiêu chuẩn thiết kế.
              </li>
              <li>TCVN 6288: 1997 (ISO 1992) Dây thép vuốt nguội để làm cốt bê tông và sản xuất lưới
                thép hàn làm cốt.
              </li>
              <li>TCVN 9391: 2012 Lưới thép hàn dùng trong kết cấu bê tông cốt thép &#8211; Tiêu chuẩn
                thiết kế, thi công lắp đặt và nghiệm thu.
              </li>
            </ul>
            <blockquote>
              <p style="text-align: justify;">&gt;&gt;&gt;Bạn hãy xem ngay tiêu chuẩn thiết kế
                ống cống tròn bê tông cốt thép đúc sẵn <a
                  href="https://tailieu.vn/docview/tailieu/2015/20151126/peheo273/tcvn_9113_2012_7442.pdf?rand=575600"
                  target="_blank" rel="noopener noreferrer">tại đây</a></p>
            </blockquote>
            <h2 style="text-align: justify;">CÁC CHỦNG LOẠI CỐNG TRÒN</h2>
            <p style="text-align: justify;">Tùy theo hình thức cống tròn được chia làm nhiều
              loại khác nhau</p>
            <ol style="text-align: justify;">
              <li><strong>Dựa theo dây chuyền sản xuất:</strong></li>
            </ol>
            <p style="text-align: justify;">Được chia làm 3 loại chính: cống ly tâm, cống rung
              ép, cống quay ép</p>
            <ul style="text-align: justify;">
              <li>
                <h3>Ống cống tròn ly tâm đúc sẵn, cống bi bê tông đúc sẵn</h3>
              </li>

              <p style="text-align: justify;">Cống bi sử dụng biện pháp quay ly tâm thường cho
                chất lượng sản phẩm không đều do cốt thép phân bố không đều, mối hàn không chắc…, năng
                suất thấp, chủng loại sản phẩm không đa dạng, bề mặt làm việc trong lòng cống lại
                không đảm bảo. Trung bình từ 30 phút đến 50 phút cho ra 1 đốt cống bi bê tông
                đúc sẵn.</p>
              <figure id="attachment_1580" aria-describedby="caption-attachment-1580"
                      style="width: 700px" class="wp-caption aligncenter"><img
                class="Cống ly tâm , cống bi bê tông đúc sẵn wp-image-1580"
                title="Cống ly tâm , cống bi bê tông đúc sẵn"
                src="https://caukienbetongmienbac.com/wp-content/uploads/2019/05/cong-ly-tam.jpg"
                alt="Cong ly tam , cong bi be tong duc san" width="700" height="525"
                srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/05/cong-ly-tam.jpg 768w, https://caukienbetongmienbac.com/wp-content/uploads/2019/05/cong-ly-tam-300x225.jpg 300w, https://caukienbetongmienbac.com/wp-content/uploads/2019/05/cong-ly-tam-600x450.jpg 600w"
                sizes="(max-width: 700px) 100vw, 700px"/>
                <figcaption id="caption-attachment-1580" class="wp-caption-text">Cống ly tâm , cống bi
                  bê tông đúc sẵn
                </figcaption>
              </figure>
              <figure id="attachment_1672" aria-describedby="caption-attachment-1672"
                      style="width: 700px" class="wp-caption aligncenter"><img
                class="cống ly tâm chất lượng kém wp-image-1672"
                title="cống ly tâm chất lượng kém"
                src="https://caukienbetongmienbac.com/wp-content/uploads/2019/05/cong-ly-tam-chat-luong-kem.jpg"
                alt="cong ly tam chat luong kem" width="700" height="525"
                srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/05/cong-ly-tam-chat-luong-kem.jpg 2560w, https://caukienbetongmienbac.com/wp-content/uploads/2019/05/cong-ly-tam-chat-luong-kem-300x225.jpg 300w, https://caukienbetongmienbac.com/wp-content/uploads/2019/05/cong-ly-tam-chat-luong-kem-768x576.jpg 768w, https://caukienbetongmienbac.com/wp-content/uploads/2019/05/cong-ly-tam-chat-luong-kem-1024x768.jpg 1024w, https://caukienbetongmienbac.com/wp-content/uploads/2019/05/cong-ly-tam-chat-luong-kem-600x450.jpg 600w"
                sizes="(max-width: 700px) 100vw, 700px"/>
                <figcaption id="caption-attachment-1672" class="wp-caption-text">Cống ly tâm chất
                  lượng kém
                </figcaption>
              </figure>
            </ul>
            <div class="mceTemp">
              <ul>
                <li>
                  <h3>Cống tròn quay ép</h3>
                </li>
                <p style="text-align: justify;">Cống sử dụng biện pháp quay ép cho chất lượng sản
                  phẩm tốt hơn cống ly tâm, cốt thép được hàn tự động, năng suất cao, tuy nhiên
                  độ đặc chắc của bê tông không cao do phương thức sản xuất là quay ép tác dụng
                  lực theo phương ngang từ trong cống, không tạo sự đồng đều và nén chặc của bê
                  tông, trong lòng cống thường có hiện tường vằn lồng thép. Năng suất trung
                  bình 10 phút đến 15 phút cho ra 1 đốt cống</p>
                <figure id="attachment_1581" aria-describedby="caption-attachment-1581"
                        style="width: 700px" class="wp-caption aligncenter"><img
                  class="cống tròn quay ép wp-image-1581" title="cống tròn quay ép"
                  src="https://caukienbetongmienbac.com/wp-content/uploads/2019/05/cong-trong-quay-ep.jpg"
                  alt="Cong tron quay ep" width="700" height="493"
                  srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/05/cong-trong-quay-ep.jpg 768w, https://caukienbetongmienbac.com/wp-content/uploads/2019/05/cong-trong-quay-ep-300x211.jpg 300w, https://caukienbetongmienbac.com/wp-content/uploads/2019/05/cong-trong-quay-ep-600x423.jpg 600w"
                  sizes="(max-width: 700px) 100vw, 700px"/>
                  <figcaption id="caption-attachment-1581" class="wp-caption-text">Cống tròn quay
                    ép
                  </figcaption>
                </figure>
                <p style="text-align: justify;">Cống sử dụng biện pháp rung ép cũng tương tự như
                  công nghệ quay ép chỉ khác ở phương thức sản xuất là công nghệ rung lõi trung
                  tâm, dưới đáy của khuôn cống là bàn rung với cường độ rung rất lớn, tác
                  dụng lực theo phương thằng đứng nên bê tông rất đặc chắc. Năng suất cao trung
                  bình từ 4 đến 6 phút cho ra 1 đốt cống.</p>

                <figure id="attachment_1320" aria-describedby="caption-attachment-1320"
                        style="width: 700px" class="wp-caption aligncenter"><img
                  class="wp-image-1320"
                  src="../../../assets/Congsongday_File_Pictures/CONG TRON/1.jpg"
                  alt="ong cong tron su dung cong nghe rung loi trung tam cua Dan Mach" width="700"
                  height="694"
                  sizes="(max-width: 700px) 100vw, 700px"/>
                  <figcaption id="caption-attachment-1320" class="wp-caption-text">Ống cống tròn
                    sử dụng công nghệ rung lõi trung tâm của Đan Mạch.
                  </figcaption>
                </figure>
              </ul>
            </div>


            <ol style="text-align: justify;" start="2">
              <li style="text-align: justify;"><strong>Dựa theo tải trọng</strong></li>
            </ol>
            <p style="text-align: justify;">Có 2 loại tải trọng chính : Tải VH (vỉa hẻ), Tải
              HL-93 (Đường ô tô)</p>
            <ul style="text-align: justify;">
              <li>
                <h3>Cống tròn tải VH (Vỉa hè) :</h3>
              </li>
            </ul>
            <p style="text-align: justify;">Được sử dụng cho những tuyến đường dành cho người
              đi bộ, cốt thép ít hơn so với cống HL-93</p>
            <ul style="text-align: justify;">
              <li>
                <h3>Cống tròn tải HL-93 (cống qua đường hay cống chịu lực)</h3>
                <p>
                  <figure id="attachment_1618" aria-describedby="caption-attachment-1618"
                          style="width: 700px" class="wp-caption aligncenter"><img
                    class="Cống tròn bê tông cốt thép đúc sẵn wp-image-1618 size-full"
                    title="Cống tròn bê tông cốt thép đúc sẵn"
                    src="../../../assets/Congsongday_File_Pictures/CONG TRON/2.jpg"
                    alt="Cong tron be tong cot thep duc san" width="700" height="456"
                    sizes="(max-width: 700px) 100vw, 700px"/>
                    <figcaption id="caption-attachment-1618" class="wp-caption-text">Cống tròn bê tông
                      cốt thép đúc sẵn
                    </figcaption>
                  </figure>
              </li>
            </ul>
            <p style="text-align: justify;">Cống tròn chịu lực được sử dụng cho những tuyến
              đường có xe ô tô đi qua</p>
            <blockquote><p>&gt;&gt; Bạn muốn tìm hiểu thêm về sản phẩm cống hộp đúc sẵn hãy click<a
              routerLink="" (click)="baoGiaCongHop()"
              rel="noopener noreferrer"> tại đây</a></p></blockquote>
            <ol style="text-align: justify;" start="3">
              <li><strong>Dựa theo kích thước</strong></li>
            </ol>
            <p style="text-align: justify;">Thông thường ống cống tròn đúc sẵn có kích thước
              từ D300 đến D2500 tùy theo nhu cầu thoát nươc của từng dự án.</p>
            <ul>


                  <figure id="attachment_1321" aria-describedby="caption-attachment-1321"
                          style="width: 700px" class="wp-caption aligncenter"><img
                    class="Ống cống tròn bê tông cốt thép đúc sẵn D300 wp-image-1321"
                    title="Ống cống tròn bê tông cốt thép đúc sẵn D300"
                    src="https://caukienbetongmienbac.com/wp-content/uploads/2019/05/Cống-tròn-bê-tông-cốt-thép-D300.jpg"
                    alt="Ong cong tron be tong cot thep duc san D300" width="700" height="472"
                    srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/05/Cống-tròn-bê-tông-cốt-thép-D300.jpg 724w, https://caukienbetongmienbac.com/wp-content/uploads/2019/05/Cống-tròn-bê-tông-cốt-thép-D300-300x202.jpg 300w, https://caukienbetongmienbac.com/wp-content/uploads/2019/05/Cống-tròn-bê-tông-cốt-thép-D300-600x404.jpg 600w"
                    sizes="(max-width: 700px) 100vw, 700px"/>
                    <figcaption id="caption-attachment-1321" class="wp-caption-text">Ống cống tròn bê
                      tông cốt thép đúc sẵn D300
                    </figcaption>
                  </figure>

                  <figure id="attachment_1322" aria-describedby="caption-attachment-1322"
                          style="width: 700px" class="wp-caption aligncenter"><img
                    class="Ống cống tròn bê tông cốt thép đúc sẵn D500 wp-image-1322"
                    title="Ống cống tròn bê tông cốt thép đúc sẵn D500"
                    src="https://caukienbetongmienbac.com/wp-content/uploads/2019/05/Cống-tròn-bê-tông-cốt-thép-D500.jpg"
                    alt="Ong cong tron be tong cot thep duc san D500" width="700" height="405"
                    srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/05/Cống-tròn-bê-tông-cốt-thép-D500.jpg 636w, https://caukienbetongmienbac.com/wp-content/uploads/2019/05/Cống-tròn-bê-tông-cốt-thép-D500-300x174.jpg 300w, https://caukienbetongmienbac.com/wp-content/uploads/2019/05/Cống-tròn-bê-tông-cốt-thép-D500-600x347.jpg 600w"
                    sizes="(max-width: 700px) 100vw, 700px"/>
                    <figcaption id="caption-attachment-1322" class="wp-caption-text">Ống cống tròn bê
                      tông cốt thép đúc sẵn D500
                    </figcaption>
                  </figure>


                  <figure id="attachment_1323" aria-describedby="caption-attachment-1323"
                          style="width: 700px" class="wp-caption aligncenter"><img
                    class="size-full wp-image-1323"
                    src="https://caukienbetongmienbac.com/wp-content/uploads/2019/05/Cống-tròn-bê-tông-cốt-thép-đúc-sẵn-D600.jpg"
                    alt="Ong cong tron be tong cot thep duc san D600" width="700" height="411"
                    srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/05/Cống-tròn-bê-tông-cốt-thép-đúc-sẵn-D600.jpg 700w, https://caukienbetongmienbac.com/wp-content/uploads/2019/05/Cống-tròn-bê-tông-cốt-thép-đúc-sẵn-D600-300x176.jpg 300w, https://caukienbetongmienbac.com/wp-content/uploads/2019/05/Cống-tròn-bê-tông-cốt-thép-đúc-sẵn-D600-600x352.jpg 600w"
                    sizes="(max-width: 700px) 100vw, 700px"/>
                    <figcaption id="caption-attachment-1323" class="wp-caption-text">Ống cống tròn bê
                      tông cốt thép đúc sẵn D600
                    </figcaption>
                  </figure>


                  <figure id="attachment_1324" aria-describedby="caption-attachment-1324"
                          style="width: 693px" class="wp-caption aligncenter"><img
                    class="Ống cống tròn bê tông cốt thép đúc sẵn D800 wp-image-1324 size-full"
                    title="Ống cống tròn bê tông cốt thép đúc sẵn D800"
                    src="https://caukienbetongmienbac.com/wp-content/uploads/2019/05/Cống-tròn-bê-tông-thoát-nước-D800.jpg"
                    alt="ong cong tron be tong cot thep duc san D800" width="693" height="410"
                    srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/05/Cống-tròn-bê-tông-thoát-nước-D800.jpg 693w, https://caukienbetongmienbac.com/wp-content/uploads/2019/05/Cống-tròn-bê-tông-thoát-nước-D800-300x177.jpg 300w, https://caukienbetongmienbac.com/wp-content/uploads/2019/05/Cống-tròn-bê-tông-thoát-nước-D800-600x355.jpg 600w"
                    sizes="(max-width: 693px) 100vw, 693px"/>
                    <figcaption id="caption-attachment-1324" class="wp-caption-text">Ống cống tròn bê
                      tông cốt thép đúc sẵn D800
                    </figcaption>
                  </figure>


                  <figure id="attachment_1325" aria-describedby="caption-attachment-1325"
                          style="width: 700px" class="wp-caption aligncenter"><img
                    class="Ống cống tròn bê tông cốt thép đúc sẵn D1250 wp-image-1325"
                    title="Ống cống tròn bê tông cốt thép đúc sẵn D1250"
                    src="https://caukienbetongmienbac.com/wp-content/uploads/2019/05/Cống-tròn-bê-tông-cốt-thép-đúc-sẵn-D1250.jpg"
                    alt="ong cong tron be tong cot thep duc san D1250" width="700" height="453"
                    srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/05/Cống-tròn-bê-tông-cốt-thép-đúc-sẵn-D1250.jpg 637w, https://caukienbetongmienbac.com/wp-content/uploads/2019/05/Cống-tròn-bê-tông-cốt-thép-đúc-sẵn-D1250-300x194.jpg 300w, https://caukienbetongmienbac.com/wp-content/uploads/2019/05/Cống-tròn-bê-tông-cốt-thép-đúc-sẵn-D1250-600x388.jpg 600w"
                    sizes="(max-width: 700px) 100vw, 700px"/>
                    <figcaption id="caption-attachment-1325" class="wp-caption-text">Ống cống tròn bê
                      tông cốt thép đúc sẵn D1250
                    </figcaption>
                  </figure>
                  <figure id="attachment_1327" aria-describedby="caption-attachment-1327"
                          style="width: 700px" class="wp-caption aligncenter"><img
                    class="Ống cống bi bê tông cốt thép đúc sẵn D2500 wp-image-1327"
                    title="Ống cống bi bê tông cốt thép đúc sẵn D2500"
                    src="../../../assets/Congsongday_File_Pictures/CONG TRON/3.jpg"
                    alt="Ong cong bi be tong cot thep duc san D2500" width="700" height="484"
                    sizes="(max-width: 700px) 100vw, 700px"/>
                    <figcaption id="caption-attachment-1327" class="wp-caption-text">Ống cống bi bê
                      tông cốt thép đúc sẵn D2500
                    </figcaption>
                  </figure>

            </ul>
            <blockquote><p>&gt;&gt;&gt; Bạn hãy vào xem tiêu chuẩn quốc gia về ống cống bê tông thoát
              nước<a
                routerLink="" (click)="tieuChuanQuocGiaOngBeTongCotThepThoatNuoc()">
                tại đây</a></p></blockquote>
            <h2 style="text-align: justify;">CHỨNG NHẬN ỐNG CỐNG TRÒN BÊ TÔNG CỐT THÉP</h2>
            <p>&nbsp;</p>
            <p><img
              class="Giấy chứng nhận cống tròn phù hợp tiêu chuẩn 9113-2012 wp-image-1294 aligncenter"
              title="Giấy chứng nhận cống tròn phù hợp tiêu chuẩn 9113-2012"
              src="https://caukienbetongmienbac.com/wp-content/uploads/2019/05/Giấy-chứng-nhận-cống-tròn-phù-hợp-tiêu-chuẩn-9113-2012-745x1024.jpg"
              alt="Giấy chứng nhận cống tròn phù hợp tiêu chuẩn 9113-2012" width="700" height="962"
              srcset="https://caukienbetongmienbac.com/wp-content/uploads/2019/05/Giấy-chứng-nhận-cống-tròn-phù-hợp-tiêu-chuẩn-9113-2012-745x1024.jpg 745w, https://caukienbetongmienbac.com/wp-content/uploads/2019/05/Giấy-chứng-nhận-cống-tròn-phù-hợp-tiêu-chuẩn-9113-2012-218x300.jpg 218w, https://caukienbetongmienbac.com/wp-content/uploads/2019/05/Giấy-chứng-nhận-cống-tròn-phù-hợp-tiêu-chuẩn-9113-2012-768x1055.jpg 768w, https://caukienbetongmienbac.com/wp-content/uploads/2019/05/Giấy-chứng-nhận-cống-tròn-phù-hợp-tiêu-chuẩn-9113-2012-600x824.jpg 600w, https://caukienbetongmienbac.com/wp-content/uploads/2019/05/Giấy-chứng-nhận-cống-tròn-phù-hợp-tiêu-chuẩn-9113-2012.jpg 1080w"
              sizes="(max-width: 700px) 100vw, 700px"/></p>
            <p style="text-align: center;">Giấy chứng nhận cống tròn phù hợp tiêu chuẩn 9113-2012</p>
            <blockquote><p><em>&gt; Bạn hãy xem các<a
              routerLink="" (click)="chungChiChatLuong()"> chứng nhận
              sản phẩm</a> công ty Sông Đáy</em></p></blockquote>
            <h2 style="text-align: justify;">MỘT SỐ CÔNG TRÌNH TIÊU BIỂU</h2>
            <ul>

                  <figure id="attachment_1328" aria-describedby="caption-attachment-1328"
                          style="width: 700px" class="wp-caption aligncenter"><img
                    class="Dự án công nghệ cao Láng Hòa Lạc wp-image-1328"
                    title="Dự án công nghệ cao Láng Hòa Lạc"
                    src="../../../assets/Congsongday_File_Pictures/CONG TRON/90167760_242845660183129_4119869300477526016_n.jpg"
                    alt="Du an cong nghe cao Lang Hoa Lac" width="700" height="338"
                    sizes="(max-width: 700px) 100vw, 700px"/>
                    <figcaption id="caption-attachment-1328" class="wp-caption-text">Dự án công
                      nghệ cao Láng Hòa Lạc
                    </figcaption>
                  </figure>

            </ul>
            <p style="text-align: justify;">Dự án công nghệ cao Láng Hòa Lạc với quy mô hơn
              1.500 ha là một khu công nghê cao được xây dựng trên địa bàn huyện <a
                href="https://vi.wikipedia.org/wiki/Th%E1%BA%A1ch_Th%E1%BA%A5t">Thạch Thất</a>, tp. <a
                href="https://vi.wikipedia.org/wiki/H%C3%A0_N%E1%BB%99i">Hà Nội</a>, <a
                href="https://vi.wikipedia.org/wiki/Vi%E1%BB%87t_Nam">Việt Nam</a>. Các chủng loại
              cống tròn công ty Sông Đáy cấp vào dự án từ D300 đến D2500, trong đó có các
              chủng loại cống với thiết kế đặc biệt để phù hợp với những tuyến đường
              có xe tải trong cao đi qua.</p>
            <ul>

                  <figure id="attachment_1329" aria-describedby="caption-attachment-1329"
                          style="width: 700px" class="wp-caption aligncenter"><img
                    class="Dự án vincity Ocean park Gia Lâm Hà Nội wp-image-1329"
                    title="Dự án vincity Ocean park Gia Lâm Hà Nội"
                    src="../../../assets/Congsongday_File_Pictures/CONG TRON/4.jpg"
                    alt="Dự án vincity Ocean park Gia Lâm Hà Nội" width="700" height="466"
                    sizes="(max-width: 700px) 100vw, 700px"/>
                    <figcaption id="caption-attachment-1329" class="wp-caption-text">Dự án vincity
                      Ocean park Gia Lâm Hà Nội
                    </figcaption>
                  </figure>

            </ul>
            <p style="text-align: justify;">Quy mô hơn 300 ha, được khởi công từ đầu năm 2018. Có
              thể nói đây là 1 trong những công trình trọng điểm của chủ đầu tư Vingroup,
              chỉ gần 1 năm đã hoàn thành 90% hệ thống thoát nước và hạ tầng . Các chủng
              loại cống tròn công ty Sông Đáy cấp vào dự án từ D300 đến D2500 trong đó chủ
              yếu là cống thoát nước mưa và thoát nước thải.</p>
            <p style="text-align: justify;">Công ty Sông Đáy xin chân thành cám ơn bạn đã đọc hết bài
              viết này, bổ sung thông tin nhận biết hữu ích cũng như có phương án tìm cho công trình
              của mình đơn vị cung cấp cống tròn đúc sẵn chất lượng nhất.</p>
            <p style="text-align: justify;">Đặc biệt, bạn hãy liên hệ Hotline của Sông Đáy để được Tư
              vấn viên đến trực tiếp sau 20 phút hoặc bất kì thời gian nào bạn thấy tiện.</p>
            <p style="text-align: justify;">Công ty Sông Đáy luôn mong muốn bạn có được sản phẩm
              cống tròn bê tông cốt thép chất lượng cho công trình của mình</p>
            <p style="text-align: justify;"><strong>Mọi chi tiết xin liên hệ trực tiếp hoặc gọi
              điện</strong></p>
            <p style="text-align: justify;"><strong>Công ty Cp VLXD Sông Đáy</strong></p>
            <p style="text-align: justify;"><strong>Văn phòng GD: Tầng 4 tòa nhà Hà Thành Plaza,
              102 Thái Thịnh, Đống Đa, Hà Nội</strong></p>
            <p style="text-align: justify;"><strong>Nhà máy sản xuất:</strong></p>
            <ul style="text-align: justify;">
              <li>Nhà máy 1: Cụm công nghiệp Phú Nghĩa, huyện Chương Mỹ, Hà Nội.</li>
              <li>Nhà máy 2: Cụm công nghiệp Hà Mãn, Trí Quả, Thuận Thành, Bắc Ninh</li>
            </ul>
            <p style="text-align: justify;"><strong>Hotline: 0968979040</strong></p>
            <p style="text-align: justify;"><strong>Mail: quangtran.songday@gmail.com</strong></p>
            <p><strong>website: <a routerLink="/">https://congsongday.com</a></strong>
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<div class="fb-comments" data-width="" data-numposts="5"></div>
