<div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--description panel entry-content wc-tab" id="tab-description"
     role="tabpanel" aria-labelledby="tab-title-description" style="display: block;">


  <h1>Cống kích ngầm-Jacking Pipe</h1>
  <p>Cống kích ngầm là công nghệ thi công đào hầm với ưu điểm là không đào hở . Đây
    là công nghệ được áp dụng rộng rãi ở nhiều nước phát triển trong đó có Nhật Bản.</p>
  <p>Hiện công nghệ này đang được dịch tiêu chuẩn công nghệ vào Việt Nam.</p>
  <figure id="attachment_991" aria-describedby="caption-attachment-991" style="width: 600px"
          class="wp-caption aligncenter"><a
    rel="https://caukienbetongmienbac.com/san-pham/cong-kich-ngam-jacking-pipe/ noopener noreferrer"><img
    class="wp-image-991 size-full" src="../../../assets/Congsongday_File_Pictures/CONG KICH NGAM/1.jpg"
    alt="Cống kích ngầm D1200" width="4095" height="2730"
    sizes="(max-width: 4095px) 100vw, 4095px"></a>
    <figcaption id="caption-attachment-991" class="wp-caption-text">Cống kích ngầm D1200</figcaption>
  </figure>
  <p>Dự án Hệ thống xử lý nước thải Yên Xá TP. Hà Nội sử dụng nguồn vốn vay ODA Nhật Bản, với tổng mức đầu tư hơn 61 tỷ
    Yên (tương đương hơn 16.293 tỷ đồng). Trong đó vốn vay ODA chiếm 85%, còn lại là vốn đối ứng của Thành phố
    (15%).</p>
  <figure id="attachment_992" aria-describedby="caption-attachment-992" style="width: 600px"
          class="wp-caption aligncenter"><a
    rel="https://caukienbetongmienbac.com/san-pham/cong-kich-ngam-jacking-pipe/ noopener noreferrer"><img
    class="wp-image-992 size-full"
    src="../../../assets/Congsongday_File_Pictures/CONG KICH NGAM/2.jpg"
    alt="Hố ga lắp ghép" width="1200" height="800"
    sizes="(max-width: 1200px) 100vw, 1200px"></a>
    <figcaption id="caption-attachment-992" class="wp-caption-text">Hố ga lắp ghép</figcaption>
  </figure>
  <p>Đây là công nghệ thi công lần đầu tiên được áp dụng tại Hà Nội với ưu điểm là thi công lắp đặt cống không phải đào
    hở, tránh phải giải phóng mặt bằng, phát sinh chi phí đền bù, quá trình thi công không tạo ra tiếng ồn và bụi, không
    gây ảnh hưởng đến hoạt động giao thông nơi dự án triển khai.<br>
    Nhưng sản phẩm cống đầu tiên đã được Công ty công bố cho các nhà thầu và được chấp thuận lựa chọn là sản phẩm của dự
    án.</p>
  <p>Để biết thêm thông tin chi tiết về Cống kích ngầm và cấu kiện bê
    tông đúc sẵn vui lòng liên hệ 0968979040.</p>
  <figure id="attachment_994" aria-describedby="caption-attachment-994" style="width: 600px"
          class="wp-caption aligncenter"><a
    rel="https://caukienbetongmienbac.com/san-pham/cong-kich-ngam-jacking-pipe/ noopener noreferrer"><img
    class="wp-image-994 size-full" src="../../../assets/Congsongday_File_Pictures/CONG KICH NGAM/3.jpg"
    alt="Triển lãm cống kích ngầm ở Việt Nam" width="6000" height="4000"
    sizes="(max-width: 6000px) 100vw, 6000px"></a>
    <figcaption id="caption-attachment-994" class="wp-caption-text">Triển lãm cống kích ngầm ở Việt Nam
    </figcaption>
  </figure>
  <p>&nbsp;</p>
</div>
<div class="fb-comments" data-width="" data-numposts="5"></div>
